Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

doc: Fix docsig SIG302 issues
  pyproject.toml
  pywikibot/comms/http.py
  pywikibot/date.py
  pywikibot/site/_extensions.py
Due: Framework

IMPR: raise TypeError instead of ValueError if parameter is not a mapping
  pywikibot/i18n.py
Due: Framework

doc: add snyk badge
  README.rst
Due: none

doc: remove documentation for removed parametes in WikiBlameMixin
  pywikibot/page/_toolforge.py
Due: Framework

doc: Fix docstring in GeneratorsMixin.pagetemplates
  pywikibot/site/_generators.py
Due: Framework

doc: Fix docstring in login.py
  pywikibot/login.py
Due: Framework

IMPR: use a Lock object in PywikibotCookieJar for thread-safe saving
  pywikibot/comms/http.py
Due: Framework

[10.2.0] Publish Pywikibot 10.2
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/CHANGELOG.rst
Due: Framework, Scripts

[10.3] Prepare next release
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/page/_toolforge.py
  scripts/__init__.py
  scripts/pyproject.toml
Due: Framework, Scripts

cleanup: deprecate Family.categories_last attribute
  pywikibot/families/wowwiki_family.py
  pywikibot/family.py
  pywikibot/textlib.py
Due: Framework

IMPR: create a Site with a given url even if the url ends with a slash
  docs/api_ref/pywikibot.rst
  pywikibot/__init__.py
  pywikibot/family.py
  tests/basesite_tests.py
  tests/utils.py
Due: Framework, Tests

IMPR: Don't fix broken redirects if namespace of source and target are different
  scripts/redirect.py
Due: Scripts

IMPR: Add -cookies option to login script to login with cookies files only
  pywikibot/scripts/login.py
Due: Framework

cleanup: Only use api error message and remove _api_error dict
  pywikibot/login.py
Due: Framework

IMPR: Handle MoveTarget processing in a separate method
  scripts/redirect.py
Due: Scripts

[IMPR] Try another move to fix redirect targets
  scripts/redirect.py
Due: Scripts

[bugfix] Fix i18n doctests
  pywikibot/i18n.py
Due: Framework

tests: update pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
Due: none

json: use tabs with i18n json files
  .pre-commit-config.yaml
  tests/i18n/test/de.json
  tests/i18n/test/en.json
  tests/i18n/test/fr.json
  tests/i18n/test/fy.json
  tests/i18n/test/ja.json
  tests/i18n/test/nl.json
Due: Tests

Tests: wiktionary:ar is case-sensitive and does not uppercase the first letter
  tests/redirect_bot_tests.py
Due: Tests

[tests] Add a copyright fixer as pre-commit hook
  .pre-commit-config.yaml
  scripts/maintenance/__init__.py
  tests/hooks/__init__.py
  tests/hooks/copyright_fixer.py
  tests/setup_tests.py
Due: Tests, Scripts

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
