Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

---
codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: true
    patch:
      default:
        enabled: true
    changes:
      default:
        enabled: true
  ignore:
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - scripts/create_isbn_edition.py
    - scripts/userscripts/
    - tests/pwb/
  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:
  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

doc: Provide security policy with Pywikibot repository
  docs/SECURITY.rst
  docs/codeofconduct.rst
  docs/index.rst
Due: none

cleanup: Remove deprecated GeneratorsMixin.alllinks, keep RST docs
  ROADMAP.rst
  docs/api_ref/pywikibot.site.rst
  pywikibot/site/_generators.py
Due: Framework

fix: update license declaration to SPDX string due to PEP639
  pyproject.toml
Due: none

Add missing period in Release history section
  README.rst
Due: none

Add generated password file to gitignore list
  .gitignore
Due: none

Fix extracting password line
  pywikibot/login.py
Due: Framework

[10.7.3] Publish Pywikibot 10.7.3 stable release
  .gitignore
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/login.py
Due: Framework

doc: Update documentation after stable 10.7.3 release
  HISTORY.rst
  pywikibot/__metadata__.py
Due: Framework

tests: Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

tests: Fix label keys for WD item Q60
  tests/wikibase_tests.py
Due: Tests

Fix extracting password line
  HISTORY.rst
  pywikibot/__metadata__.py
  pywikibot/login.py
Due: Framework

[10.7.3] Publish Pywikibot 10.7.4 stable release
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/login.py
Due: Framework

tests: Add tests for free threading Python
  .github/workflows/pywikibot-ci.yml
Due: none

tests: free threading Python 3.15 is not available yet
  .github/workflows/pywikibot-ci.yml
Due: none

tests: Disable file-based check in test_eval_security on Python > 3.9
  tests/login_tests.py
Due: Tests

tests: decorate HttpsCertificateTestCase as expectedFailure if THREADING_FREE
  pywikibot/tools/__init__.py
  tests/http_tests.py
Due: Framework, Tests

tests: Import unittest directly from standard library
  tests/basesite_tests.py
  tests/diff_tests.py
  tests/family_tests.py
  tests/fixing_redirects_tests.py
  tests/i18n_tests.py
  tests/interwiki_link_tests.py
  tests/login_tests.py
  tests/namespace_tests.py
  tests/noreferences_tests.py
  tests/patrolbot_tests.py
  tests/timestripper_tests.py
  tests/user_tests.py
  tests/weblinkchecker_tests.py
Due: Tests

tests: Force GIL "off" due to mwparserfromhell issue as suggested by warning
  .github/workflows/pywikibot-ci.yml
Due: none

tests: Support GraalPy and add it to Github test actions
  .github/workflows/pywikibot-ci.yml
  pywikibot/throttle.py
  pywikibot/userinterfaces/gui.py
  requirements.txt
  setup.py
Due: Framework

isort: set standard library based on Python 3.9
  pyproject.toml
Due: none

Fix pyproject.toml content
  pyproject.toml
Due: none

tests: GraalPy needs more than 45 minutes to process
  .github/workflows/pywikibot-ci.yml
Due: none

The script "dataextend.py" was removed from Pywikibot
  pyproject.toml
Due: none

doc: Update Sphinx
  docs/conf.py
  docs/requirements.txt
Due: none

cleanup: Remove Python 2.4 code
  pywikibot/__init__.py
Due: Framework

tests: Update precommit hooks
  .pre-commit-config.yaml
Due: none

Revert "doc: Update Sphinx"
  docs/conf.py
  docs/requirements.txt
Due: none

Use Sphinx 8.2.3
  docs/requirements.txt
Due: none

Update Pywikibot version to confirm online documentation up to date
  pywikibot/__metadata__.py
Due: Framework

Revert "Use Sphinx 8.2.3"
  docs/conf.py
  docs/requirements.txt
  pywikibot/__metadata__.py
Due: Framework

Revert^2 "doc: Update Sphinx"
  docs/conf.py
  docs/requirements.txt
Due: none
