Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

addwikis: Show the difference instead of the new list
  scripts/maintenance/addwikis.py
Due: Scripts

[exceptions] Backport Exception.add_note() for Python < 3.11
  pywikibot/backports.py
  pywikibot/exceptions.py
  tests/__init__.py
  tests/exceptions_tests.py
Due: Framework, Tests

Move copyright headers above module docstrings
  pywikibot/comms/http.py
  pywikibot/data/api/_requests.py
  pywikibot/logentries.py
  pywikibot/time.py
  pywikibot/version.py
  tests/__init__.py
  tests/api_tests.py
  tests/pwb_tests.py
Due: Framework, Tests

IMPR: Show a gracefull warning if Graphviz is not installed
  scripts/category_graph.py
Due: Scripts

config: Set the default pickle protocol to 5
  ROADMAP.rst
  pywikibot/config.py
Due: Framework

IMPR: show Pywikibot version in deprecation warnings for config variables
  pywikibot/config.py
Due: Framework

Revert "[exceptions] Backport Exception.add_note() for Python < 3.11"
  pywikibot/backports.py
  pywikibot/exceptions.py
  tests/__init__.py
  tests/exceptions_tests.py
Due: Framework, Tests

doc: Update ROADMAP.rst, AUTHORS.rst and CHANGELOG.rst
  AUTHORS.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

UA: Cleanup UA format string
  pywikibot/comms/http.py
  pywikibot/config.py
  tests/dry_site_tests.py
  tests/http_tests.py
Due: Framework, Tests

config: set minthrottle to 0.1 due to WM Bot Policy
  pywikibot/config.py
Due: Framework

UA: use URL to user page in user agent
  pywikibot/comms/http.py
  tests/dry_site_tests.py
Due: Framework, Tests

[11] Publish Pywikibot 11
  HISTORY.rst
  ROADMAP.rst
  docs/api_ref/family.rst
  pywikibot/__metadata__.py
Due: Framework

[11.1] Prepare next release
  .pre-commit-config.yaml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
  scripts/pyproject.toml
Due: Framework, Scripts

Move copyright headers above module docstrings
  pywikibot/date.py
  pywikibot/login.py
  pywikibot/scripts/login.py
  pywikibot/specialbots/_upload.py
  pywikibot/userinterfaces/gui.py
  pywikibot/userinterfaces/terminal_interface_base.py
  scripts/interwiki.py
Due: Framework, Scripts

Move copyright headers above module docstrings
  pywikibot/site/_basesite.py
  pywikibot/site/_decorators.py
  pywikibot/site/_extensions.py
  pywikibot/site/_generators.py
  pywikibot/site/_namespace.py
  pywikibot/tools/__init__.py
  pywikibot/tools/_deprecate.py
  pywikibot/tools/itertools.py
  scripts/revertbot.py
  tests/site_tests.py
  tests/wikibase_tests.py
Due: Framework, Tests, Scripts

Move copyright headers above module docstrings
  pywikibot/_wbtypes.py
  pywikibot/page/_user.py
  pywikibot/page/_wikibase.py
  pywikibot/scripts/generate_user_files.py
  pywikibot/scripts/wrapper.py
  pywikibot/site/_datasite.py
  scripts/coordinate_import.py
  scripts/harvest_template.py
  scripts/replicate_wiki.py
  setup.py
  tests/dry_site_tests.py
Due: Framework, Tests, Scripts

Move copyright headers above module docstrings
  pywikibot/editor.py
  pywikibot/family.py
  pywikibot/i18n.py
  scripts/pagefromfile.py
Due: Framework, Scripts

Move copyright headers above module docstrings
  docs/conf.py
  pywikibot/__metadata__.py
  pywikibot/backports.py
  pywikibot/bot_choice.py
  pywikibot/comms/eventstreams.py
  pywikibot/diff.py
  pywikibot/page/_collections.py
  pywikibot/proofreadpage.py
  pywikibot/tools/djvu.py
  scripts/__init__.py
  scripts/category_graph.py
  scripts/transferbot.py
  tests/family_tests.py
  tests/http_tests.py
  tests/script_tests.py
  tests/tools_threading_tests.py
Due: Framework, Tests, Scripts

Move copyright headers above module docstrings
  pywikibot/__init__.py
  pywikibot/bot.py
  pywikibot/page/_basepage.py
  pywikibot/page/_category.py
  pywikibot/page/_filepage.py
  pywikibot/page/_links.py
  pywikibot/page/_page.py
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/pagegenerators/_filters.py
  pywikibot/pagegenerators/_generators.py
  pywikibot/site/_apisite.py
  pywikibot/textlib.py
  pywikibot/throttle.py
Due: Framework

Move copyright headers above module docstrings
  conftest.py
  pywikibot/site/_obsoletesites.py
  pywikibot/specialbots/__init__.py
  pywikibot/userinterfaces/_interface_base.py
  tests/echo_tests.py
  tests/hooks/__init__.py
  tests/hooks/copyright_fixer.py
  tests/linter_tests.py
  tests/mysql_tests.py
  tests/pwb/print_argv.py
  tests/pwb/print_unicode.py
  tests/uploadscript_tests.py
  tests/version_tests.py
  tests/weblinkchecker_tests.py
  tests/wikiwho_tests.py
Due: Framework, Tests

Move copyright headers above module docstrings
  make_dist.py
  pywikibot/data/mysql.py
  pywikibot/data/sparql.py
  pywikibot/data/superset.py
  pywikibot/page/_toolforge.py
  pywikibot/scripts/__init__.py
  pywikibot/tools/_unidata.py
  scripts/change_pagelang.py
  scripts/maintenance/addwikis.py
  tests/add_text_tests.py
  tests/collections_tests.py
  tests/diff_tests.py
  tests/eventstreams_tests.py
  tests/generate_family_file_tests.py
  tests/generate_user_files_tests.py
  tests/interwikimap_tests.py
  tests/noreferences_tests.py
  tests/redirect_bot_tests.py
  tests/setup_tests.py
  tests/superset_tests.py
  tests/titletranslate_tests.py
  tests/user_tests.py
  tests/wikiblame_tests.py
Due: Framework, Tests, Scripts

Move copyright headers above module docstrings
  pywikibot/page/_decorators.py
  pywikibot/site/__init__.py
  pywikibot/site/_interwikimap.py
  pywikibot/tools/formatter.py
  scripts/commons_information.py
  scripts/download_dump.py
  scripts/interwikidata.py
  scripts/maintenance/colors.py
  scripts/maintenance/unidata.py
  scripts/transwikiimport.py
  tests/djvu_tests.py
  tests/make_dist_tests.py
  tests/replacebot_tests.py
  tests/site_login_logout_tests.py
  tests/sparql_tests.py
  tests/thanks_tests.py
  tests/tools_formatter_tests.py
Due: Framework, Tests, Scripts

Fix copyright year
  pywikibot/page/_decorators.py
  pywikibot/site/__init__.py
  pywikibot/site/_interwikimap.py
  pywikibot/tools/formatter.py
  scripts/commons_information.py
  scripts/download_dump.py
  scripts/interwikidata.py
  scripts/maintenance/colors.py
  scripts/maintenance/unidata.py
  scripts/transwikiimport.py
  tests/djvu_tests.py
  tests/make_dist_tests.py
  tests/replacebot_tests.py
  tests/site_login_logout_tests.py
  tests/sparql_tests.py
  tests/thanks_tests.py
  tests/tools_formatter_tests.py
Due: Framework, Tests, Scripts

Move copyright headers above module docstrings
  scripts/add_text.py
Due: Scripts

Move copyright headers above module docstrings
  pywikibot/cosmetic_changes.py
  pywikibot/interwiki_graph.py
  scripts/archivebot.py
  scripts/checkimages.py
  scripts/welcome.py
Due: Framework, Scripts

isort: Remove preleading r in module docstrings because isort fails with it.
  pyproject.toml
  scripts/add_text.py
  scripts/category_graph.py
  scripts/coordinate_import.py
  scripts/data_ingestion.py
  scripts/harvest_template.py
  scripts/listpages.py
  scripts/maintenance/cache.py
  scripts/nowcommons.py
  scripts/pagefromfile.py
  scripts/replace.py
  scripts/revertbot.py
  scripts/template.py
  scripts/transferbot.py
Due: Scripts

weblinkchecker: Fix i18n message key
  scripts/weblinkchecker.py
Due: Scripts

Only skip pwb.py from adding future annotations.
  .pre-commit-config.yaml
Due: none

Fix: use http.request for parse section instead of section.post
  scripts/maintenance/unidata.py
Due: Scripts

tests: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

requirements: Prefer Pillow 12.1.1 or above
  pywikibot/userinterfaces/gui.py
  requirements.txt
  setup.py
Due: Framework

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
