Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

[bugfix] override all Sites of test_codes in RecentChangesTestCase
  tests/aspects.py
  tests/pagegenerators_tests.py
Due: Tests

Move copyright headers above module docstrings
  tests/citoid_tests.py
Due: Tests

Fix PagesTagParser: Support attributes with multiple words
  pywikibot/proofreadpage.py
  tests/proofreadpage_tests.py
Due: Framework, Tests

Add regression test for comments in noreferences section
  tests/noreferences_tests.py
Due: Tests

pagegenerators: Add until and reverse options to AllpagesPageGenerator
  pywikibot/pagegenerators/_generators.py
  pywikibot/site/_generators.py
Due: Framework

[typing] fix BaseSiteProtocol.namespaces property
  pywikibot/site/_extensions.py
Due: Framework

Use assertRaisesRegex in citoid_tests.py
  tests/citoid_tests.py
Due: Tests

tests: fix spelling mistake in TestPagesTagParser methods
  tests/proofreadpage_tests.py
Due: Tests

doc: update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

doc/test: Update docstring for linter_pages Site method
  pywikibot/site/_extensions.py
  tests/linter_tests.py
Due: Framework, Tests

typing: Fix typing of linter_pages
  pywikibot/site/_extensions.py
Due: Framework

Revert "tests: decorate HttpsCertificateTestCase as expectedFailure if THREADING_FREE"
  tests/http_tests.py
Due: Tests

tests: Remove DataBodyParameterTestCase
  pywikibot/comms/http.py
  tests/http_tests.py
Due: Framework, Tests

doc: fix Sphinx role
  pywikibot/comms/http.py
  pywikibot/data/memento.py
Due: Framework

tests: remove experimental flag for threading-free Python
  .github/workflows/pywikibot-ci.yml
Due: none

Update vikidia family (test) : add 'fr-testing', 'en-testing'
  pywikibot/families/vikidia_family.py
Due: Framework

tests: Update precommit-hooks
  .pre-commit-config.yaml
Due: none

Revert "tests: Update precommit-hooks"
  .pre-commit-config.yaml
Due: none

tests: set GitHub action persist-credentials to false
  .github/workflows/doctest.yml
  .github/workflows/graalpy_tests.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
Due: none

tests: restrict all workflow permissions to `contents: read`
  .github/workflows/doctest.yml
  .github/workflows/graalpy_tests.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
Due: none

GitHub: remove ss command on all GH workflows
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

GH tests: refactor workflows to use WMCS SOCKS tunnel composite action
  .github/actions/wmcs-socks/action.yml
  .github/workflows/doctest.yml
Due: none

GH tests: use WMCS SOCKS tunnel composite action with GitHub actions
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

GH tests: finally close socket in GitHub workflows
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

IMPR: use consistent quoting for invalid option messages in bot module
  pywikibot/bot.py
Due: Framework

Update name for Brooke Vibber
  AUTHORS.rst
  tests/site_generators_tests.py
Due: Tests

[bugfix] Fix spelling issues in bot.py
  pywikibot/bot.py
Due: Framework

[bugfix] Prevent ignored generator option from leaking into kwargs
  pywikibot/bot.py
Due: Framework

Fix spelling mistakes in bot.py
  pywikibot/bot.py
Due: Framework

Fix documentation and spelling mistakes in bot.py
  pywikibot/bot.py
Due: Framework

[bugfix] user rights has been changed; update test accordingly
  pywikibot/site/_apisite.py
Due: Framework

[Bugfix] Fix spelling mistakes and simplyfy APISite._build_namespaces()
  pywikibot/page/_wikibase.py
  pywikibot/site/_apisite.py
  scripts/replace.py
  tests/api_tests.py
Due: Framework, Tests, Scripts

Fix spelling mistakes
  scripts/replace.py
Due: Scripts

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
