Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

itertools: Preserve colliding intersection items
  pywikibot/tools/itertools.py
  tests/tools_tests.py
Due: Framework, Tests

pagegenerators: Keep preload group size per site
  pywikibot/pagegenerators/__init__.py
  tests/pagegenerators_tests.py
Due: Framework, Tests

watchlist: Reuse fetched pages
  scripts/watchlist.py
Due: Scripts

docs: Fix clear spelling errors
  docs/recipes.rst
  docs/scripts/archive.rst
  docs/scripts/outdated.rst
  docs/tests_ref/utils.rst
  pywikibot/pagegenerators/_factory.py
  scripts/category.py
  scripts/checkimages.py
  scripts/redirect.py
  scripts/transwikiimport.py
Due: Framework, Scripts

tracking_param_remover: Avoid unsafe C tokenizer without GIL
  scripts/tracking_param_remover.py
Due: Scripts

docs: Fix spelling and grammar errors
  docs/api_ref/bot.rst
  docs/library_usage.rst
  docs/make.bat
  pywikibot/data/api/_optionset.py
  pywikibot/page/_user.py
  tests/aspects.py
  tests/site_login_logout_tests.py
  tests/ui_options_tests.py
  tests/unlinkbot_tests.py
  tests/wbtypes_tests.py
Due: Framework, Tests

solve_disambiguation: Handle ignore file read errors
  scripts/solve_disambiguation.py
Due: Scripts

tests: Remove unreliable bad recipient test
  tests/thanks_tests.py
Due: Tests

delete: Clear cached reference table
  scripts/delete.py
  tests/deletionbot_tests.py
Due: Tests, Scripts

site: Fix loadrevisions step handling
  pywikibot/site/_generators.py
  tests/site_generators_tests.py
Due: Framework, Tests

upload: Clean up temporary downloads
  pywikibot/specialbots/_upload.py
  tests/uploadbot_tests.py
Due: Framework, Tests

category_redirect: Fix delay option parsing
  scripts/category_redirect.py
  tests/category_redirect_tests.py
Due: Tests, Scripts

pagegenerators: Add depth to PetScanPageGenerator
  pywikibot/pagegenerators/_generators.py
  tests/pagegenerators_tests.py
Due: Framework, Tests

tests: Add precision to coordinate claim
  tests/wikibase_edit_tests.py
Due: Tests

tests: Keep ParamInfo format test dry
  tests/dry_api_tests.py
Due: Tests

tests: Fix chunked upload warning test
  tests/upload_tests.py
Due: Tests

tests: Fix tabular-data claim target
  tests/wikibase_edit_tests.py
Due: Tests

archivebot: Replace OrderedDict with dict
  scripts/archivebot.py
  tests/archivebot_tests.py
Due: Tests, Scripts

Use pathlib for path containment
  pywikibot/config.py
  pywikibot/version.py
  tests/__init__.py
  tests/config_tests.py
  tests/version_tests.py
Due: Framework, Tests

pagegenerators: Use removesuffix for schema names
  pywikibot/pagegenerators/_generators.py
Due: Framework

http: Simplify user-agent username quoting
  pywikibot/comms/http.py
Due: Framework

tests: Fix non-chunked filekey continuation
  tests/upload_tests.py
Due: Tests

data_ingestion: Fix csvdir option parsing
  scripts/data_ingestion.py
  tests/data_ingestion_tests.py
Due: Tests, Scripts

i18n: Clear bundle cache when switching packages
  pywikibot/i18n.py
  tests/i18n_tests.py
Due: Framework, Tests

make_i18n_dict: Fix pathlib conversion regressions
  scripts/maintenance/make_i18n_dict.py
  tests/make_i18n_dict_tests.py
Due: Tests, Scripts

tools: Use isdisjoint for invisible character check
  pywikibot/tools/chars.py
Due: Framework

tests: Fix repeatable chunked upload test
  tests/upload_tests.py
Due: Tests

tests: Require login for TestDataIngestionBot
  tests/data_ingestion_tests.py
Due: Tests

tests: fix thumb files subdomain in file_tests and proofreadpage_tests
  tests/file_tests.py
  tests/proofreadpage_tests.py
Due: Tests

maxlag: Include the site in maxlag retry errors
  pywikibot/data/api/_requests.py
Due: Framework

parser_function_count: Fix explicit arguments
  scripts/parser_function_count.py
Due: Scripts

api: Support immutable sequences in encode_url
  pywikibot/data/api/_requests.py
  tests/api_tests.py
Due: Framework, Tests

pagegenerators: Apply title filters first
  pywikibot/pagegenerators/_factory.py
  tests/pagegenerators_tests.py
Due: Framework, Tests

transwikiimport: Make summaries order-independent
  scripts/transwikiimport.py
Due: Scripts

checkimages: Limit talk page revision retrieval
  scripts/checkimages.py
Due: Scripts

make_i18n_dict: Fix script attribute lookup
  scripts/maintenance/make_i18n_dict.py
  tests/make_i18n_dict_tests.py
Due: Tests, Scripts

nowcommons: Reuse loaded usage list
  scripts/nowcommons.py
Due: Scripts

pagegenerators: Support selective page preloading
  pywikibot/data/api/_generators.py
  pywikibot/pagegenerators/__init__.py
  pywikibot/site/_generators.py
  scripts/coordinate_import.py
  scripts/illustrate_wikidata.py
  tests/pagegenerators_tests.py
  tests/site_generators_tests.py
Due: Framework, Tests, Scripts

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
