Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

---
codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: true
    patch:
      default:
        enabled: true
    changes:
      default:
        enabled: true
  ignore:
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - scripts/create_isbn_edition.py
    - scripts/userscripts/
    - tests/pwb/
  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:
  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

Rename TimeoutError to ApiTimeoutError, keep old name as deprecated alias
  ROADMAP.rst
  pywikibot/data/__init__.py
  pywikibot/exceptions.py
  pywikibot/page/_toolforge.py
  tests/__init__.py
  tests/exceptions_tests.py
  tests/page_tests.py
  tests/site_generators_tests.py
  tests/sparql_tests.py
Due: Framework, Tests

Fix spelling mistakes and missing format prefix
  pywikibot/page/_toolforge.py
  tests/site_generators_tests.py
  tests/sparql_tests.py
Due: Framework, Tests

[bugfix] Fix -tofile argument in listpages.py
  scripts/listpages.py
Due: Scripts

Fix flake8 error in listpages
  scripts/listpages.py
Due: Scripts

Add support for new wiki
  pywikibot/families/wikiquote_family.py
Due: Framework

Update removed_wikis table in wikiquote family
  pywikibot/families/wikiquote_family.py
Due: Framework

tests: Skip non-callable test attributes in MetaTestCaseClass
  tests/aspects.py
Due: Tests

Deprecate Family.post_get_convert and Family.pre_put_convert functions
  pywikibot/family.py
Due: Framework

cleanup Family: dreprecate cross_projects Family settings
  pywikibot/family.py
Due: Framework

aspects: Fix mistakes in documentation and log messages
  tests/aspects.py
Due: Tests

doc: Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

release: publish Pywikibot 11.5.0
  pywikibot/__metadata__.py
Due: Framework

r11.6: Prepare next release Pywikibot 11.6
  .pre-commit-config.yaml
  HISTORY.rst
  ROADMAP.rst
  dev-requirements.txt
  pywikibot/__metadata__.py
  pywikibot/pagegenerators/__init__.py
  scripts/__init__.py
  scripts/pyproject.toml
Due: Framework, Scripts

typing: Fix typing errors in api._generators
  .pre-commit-config.yaml
  conftest.py
  pywikibot/__init__.py
  pywikibot/comms/http.py
  pywikibot/data/__init__.py
  pywikibot/data/api/_generators.py
  pywikibot/data/sparql.py
  pywikibot/data/wikistats.py
  pywikibot/page/_basepage.py
Due: Framework

mypy: Fiy some typing issures in date.py
  pywikibot/date.py
Due: Framework

Fix doctest failure in i18n
  pywikibot/i18n.py
Due: Framework

CI: avoid Pillow source builds on CPython 3.13t
  requirements.txt
Due: none

tests: use experimental flag for macOS/graalpy-24.1 and upuntu/25.0 only
  .github/workflows/graalpy_tests.yml
Due: none

Fix sphinx version annotations
  make_dist.py
  pywikibot/echo.py
Due: Framework

doc: Fix several spelling mistakes
  HISTORY.rst
  README.rst
  pywikibot/config.py
  pywikibot/exceptions.py
  pywikibot/page/_basepage.py
  pywikibot/site/_apisite.py
  pywikibot/textlib.py
  pywikibot/tools/__init__.py
  setup.py
Due: Framework

doc: Update AUTHORS.rst
  AUTHORS.rst
Due: none

doc: comment for Family.codes list
  pywikibot/families/wikipedia_family.py
Due: Framework

tests: remove test_proofreadwiki and en.citizendium.org test
  tests/site_detect_tests.py
Due: Tests

tools: use sys._getframemodulename in redirect_func if available
  pywikibot/tools/_deprecate.py
Due: Framework

backports: provide sentinel implementation backported from Python 3.15
  pywikibot/backports.py
Due: Framework

fix pywikibot.site.logenvents() start, end and reverse documentation
  pywikibot/site/_generators.py
Due: Framework

doc: Update ROADMAP.rst
  ROADMAP.rst
Due: none

[cleanup] Fix incomplete URL substring sanitization (CodeQL)
  pywikibot/data/sparql.py
  scripts/reflinks.py
Due: Framework, Scripts

test: add tests for fallback dicts
  tests/i18n_tests.py
Due: Tests

tests: make test_groupnames more robust
  tests/i18n_tests.py
Due: Tests

[fix] Use i18n._altlang for Accept-Language in weblinkchecker.py
  scripts/weblinkchecker.py
Due: Scripts

make_dist: do not check for build/twinw modules if -clear option is used
  make_dist.py
Due: none

mypy: Fix typing errors in login.py
  .pre-commit-config.yaml
  conftest.py
  pywikibot/login.py
Due: Framework

IMPR: Use JSONDecodeError instead of generic ValueError in api.Requests
  pywikibot/data/api/_requests.py
Due: Framework

IMPR: Use new sentinel type in deprecation tests and api.Request
  pywikibot/data/api/_requests.py
  tests/aspects.py
Due: Framework, Tests

Rename _altlang to public altlang
  AUTHORS.rst
  pywikibot/i18n.py
  scripts/reflinks.py
  scripts/weblinkchecker.py
Due: Framework, Scripts

tests: Use assertRaisesRegex instead of assertRaises
  tests/exceptions_tests.py
Due: Tests

doc: update AUTHORS.rst, ROADMAP.rst and CHANGELOG.rst
  AUTHORS.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts
