Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

IMPR: Refactor Subject.replaceLinks and decrease complexity
  scripts/interwiki.py
Due: Scripts

textlib: refactor HTML removal logic using GetDataHTML parser
  pywikibot/textlib.py
Due: Framework

family: fix language alias for gsw -> als
  pywikibot/family.py
Due: Framework

Tests: Increase timeout-minutes for oauth_tests-ci
  .github/workflows/oauth_tests-ci.yml
Due: none

Tests: print public IP for oauth_tests-ci runner for debugging
  .github/workflows/oauth_tests-ci.yml
Due: none

family: fix language alias for sgs -> bat-smg
  pywikibot/family.py
Due: Framework

IMPR: process_unlimited: warn if a username is not configured for site
  scripts/interwiki.py
Due: Scripts

[bugfix] Ignore SectionError in page_empty_check and count it as empty
  scripts/interwiki.py
Due: Scripts

L10N: Add code alias vro for fiu-vro
  pywikibot/family.py
Due: Framework

L10N: Add code alias rup for roa-rup
  pywikibot/family.py
Due: Framework

L10N: Add code alias lzh for zh-classical
  pywikibot/family.py
Due: Framework

i18n: update i18n docstring test
  pywikibot/i18n.py
Due: Framework

Tests: generate family file for wsbeta:en only
  .github/workflows/login_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

cleanup throttle: deprecate requestsize and rename methods for clarity
  pywikibot/throttle.py
Due: Framework

Fix: Update setDelays call after method was renamed
  pywikibot/throttle.py
Due: Framework

Tests: backport Python 3.14 assertion methods
  tests/archivebot_tests.py
  tests/aspects.py
  tests/basepage.py
  tests/bot_tests.py
  tests/datasite_tests.py
  tests/edit_tests.py
  tests/file_tests.py
  tests/generate_user_files_tests.py
  tests/http_tests.py
  tests/oauth_tests.py
  tests/page_tests.py
  tests/pagegenerators_tests.py
  tests/proofreadpage_tests.py
  tests/protectbot_tests.py
  tests/site_detect_tests.py
  tests/site_generators_tests.py
  tests/site_tests.py
  tests/textlib_tests.py
  tests/tools_tests.py
  tests/ui_tests.py
  tests/upload_tests.py
  tests/wikibase_tests.py
  tests/xmlreader_tests.py
Due: Tests

doc: Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

Tests: Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Doc: Fix typo and clarify docstring in aspects.require_version()
  tests/aspects.py
Due: Tests

doc: Refactor formatting of option lists in script docstrings
  docs/conf.py
  docs/requirements.txt
  pyproject.toml
  scripts/create_isbn_edition.py
  scripts/djvutext.py
  scripts/listpages.py
Due: Scripts

Add LPDB generator (#4)
  pywikibot/config.py
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/pagegenerators/_generators.py
Due: Framework

Check for global usage with delete runs
  scripts/delete.py
Due: Scripts

Fix: add 'application/vue+xml' to MediaWikiKnownTypesTestCase
  tests/paraminfo_tests.py
Due: Tests

doc: Clarify articlepath property docstring and replace assert with exception
  pywikibot/site/_apisite.py
Due: Framework

Cleanup: Deprecate create_isbn_edition script
  .codecov.yml
  scripts/create_isbn_edition.py
Due: Scripts

Fix: Use {{talkarchive}} template by default
  scripts/archivebot.py
Due: Scripts

Tests: Suppress print statements during generate_family_file_tests.py
  pywikibot/scripts/generate_family_file.py
  tests/generate_family_file_tests.py
Due: Framework, Tests

Tests: ignore create_isbn_edition from script_tests
  tests/script_tests.py
Due: Tests

Fix coverage excludes
  pyproject.toml
Due: none

interwiki: Fix docstring of Subject.process_unlimited
  scripts/interwiki.py
Due: Scripts

Coverage: Update exclude_also list to skip and skip Python314AssertionsMixin
  pyproject.toml
  tests/aspects.py
Due: Tests

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
