Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

tools: Use dict for deprecated parameters
  pywikibot/tools/_deprecate.py
Due: Framework

[refactor] Replace unnecessary [\s\S] patterns with DOTALL where appropriate
  pywikibot/textlib.py
  tests/textlib_tests.py
  tests/tools_threading_tests.py
Due: Framework, Tests

[FIX] Prevent infinite recursion loop in fix_moved_broken_redirects
  scripts/redirect.py
  tests/redirect_bot_tests.py
Due: Tests, Scripts

logging: Prevent recursive handler initialization
  pywikibot/bot.py
  tests/bot_tests.py
Due: Framework, Tests

tests: Preserve threaded generator results on failure
  tests/tools_threading_tests.py
Due: Tests

Wikibase: Fix reference hash propagation after editEntity
  ROADMAP.rst
  pywikibot/page/_wikibase.py
  tests/wikibase_edit_tests.py
Due: Framework, Tests

diff: Return existing plain text from Hunk.__str__
  pywikibot/diff.py
Due: Framework

Reuse the database name when creating item sitelinks
  pywikibot/bot.py
Due: Framework

Reuse entity IDs when serializing lexeme properties
  pywikibot/page/_wikibase.py
Due: Framework

Reuse the globe mapping when resolving coordinates
  pywikibot/_wbtypes.py
Due: Framework

Reuse GUI highlight configuration values
  pywikibot/userinterfaces/gui.py
Due: Framework

Reuse the hostname in the Google page generator
  pywikibot/pagegenerators/_generators.py
Due: Framework

Fix grammar in comments and documentation
  pywikibot/i18n.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/scripts/shell.py
  pywikibot/tools/collections.py
  tests/tools_tests.py
Due: Framework, Tests

tests: Check EBADF in editor descriptor test
  tests/editor_tests.py
Due: Tests

added ukrainian vikidia, updated testing subdomains for vikidia
  pywikibot/families/vikidia_family.py
Due: Framework

families: Fix Beta Wikisource author namespace key
  pywikibot/families/betawikisource_family.py
Due: Framework

Reuse descriptor values when formatting page tags
  pywikibot/proofreadpage.py
Due: Framework

Reuse the case-insensitive tag-name pattern
  pywikibot/textlib.py
Due: Framework

Reuse the timestamp date when calculating year durations
  pywikibot/time.py
Due: Framework

tests: Include test codes when checking MediaWiki messages
  tests/site_tests.py
Due: Tests

Reuse category graph edge endpoints
  scripts/category_graph.py
Due: Scripts

Reuse context limits when calculating diff ranges
  pywikibot/diff.py
Due: Framework

Reuse page metadata when creating interwikidata items
  scripts/interwikidata.py
Due: Scripts

Reuse the match start position in replaceExcept
  pywikibot/textlib.py
Due: Framework

Use explicit prefix and suffix removal for known delimiters
  pywikibot/_wbtypes.py
  pywikibot/scripts/wrapper.py
  pywikibot/specialbots/_upload.py
Due: Framework

tests: Replace assertRaises with assertRaisesRegex
  tests/datasite_tests.py
  tests/diff_tests.py
  tests/djvu_tests.py
  tests/link_tests.py
  tests/memento_tests.py
  tests/token_tests.py
  tests/welcome_tests.py
Due: Tests

Normalize image-check settings once per entry
  scripts/checkimages.py
Due: Scripts

Use f-strings for configuration and Wikibase diagnostics
  pywikibot/config.py
  pywikibot/data/api/_generators.py
  pywikibot/page/_collections.py
  pywikibot/page/_wikibase.py
Due: Framework

Disable maxlag for meta queries, paraminfo and help
  pywikibot/data/api/_requests.py
Due: Framework

Add BasePage.flagged_state for FlaggedRevs info
  pywikibot/page/_basepage.py
  pywikibot/site/_extensions.py
  tests/flaggedrevs_tests.py
Due: Framework, Tests

Use partition for title delimiter parsing
  pywikibot/page/_links.py
  pywikibot/pagegenerators/_generators.py
  pywikibot/textlib.py
Due: Framework

Use lazy logging and f-strings for bot and script messages
  pywikibot/bot.py
  pywikibot/scripts/shell.py
  pywikibot/scripts/version.py
  pywikibot/scripts/wrapper.py
Due: Framework

Use plain dictionaries for Wikibase claim mappings
  pywikibot/page/_wikibase.py
Due: Framework

Use pathlib for configuration and supporting file operations
  pywikibot/config.py
  pywikibot/i18n.py
  pywikibot/scripts/generate_user_files.py
  pywikibot/version.py
Due: Framework

generate_family_file: Build mappings in one pass
  pywikibot/scripts/generate_family_file.py
Due: Framework

[Bugfix] Add "." to family.CODE_CHARACTERS
  pywikibot/family.py
  tests/family_tests.py
Due: Framework, Tests

Add PageViewInfo extension support
  pywikibot/page/_basepage.py
  pywikibot/site/_apisite.py
  pywikibot/site/_extensions.py
  tests/pageviewinfo_tests.py
Due: Framework, Tests

tests: Replace assertRaises with assertRaisesRegex
  tests/i18n_tests.py
  tests/interwikidata_tests.py
  tests/interwikimap_tests.py
  tests/logentries_tests.py
  tests/site_obsoletesites_tests.py
  tests/siteinfo_tests.py
  tests/time_tests.py
Due: Tests

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
