Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

[IMPR] return a boolean with item_is_in_list and item_has_label
  scripts/create_isbn_edition.py
Due: Scripts

[IMPR] use page.autoFormat instead of date.getAutoFormat in titletranslate.py
  pywikibot/titletranslate.py
Due: Framework

[IMPR] Add a new Site property codes
  pywikibot/site/_basesite.py
  pywikibot/titletranslate.py
  tests/dry_api_tests.py
  tests/site_tests.py
Due: Framework, Tests

[cleanup] remove Sphinx autodoc workaround for Family classproperty-s
  docs/conf.py
Due: none

cleanup: move rstcheck settings from .rstcheck.cfg to pyproject.toml
  .rstcheck.cfg
  pyproject.toml
Due: none

cleanup: move .coveragerc settings to pyproject.toml
  .coveragerc
  pyproject.toml
Due: none

R1723: remove unnecessary elif used after break
  scripts/create_isbn_edition.py
Due: Scripts

tests: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Code improvements
  pywikibot/bot.py
  pywikibot/cosmetic_changes.py
  pywikibot/data/superset.py
  pywikibot/page/_page.py
  pywikibot/page/_toolforge.py
  pywikibot/page/_wikibase.py
  pywikibot/site/_datasite.py
  pywikibot/site/_generators.py
  pywikibot/tools/__init__.py
  tests/site_tests.py
Due: Framework, Tests

IMPR: use target.items() to get key/value pairs in create_isbn_edition.py
  scripts/create_isbn_edition.py
Due: Scripts

IMPR: Do not redefine local variable within loop
  pywikibot/site/_siteinfo.py
  pywikibot/userinterfaces/terminal_interface_base.py
  scripts/coordinate_import.py
  scripts/protect.py
  scripts/weblinkchecker.py
Due: Framework, Scripts

cleanup: sys.maxunicode is 0x10ffff since Python 3.3 due to PEP393
  pywikibot/tools/chars.py
Due: Framework

IMPR: use key/value pairs instead of dict for YearAD defaultdict
  pywikibot/date.py
Due: Framework

IMPR: use list comprehensions instead of for loops
  pywikibot/page/_page.py
  scripts/upload.py
  tests/__init__.py
  tests/pagegenerators_tests.py
  tests/uploadbot_tests.py
Due: Framework, Tests, Scripts

IMPR: avoid using join statements with literal constants
  pywikibot/textlib.py
  pywikibot/userinterfaces/terminal_interface_base.py
  scripts/archivebot.py
  scripts/revertbot.py
  tests/category_bot_tests.py
  tests/cosmetic_changes_tests.py
  tests/site_detect_tests.py
Due: Framework, Tests, Scripts

tests: install tomli for oauth_tests-ci
  .github/workflows/oauth_tests-ci.yml
Due: none

tests: fix for tomli install
  .github/workflows/oauth_tests-ci.yml
Due: none

tests: fix for tomli dependency
  .github/workflows/oauth_tests-ci.yml
  docs/requirements.txt
Due: none

tests: use tomli for test running with Python < 3.11
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  dev-requirements.txt
  docs/requirements.txt
Due: none

tests: test TestInterwikidataBot.test_main for all sites
  tests/interwikidata_tests.py
Due: Tests

tests: use coverage < 7.6.2 or > 7.6.8 with pypy 3.10
  .github/workflows/pywikibot-ci.yml
Due: none

cleanup: remove unused 'error' parameter from History.log() method
  scripts/weblinkchecker.py
Due: Scripts

tests: Skip gui_tests if a RuntimeError occures with tkinter
  tests/gui_tests.py
Due: Tests

Tests: more verbosity with pytest
  .github/workflows/pywikibot-ci.yml
Due: none

tests: destroy tkinter dialog window after creation
  .github/workflows/pywikibot-ci.yml
  tests/gui_tests.py
Due: Tests

[IMPR] use Site.search() in get_item_with_prop_value
  scripts/create_isbn_edition.py
Due: Scripts

tests: autoupdate docsig release
  .pre-commit-config.yaml
Due: none

tests: fix spelling mistake
  tests/oauth_tests.py
Due: Tests

tests: Update PyJWT requirements
  .github/workflows/oauth_tests-ci.yml
  pywikibot/login.py
  requirements.txt
  setup.py
Due: Framework

Tests: no verbosity with pytest
  .github/workflows/pywikibot-ci.yml
Due: none

doc: Enable docstring with classproperty methods
  pywikibot/tools/__init__.py
Due: Framework

doc: Remove duplicate family.Family entry
  docs/api_ref/family.rst
Due: none

Add support for new wiki
  pywikibot/families/wikivoyage_family.py
Due: Framework

doc: adjust classproperty docstrings for Python 3.12 and below
  pywikibot/tools/__init__.py
Due: Framework

tests: Skip wikiblame tests due to T381262
  pywikibot/page/_toolforge.py
  tests/wikiblame_tests.py
Due: Framework, Tests

doc: Update ROADMAP.rst
  ROADMAP.rst
Due: none

doc: single line docstrings needs an additional line feed
  pywikibot/tools/__init__.py
Due: Framework

Revert "tests: Skip wikiblame tests due to T381262"
  pywikibot/page/_toolforge.py
  tests/wikiblame_tests.py
Due: Framework, Tests

doc: update CHANGELOG.rst
  scripts/CHANGELOG.rst
Due: Scripts

[9.6] Publish Pywikibot 9.6
  pywikibot/__metadata__.py
Due: Framework

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
