Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - Users
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/preload_sites.py
    - pywikibot/scripts/version.py
    - scripts/dataextend.py
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/userscripts/
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:

  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

Revert "Announce support of MediaWiki < 1.23 is to be dropped"
  pywikibot/site/_apisite.py
Due: Framework

[IMPR] Remove warning if Pywikibot is running with Python 3.7
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__init__.py
  pywikibot/__metadata__.py
  tests/utils.py
Due: Framework, Tests

[10] Prepare next Pywikibot 10
  pywikibot/__metadata__.py
  scripts/__init__.py
  scripts/pyproject.toml
Due: Framework, Scripts

[scripts] remove dataextend script from repository
  .codeclimate.yml
  .codecov.yml
  docs/scripts/archive.rst
  docs/scripts/wikibase.rst
  docs/scripts_ref/scripts.rst
  scripts/CHANGELOG.rst
  scripts/dataextend.py
  tests/script_tests.py
  tox.ini
Due: Tests, Scripts

CI: Use Python 3.8 instead of Python 3.7 for tests
  tox.ini
Due: none

tests: run github actions with Python 3.8+
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
Due: none

tests: update pre-commit
  .pre-commit-config.yaml
Due: none

pwb 10: drop support for Python 3.7
  HISTORY.rst
  ROADMAP.rst
  docs/index.rst
  pwb.py
  pyproject.toml
  pywikibot/README.rst
  pywikibot/backports.py
  pywikibot/userinterfaces/gui.py
  requirements.txt
  setup.py
Due: Framework

pwb 10: drop support for Python 3.7 in time module
  pywikibot/time.py
Due: Framework

tests: run commit-message with Python 3.8 instead of Python 3.7.17
  tox.ini
Due: none

IMPR: use self-documenting expressions with f-strings
  pywikibot/comms/http.py
  pywikibot/family.py
  pywikibot/proofreadpage.py
  pywikibot/site/_generators.py
  scripts/pyproject.toml
  scripts/reflinks.py
Due: Framework, Scripts

cleanup: remove deprecated RedirectPageBot and NoRedirectPageBot
  ROADMAP.rst
  pywikibot/bot.py
Due: Framework

Tests: Update CI tests
  tox.ini
Due: none

cleanup: remove old color format escape sequences usage
  ROADMAP.rst
  pywikibot/tools/_logging.py
  pywikibot/tools/formatter.py
  pywikibot/userinterfaces/terminal_interface_base.py
  scripts/listpages.py
  tests/tools_formatter_tests.py
Due: Framework, Tests, Scripts

cleanup: deprecate backports.importlib_metadata
  ROADMAP.rst
  pywikibot/backports.py
  pywikibot/scripts/wrapper.py
  pywikibot/tools/__init__.py
Due: Framework

cleanup: remove svn_rev_info and getversion_svn functions from version module
  ROADMAP.rst
  pywikibot/version.py
Due: Framework

doc: deprecation notice for importlib_metadata
  pywikibot/backports.py
Due: Framework

cleanup: remove tools elements which can be used with submodules
  ROADMAP.rst
  pywikibot/tools/__init__.py
Due: Framework

cleanup: cosmetic_changes-append identifier is unused and was removed
  ROADMAP.rst
Due: none

tests: increase test timeout for oauth_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
Due: none

cleanup remnants of importlib_metadata
  pywikibot/scripts/wrapper.py
  pywikibot/tools/__init__.py
Due: Framework

cleanup: Desupport MW < 1.31
  README.rst
  docs/index.rst
  pywikibot/data/sparql.py
  pywikibot/site/_datasite.py
Due: Framework

remove unnecessary python version classifiers
  pyproject.toml
  scripts/pyproject.toml
Due: Scripts

cleanup: remove issue_deprecation_warning for APISite.allpages()
  ROADMAP.rst
  pywikibot/pagegenerators/_generators.py
  pywikibot/site/_generators.py
  tests/site_tests.py
Due: Framework, Tests

cleanup: remove User.isBlocked()
  ROADMAP.rst
  pywikibot/page/_user.py
Due: Framework

cleanup: pagegenerators.XMLDumpOldPageGenerator was removed
  ROADMAP.rst
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_generators.py
Due: Framework

doc: show flow api until this module is removed finally
  pywikibot/flow.py
Due: Framework

doc: move flow support deprecation to pending removal in Pywikibot 10
  ROADMAP.rst
Due: none

cleanup: boolean *watch* parameter of BasePage.save is desupported
  ROADMAP.rst
  pywikibot/page/_basepage.py
Due: Framework

IMPR: use NoneType instead of type(None)
  pywikibot/comms/eventstreams.py
  tests/basesite_tests.py
  tests/wikistats_tests.py
Due: Framework, Tests

remove pywikibot.backports.importlib_metadata
  ROADMAP.rst
  pywikibot/backports.py
Due: Framework

tests: Update i18n doctest
  pywikibot/i18n.py
Due: Framework
