Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

Reuse resolved module name in argument handling
  pywikibot/bot.py
Due: Framework

Use lazy logging and f-strings for site and API diagnostics
  pywikibot/__init__.py
  pywikibot/data/api/_requests.py
  pywikibot/family.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/site/_apisite.py
  pywikibot/site/_siteinfo.py
Due: Framework

Use f-strings and lazy logging for upload and option messages
  pywikibot/bot_choice.py
  pywikibot/data/api/_optionset.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/site/_upload.py
  pywikibot/specialbots/_upload.py
Due: Framework

Reuse source values when checking existing claims
  pywikibot/bot.py
Due: Framework

itertools: Short-circuit intersection cache checks
  pywikibot/tools/itertools.py
Due: Framework

Use direct mapping iteration when building key lists
  pywikibot/page/_wikibase.py
  pywikibot/site/_apisite.py
  pywikibot/site/_generators.py
  pywikibot/textlib.py
  pywikibot/xmlreader.py
  scripts/maintenance/make_i18n_dict.py
  tests/page_tests.py
  tests/tools_tests.py
Due: Framework, Tests, Scripts

solve_disambiguation: Reuse link match boundaries
  scripts/solve_disambiguation.py
Due: Scripts

textlib: Buffer GetDataHTML output
  pywikibot/textlib.py
  tests/textlib_tests.py
Due: Framework, Tests

tests: Skip Pillow on CPython 3.13t
  .github/workflows/pywikibot-ci.yml
  requirements.txt
  setup.py
  tests/setup_tests.py
Due: Tests

http: Avoid mutating request inputs
  pywikibot/comms/http.py
  tests/http_tests.py
Due: Framework, Tests

date: Use functools.cache for date patterns
  pywikibot/date.py
Due: Framework

tools: Initialize the wrapped generator once per lifecycle
  pywikibot/tools/collections.py
  tests/tools_tests.py
Due: Framework, Tests

UI: Use removesuffix for the terminal newline
  pywikibot/userinterfaces/terminal_interface_base.py
Due: Framework

[FEAT] Add global block checks to Site and User
  pywikibot/page/_user.py
  pywikibot/site/_apisite.py
  pywikibot/site/_extensions.py
  scripts/welcome.py
  tests/user_tests.py
  tests/welcome_tests.py
Due: Framework, Tests, Scripts

solve_disambiguation: Reuse page titles
  scripts/solve_disambiguation.py
Due: Scripts

Use lazy logging and f-strings for API and user messages
  pywikibot/data/api/_generators.py
  pywikibot/exceptions.py
  pywikibot/scripts/generate_user_files.py
  pywikibot/scripts/login.py
  pywikibot/site/_apisite.py
  pywikibot/site/_namespace.py
  pywikibot/tools/__init__.py
Due: Framework

i18n: Resolve bundle paths from package
  pywikibot/i18n.py
  tests/i18n_tests.py
Due: Framework, Tests

reflinks: Skip adding references to templates
  scripts/reflinks.py
  tests/reflinks_tests.py
Due: Tests, Scripts

textlib: Preserve labels with different prefixes
  pywikibot/textlib.py
  tests/textlib_tests.py
Due: Framework, Tests

[FEAT] Add geographic page searches to Site
  pywikibot/site/_extensions.py
  tests/dry_site_tests.py
Due: Framework, Tests

category_graph: Cache subcategory lists
  scripts/category_graph.py
Due: Scripts

input_list_choice: Return non-option defaults
  pywikibot/bot.py
  pywikibot/userinterfaces/terminal_interface_base.py
  tests/ui_tests.py
Due: Framework, Tests

page: Load only current revision ID
  pywikibot/page/_basepage.py
  tests/page_tests.py
Due: Framework, Tests

category: Extract argument handling
  scripts/category.py
  tests/category_bot_tests.py
Due: Tests, Scripts

tests: exclude eventstreams.py from doctests run
  .github/workflows/doctest.yml
  pywikibot/comms/eventstreams.py
  tox.ini
Due: Framework

tests: Update consumed upload stash error
  tests/upload_tests.py
Due: Tests

ui: Join transliteration output fragments
  pywikibot/userinterfaces/terminal_interface_base.py
Due: Framework

[bugfix] Fix doctest workflow for powershell
  .github/workflows/doctest.yml
Due: none

Use a separate maxlag threshold for read requests
  .github/workflows/doctest.yml
  pywikibot/bot.py
  pywikibot/config.py
  pywikibot/data/api/_requests.py
  tox.ini
Due: Framework

page: Check disambiguation templates with isdisjoint
  pywikibot/page/_basepage.py
Due: Framework

tests: verify pwb site-package console entry point
  pywikibot/scripts/wrapper.py
  tests/pwb_tests.py
Due: Framework, Tests

[bugfix] Fix doctest.yml
  .github/workflows/doctest.yml
Due: none

[doc] Update ROADMAP.rst, CHANGELOG.rst and docstrings
  ROADMAP.rst
  docs/api_ref/bot.rst
  pywikibot/bot.py
  pywikibot/comms/http.py
  pywikibot/data/sparql.py
  pywikibot/i18n.py
  pywikibot/page/_basepage.py
  pywikibot/tools/threading.py
  scripts/CHANGELOG.rst
Due: Framework, Scripts

tests: (Temporary) skip test_console_scripts_entry_point for GraalPy
  tests/pwb_tests.py
Due: Tests

Skip ASCII digit conversion for default languages
  pywikibot/textlib.py
Due: Framework

editor: Check control characters with isdisjoint
  pywikibot/editor.py
Due: Framework

api: Check module path overlap with isdisjoint
  pywikibot/data/api/_paraminfo.py
Due: Framework

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
