Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

Tests: Fix GITHUB_ACTIONS check
  tests/utils.py
Due: Tests

add user-agent header to eventstream requests
  pywikibot/comms/__init__.py
  pywikibot/comms/eventstreams.py
  tests/eventstreams_tests.py
Due: Framework, Tests

Add support for bewwiktionary
  pywikibot/families/wiktionary_family.py
Due: Framework

[bugfix] Use 'User-Agent' with BinaryTestCase.test_requests
  tests/http_tests.py
Due: Tests

Tests: ignore expected failures in interwiki_link_tests and site_tests
  tests/interwiki_link_tests.py
  tests/site_tests.py
Due: Tests

site.allpages: apply client-side filtering for maxsize in misermode
  pywikibot/data/api/_generators.py
  pywikibot/site/_generators.py
  tests/site_generators_tests.py
Due: Framework, Tests

Revert "Tests: ignore expected failures in interwiki_link_tests and site_tests"
  tests/interwiki_link_tests.py
  tests/site_tests.py
Due: Tests

update coverage settings
  pyproject.toml
Due: none

Request: use unittest_print to show Exception in Rweusests._http_request
  pywikibot/data/api/_requests.py
Due: Framework

Doc: update ROADMAP.rst, CHANGELOG.rst and AUTHORS.rst
  AUTHORS.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

Test: convert TestSingleCodeFamilySite to dry test
  tests/site_tests.py
Due: Tests

tests: Print public IP of runner on failure
  .github/workflows/pywikibot-ci.yml
  .github/workflows/windows_tests.yml
Due: none

tests: skip TestInterwikiLinksToNonLocalSites on Github
  tests/interwiki_link_tests.py
Due: Tests

[10.4.0] Publish Pywikibot 10.4
  pywikibot/__metadata__.py
  scripts/pyproject.toml
Due: Framework, Scripts

[10.5] Prepare next release
  .pre-commit-config.yaml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
  scripts/pyproject.toml
Due: Framework, Scripts

doc: first line of docstring should be in imperative mood
  tests/add_text_tests.py
  tests/bot_tests.py
  tests/collections_tests.py
  tests/eventstreams_tests.py
  tests/interwiki_graph_tests.py
  tests/interwikimap_tests.py
  tests/link_tests.py
  tests/page_tests.py
  tests/pagegenerators_tests.py
  tests/site_generators_tests.py
  tests/site_tests.py
  tests/textlib_tests.py
  tests/tools_tests.py
  tests/ui_tests.py
  tests/wbtypes_tests.py
  tests/wikibase_edit_tests.py
  tests/wikibase_tests.py
Due: Tests

doc: Refactor docstrings of category.py script
  scripts/category.py
Due: Scripts

handle uncommon uri schemes on weblinkchecker
  scripts/weblinkchecker.py
  tests/weblinkchecker_tests.py
Due: Tests, Scripts

typing: Update typing from backports
  pywikibot/site/_apisite.py
  pywikibot/site/_extensions.py
  pywikibot/tools/djvu.py
  pywikibot/userinterfaces/buffer_interface.py
  scripts/archivebot.py
  scripts/checkimages.py
  scripts/misspelling.py
  scripts/redirect.py
  scripts/solve_disambiguation.py
Due: Framework, Scripts

i18n: Refactor twtranslate to unify fallback_prompt handling
  pywikibot/i18n.py
Due: Framework

mypy: test config.py with pre-commit
  .pre-commit-config.yaml
  conftest.py
  pywikibot/config.py
Due: Framework

Test: run pre-commit with Windows and MacOS
  .github/workflows/pre-commit.yml
Due: none

Test: run pre-commit Python 3.9 on MacOS
  .github/workflows/pre-commit.yml
Due: none

[bugfix] Get a token for private wiki
  pywikibot/login.py
Due: Framework

[IMPR] use Site.has_group() to determine the botflag
  scripts/create_isbn_edition.py
Due: Scripts

Tests: Remove kb.mozillazine.org from test matrix
  tests/site_detect_tests.py
Due: Tests

doc: Update ROADMAP.rst
  ROADMAP.rst
Due: none

Refactor Siteinfo class
  pywikibot/site/_siteinfo.py
Due: Framework

IMPR: Use a better message in TokenWallet.update_tokens for KeyError
  .pre-commit-config.yaml
  conftest.py
  pywikibot/site/_tokenwallet.py
Due: Framework

IMPR: use (cached) siteinfo with ChangeLangBot
  scripts/change_pagelang.py
Due: Scripts

fix some typing errors raised by mypy
  .pre-commit-config.yaml
  conftest.py
  make_dist.py
  pywikibot/comms/http.py
  pywikibot/config.py
  pywikibot/cosmetic_changes.py
  pywikibot/data/api/_paraminfo.py
  pywikibot/data/mysql.py
  pywikibot/logging.py
  pywikibot/pagegenerators/__init__.py
  pywikibot/site/_datasite.py
  pywikibot/site/_generators.py
  pywikibot/userinterfaces/terminal_interface_base.py
  scripts/change_pagelang.py
Due: Framework, Scripts

tests: use types-requests for mypy tests with tox
  .pre-commit-config.yaml
  conftest.py
  tox.ini
Due: none

IMPR: refactor Site.rollbackpage
  docs/mwapi.rst
  pywikibot/data/api/_requests.py
  pywikibot/exceptions.py
  pywikibot/page/_basepage.py
  pywikibot/site/_apisite.py
  scripts/pyproject.toml
  scripts/revertbot.py
  tests/site_tests.py
Due: Framework, Tests, Scripts

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
