Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

Cleanup: Remove warning in QueryGenerator.set_namespace
  pywikibot/data/api/_generators.py
  tests/api_tests.py
Due: Framework, Tests

weblinkchecker: use use preferred site encodings for Accept-Charset
  scripts/weblinkchecker.py
Due: Scripts

IMPR: open nightly version file either in root or in pywikibot folder
  pywikibot/version.py
Due: Framework

Move copyright headers above module docstrings
  pywikibot/daemonize.py
  pywikibot/scripts/version.py
  pywikibot/titletranslate.py
  pywikibot/userinterfaces/terminal_interface_win32.py
  pywikibot/userinterfaces/transliteration.py
  pywikibot/xmlreader.py
  scripts/blockpageschecker.py
  scripts/category.py
  scripts/clean_sandbox.py
  scripts/delinker.py
  scripts/imagetransfer.py
  scripts/misspelling.py
  scripts/noreferences.py
  scripts/redirect.py
  scripts/solve_disambiguation.py
  scripts/templatecount.py
  scripts/upload.py
  scripts/watchlist.py
  scripts/weblinkchecker.py
  tests/i18n_tests.py
Due: Framework, Tests, Scripts

Move copyright headers above module docstrings
  pywikibot/data/api/_optionset.py
  pywikibot/data/memento.py
  pywikibot/tools/chars.py
  tests/basepage.py
  tests/bot_tests.py
  tests/category_bot_tests.py
  tests/cosmetic_changes_tests.py
  tests/edit_tests.py
  tests/interwiki_graph_tests.py
  tests/interwikidata_tests.py
  tests/logentries_tests.py
  tests/memento_tests.py
  tests/oauth_tests.py
  tests/paraminfo_tests.py
  tests/patrolbot_tests.py
  tests/proofreadpage_tests.py
  tests/token_tests.py
  tests/tools_tests.py
Due: Framework, Tests

tests: Replaced assertRaises with assertRaisesRegex in djvu_tests.py
  tests/djvu_tests.py
Due: Tests

Tests: Run complete djvu_tests.py on github
  .github/workflows/pywikibot-ci.yml
  tests/djvu_tests.py
Due: Tests

[UI] Add tests for background colors in ui_tests.py
  tests/ui_tests.py
Due: Tests

tests: update copyright_fixer for Jenkins CI
  tests/hooks/copyright_fixer.py
Due: Tests

Move copyright headers above module docstrings
  pywikibot/data/api/__init__.py
  pywikibot/data/api/_paraminfo.py
  pywikibot/data/wikistats.py
  pywikibot/echo.py
  pywikibot/scripts/shell.py
  pywikibot/tools/collections.py
  scripts/maintenance/__init__.py
  tests/archivebot_tests.py
  tests/aspects.py
  tests/datasite_tests.py
  tests/deletionbot_tests.py
  tests/file_tests.py
  tests/interwiki_link_tests.py
  tests/link_tests.py
  tests/namespace_tests.py
  tests/protectbot_tests.py
  tests/site_detect_tests.py
  tests/tests_tests.py
  tests/timestripper_tests.py
  tests/tools_deprecate_tests.py
  tests/upload_tests.py
  tests/wikibase_edit_tests.py
Due: Framework, Tests, Scripts

Move copyright headers above module docstrings
  pywikibot/data/__init__.py
  pywikibot/page/__init__.py
  pywikibot/scripts/i18n/__init__.py
  pywikibot/userinterfaces/__init__.py
  pywikibot/userinterfaces/terminal_interface.py
  pywikibot/userinterfaces/terminal_interface_unix.py
  scripts/category_redirect.py
  scripts/cosmetic_changes.py
  tests/category_tests.py
  tests/checkimages_tests.py
  tests/data/fixes.py
  tests/data/set-fixes.py
  tests/data_ingestion_tests.py
  tests/fixes_tests.py
  tests/harvest_template_tests.py
  tests/plural_tests.py
  tests/pwb/print_env.py
  tests/pwb/print_locals.py
  tests/reflinks_tests.py
  tests/site_obsoletesites_tests.py
  tests/template_bot_tests.py
  tests/tools_chars_tests.py
  tests/ui_options_tests.py
Due: Framework, Tests, Scripts

Move copyright headers above module docstrings
  pywikibot/page/_revision.py
  pywikibot/specialbots/_unlink.py
  pywikibot/tools/_logging.py
  scripts/basic.py
  scripts/fixing_redirects.py
  scripts/illustrate_wikidata.py
  scripts/image.py
  scripts/movepages.py
  scripts/newitem.py
  scripts/speedy_delete.py
  scripts/touch.py
  scripts/unlink.py
  scripts/unusedfiles.py
  tests/date_tests.py
  tests/edit_failure_tests.py
  tests/site_decorators_tests.py
  tests/time_tests.py
  tests/uploadbot_tests.py
  tests/wikistats_tests.py
Due: Framework, Tests, Scripts

Move copyright headers above module docstrings
  pywikibot/comms/__init__.py
  pywikibot/data/api/_generators.py
  pywikibot/exceptions.py
  pywikibot/fixes.py
  pywikibot/site/_siteinfo.py
  pywikibot/site/_tokenwallet.py
  pywikibot/tools/threading.py
  scripts/commonscat.py
  scripts/djvutext.py
  scripts/protect.py
  scripts/reflinks.py
  tests/basesite_tests.py
  tests/gui_tests.py
  tests/page_tests.py
  tests/site_generators_tests.py
  tests/siteinfo_tests.py
  tests/ui_tests.py
  tests/wbtypes_tests.py
Due: Framework, Tests, Scripts

tests: exclude www.arabeyes.org from test_old_version_sites test
  tests/site_detect_tests.py
Due: Tests

Revert "tests: exclude www.arabeyes.org from test_old_version_sites test"
  tests/site_detect_tests.py
Due: Tests

Add Raushan to AUTHORS.rst
  AUTHORS.rst
Due: none

Move copyright headers above module docstrings
  pywikibot/logging.py
  pywikibot/plural.py
  pywikibot/scripts/generate_family_file.py
  pywikibot/site/_upload.py
  pywikibot/site_detect.py
  scripts/claimit.py
  scripts/delete.py
  scripts/maintenance/make_i18n_dict.py
  scripts/parser_function_count.py
  scripts/patrol.py
  tests/cache_tests.py
  tests/dry_api_tests.py
  tests/login_tests.py
  tests/pagegenerators_tests.py
  tests/textlib_tests.py
  tests/utils.py
  tests/xmlreader_tests.py
Due: Framework, Tests, Scripts

pagegenerators: Support namespaces parameter for all category generators
  pywikibot/pagegenerators/_factory.py
  pywikibot/pagegenerators/_generators.py
Due: Framework

doc: remove duplicate copyright comment
  scripts/weblinkchecker.py
Due: Scripts

tests: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

doc: update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

FilePage.download: use read throttle with FilePage.download
  pywikibot/page/_filepage.py
Due: Framework

site: raise NotImplementedError in BaseSite.__getattr__
  pywikibot/site/_basesite.py
Due: Framework

Tests: Add condition to install DjVuLibre on Linux runners
  .github/workflows/pywikibot-ci.yml
Due: none

L10N: Add support for urwikisource to Pywikibot
  pywikibot/families/wikisource_family.py
Due: Framework

Add support for kaiwiki to Pywikibot
  pywikibot/families/wikipedia_family.py
Due: Framework

tests: update prec-commit hooks
  .pre-commit-config.yaml
Due: none

doc: Update sphinx-tabs dependency
  docs/requirements.txt
Due: none

Sphinx: Add a dummy pytest class if SPHINX_RUNNING
  conftest.py
Due: none

[doc] Retry using Sphinx 9 after sphinx-tabs was updated
  docs/conf.py
  docs/requirements.txt
Due: none

doc: Update compatibily table
  docs/compatibility.rst
  pywikibot/__metadata__.py
Due: Framework

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
