Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

---
codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: true
    patch:
      default:
        enabled: true
    changes:
      default:
        enabled: true
  ignore:
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - scripts/create_isbn_edition.py
    - scripts/userscripts/
    - tests/pwb/
  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:
  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

tests: replace unmaintained flake8-tuple with ruff "COM"
  .pre-commit-config.yaml
  pyproject.toml
  scripts/template.py
  tests/api_tests.py
Due: Tests, Scripts

tests: remove unmaintained flake8-mock(-x2)
  .pre-commit-config.yaml
Due: none

doc: Update roadmap
  ROADMAP.rst
Due: none

tests: update bugbear dependency
  .pre-commit-config.yaml
Due: none

doc: Refer to Version compatibility instead of outdated MW page
  docs/index.rst
Due: none

Tests: Fix TestProofreadPageValidSite.test_url_image
  tests/proofreadpage_tests.py
Due: Tests

doc: Remove legacy class based usage for autodoc after Sphinx 9 works
  docs/conf.py
Due: none

Move ubuntu doctests for pypy 3.9 and Python 3.10-3.12 to Jenkins CI
  .github/workflows/doctest.yml
  tox.ini
Due: none

doc: Update documentation for Pywikibot 11.1
  ROADMAP.rst
  pywikibot/page/_filepage.py
  pywikibot/throttle.py
  scripts/CHANGELOG.rst
Due: Framework, Scripts

dist: Improvements for make_dist script
  make_dist.py
  tests/make_dist_tests.py
Due: Tests

[bugfix] Re-enable code entry point
  pywikibot/scripts/wrapper.py
  pywikibot/textlib.py
Due: Framework

Release: Publish Pywikibot 11.1
  ROADMAP.rst
  pywikibot/__metadata__.py
Due: Framework

[11.2] Prepare next release
  .pre-commit-config.yaml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
  scripts/pyproject.toml
Due: Framework, Scripts

fix: update scripts license declaration to SPDX string due to PEP639
  scripts/pyproject.toml
Due: Scripts

doc: fix publishing date
  HISTORY.rst
Due: none

IMPR: Remove UTM tracking parameter in FilePage.get_file_url()
  pywikibot/page/_filepage.py
Due: Framework

doc: Update generate_user_files documentation
  pywikibot/scripts/generate_user_files.py
Due: Framework

speedy_delete: don't add user talk pages to generator
  scripts/speedy_delete.py
Due: Scripts

[bugfix] use generator.close() instead of stop() in speedy_delete.py
  scripts/speedy_delete.py
Due: Scripts

tests: update pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
Due: none

[bugfix] No longer try to follow interwiki redirects
  pywikibot/site/_generators.py
Due: Framework

doc: Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  pyproject.toml
  pywikibot/site/_generators.py
  scripts/CHANGELOG.rst
Due: Framework, Scripts

Tests: Move pre-commit py313 lint test from Jenkins to GitHub
  .github/workflows/pre-commit.yml
  tox.ini
Due: none

tests: Replace assertRaises with assertRaisesRegex in proofreadpage_tests
  tests/proofreadpage_tests.py
Due: Tests
