Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - Users
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/preload_sites.py
    - pywikibot/scripts/version.py
    - scripts/dataextend.py
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/userscripts/
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:

  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

IMPR: use or operator instead of ternary operator for the if condition
  pywikibot/diff.py
  pywikibot/site/_datasite.py
  scripts/category.py
Due: Framework, Scripts

cleanup: remove undocumented TODO
  pywikibot/diff.py
Due: Framework

IMPR: use Path.cwd() classmethod to get the absolute path instead resolve()
  make_dist.py
Due: none

tests: omit pytest-cov and use coverage only
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  dev-requirements.txt
Due: none

scripts: require Pywikibot 10 with pywikibot-scripts
  scripts/pyproject.toml
Due: Scripts

tests: fix coverage pytest call for sysop_write_tests-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
Due: none

tests: show coverate report with sysop_write_tests-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
Due: none

Add support for new wiki
  pywikibot/families/wikipedia_family.py
Due: Framework

Follow-up changes from 9.6.1
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/CHANGELOG.rst
Due: Framework, Scripts

tests: Update pre-commit
  .pre-commit-config.yaml
Due: none

tests: add rst checks to pre-commit
  .pre-commit-config.yaml
Due: none

tests: ignore bugbear B028: No explicit stacklevel argument found
  tox.ini
Due: none

fix: remove unintentional pywikibot.warn()
  pywikibot/__init__.py
  pywikibot/bot.py
  pywikibot/data/api/_generators.py
  pywikibot/family.py
  pywikibot/login.py
  scripts/replace.py
Due: Framework, Scripts

cleanup: Drop support for MediaWiki < 1.31
  pywikibot/site/_apisite.py
  pywikibot/site_detect.py
  pywikibot/tools/__init__.py
  tests/logentries_tests.py
  tests/site_detect_tests.py
Due: Framework, Tests

tests: use ubuntu-22.04 with pypy3.8
  .github/workflows/pywikibot-ci.yml
Due: none

tests: use ubuntu-22.04 with Python 3.14-dev
  .github/workflows/pywikibot-ci.yml
Due: none

doc: update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

cleanup: Drop support for MediaWiki < 1.31
  pywikibot/_wbtypes.py
  tests/README.rst
  tests/aspects.py
  tests/dry_api_tests.py
  tests/edit_tests.py
  tests/siteinfo_tests.py
Due: Framework, Tests

cleanup: Support for MediaWiki <= 1.30 was dropped
  pywikibot/login.py
Due: Framework

Fix T379492: Implement ISBN retrieval and handle missing data
  scripts/create_isbn_edition.py
Due: Scripts

fix: Update property names for tests/site_tests.py
  tests/site_tests.py
Due: Tests

IMPR: use f-string instead of old format type
  pywikibot/data/api/_generators.py
  pywikibot/logentries.py
  pywikibot/site/_generators.py
Due: Framework

test: Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

1105275: Re - Fix: Implement ISBN retrieval and handle missing data
  scripts/create_isbn_edition.py
Due: Scripts

IMPR: Add BoundedPoolExecutor
  pywikibot/scripts/login.py
  pywikibot/tools/threading.py
  scripts/archivebot.py
  scripts/fixing_redirects.py
  scripts/watchlist.py
  tests/tools_threading_tests.py
Due: Framework, Tests, Scripts

tests: update pre-commit hooks
  .pre-commit-config.yaml
Due: none
