Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

Add support for new wiki
  pywikibot/families/wikiquote_family.py
Due: Framework

Add new property APISite.restrictions
  pywikibot/site/_apisite.py
  pywikibot/site/_generators.py
  scripts/protect.py
  tests/site_generators_tests.py
  tests/siteinfo_tests.py
Due: Framework, Tests, Scripts

IMPR: Retrieve siteinfo with formatversion 2
  pywikibot/backports.py
  pywikibot/data/api/_requests.py
  pywikibot/site/_apisite.py
  pywikibot/site/_datasite.py
  pywikibot/site/_namespace.py
  pywikibot/site/_siteinfo.py
  tests/utils.py
Due: Framework, Tests

Tests: ignore en.citizendium.org test in site_detect_tests on github
  tests/site_detect_tests.py
Due: Tests

Tests: Use site.user() in TestRollbackPage Error tests
  tests/site_tests.py
Due: Tests

[10.5.0] Publisch Pywikibot 10.5
  ROADMAP.rst
  pywikibot/__metadata__.py
Due: Framework

[10.6] Prepare next release 10.6
  .pre-commit-config.yaml
  HISTORY.rst
  ROADMAP.rst
  dev-requirements.txt
  docs/conf.py
  docs/requirements.txt
  pywikibot/__metadata__.py
  scripts/__init__.py
  scripts/pyproject.toml
Due: Framework, Scripts

MyPy: Solve some MyPy issues in several files
  .pre-commit-config.yaml
  conftest.py
  pywikibot/backports.py
  pywikibot/comms/eventstreams.py
  pywikibot/data/api/__init__.py
  pywikibot/data/api/_optionset.py
  pywikibot/data/api/_paraminfo.py
  pywikibot/data/api/_requests.py
  pywikibot/data/sparql.py
  pywikibot/diff.py
  pywikibot/page/_category.py
  pywikibot/page/_collections.py
  pywikibot/page/_user.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/pagegenerators/_filters.py
  pywikibot/site/_extensions.py
  tox.ini
Due: Framework

[bugfix] Return userPut result with put_current method in AutomaticTWSummaryBot
  ROADMAP.rst
  pywikibot/bot.py
  tests/interwikidata_tests.py
Due: Framework, Tests

[bugfix] Fix Transliterator for Lao char
  pywikibot/userinterfaces/transliteration.py
Due: Framework

Typing: Solve some mypy issues
  .pre-commit-config.yaml
  conftest.py
  pywikibot/backports.py
  pywikibot/tools/chars.py
  pywikibot/tools/threading.py
  pywikibot/userinterfaces/buffer_interface.py
Due: Framework

Tests: Fix TestBacklinks tests in site_generators_tests.py
  tests/site_generators_tests.py
Due: Tests

Typing: Solve some mypy issues
  .pre-commit-config.yaml
  conftest.py
  pyproject.toml
  pywikibot/_wbtypes.py
  pywikibot/bot.py
  pywikibot/data/wikistats.py
  pywikibot/date.py
  pywikibot/i18n.py
  pywikibot/page/_wikibase.py
  pywikibot/plural.py
  pywikibot/site/_namespace.py
Due: Framework

IMPT: daemonize improvements
  .pre-commit-config.yaml
  ROADMAP.rst
  conftest.py
  pywikibot/daemonize.py
Due: Framework

MyPy: solve MyPy issues in cosmetic_changes.py and titletranslate.py
  .pre-commit-config.yaml
  conftest.py
  pywikibot/cosmetic_changes.py
  pywikibot/titletranslate.py
Due: Framework

[bugfix] finally reset messages in DeprecationTestCase.assertOneDeprecation
  tests/aspects.py
Due: Tests

IMPR: rename deprecate_positional to deprecated_signature
  pywikibot/_wbtypes.py
  pywikibot/daemonize.py
  pywikibot/page/_basepage.py
  pywikibot/site/_apisite.py
  pywikibot/site/_generators.py
  pywikibot/throttle.py
  pywikibot/tools/__init__.py
  pywikibot/tools/_deprecate.py
  tests/tools_deprecate_tests.py
Due: Framework, Tests

[IMPR] Add return after super(UI).encounter_color() call
  pywikibot/userinterfaces/terminal_interface_win32.py
Due: Framework

[cleanup] remove Python 2 code in aspects.py
  tests/aspects.py
Due: Tests

Tests: Remove unused return statements in tools_deprecate_tests
  tests/tools_deprecate_tests.py
Due: Tests

IMPR: Show user-agent with version script
  pywikibot/scripts/version.py
Due: Framework

[bugfix] remove U+9676 replacement
  pywikibot/userinterfaces/transliteration.py
  tests/ui_tests.py
Due: Framework, Tests

Tests: Python 3.14 is published; use ist with tests
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/windows_tests.yml
  .pre-commit-config.yaml
Due: none

Tests: Use Python 3.14 for pre-commit tests with ubuntu
  .github/workflows/pre-commit.yml
Due: none

tests: try enabling interwiki_link_tests on github
  tests/interwiki_link_tests.py
Due: Tests

Add deprecation tag for Family.interwiki_replacement
  ROADMAP.rst
  pywikibot/family.py
  tests/family_tests.py
Due: Framework, Tests

Doc: Update ROADMAP.rst and AUTHORS.rst
  AUTHORS.rst
  ROADMAP.rst
  docs/changelog.rst
Due: none

Upgrade assertRaises to assertRaisesRegex
  tests/api_tests.py
  tests/archivebot_tests.py
  tests/file_tests.py
  tests/page_tests.py
  tests/proofreadpage_tests.py
  tests/site_generators_tests.py
  tests/wbtypes_tests.py
Due: Tests

cleanup: No longer inherit SupersetQuery from WaitingMixin
  pywikibot/data/superset.py
Due: Framework

[Family] Add Romanian templates in Wikipedia family
  pywikibot/families/wikipedia_family.py
Due: Framework

tests: test supertest with Pywikibot-oauth account
  .github/workflows/oauth_tests-ci.yml
  tests/superset_tests.py
Due: Tests

Add Citoid API to pywikibot
  pywikibot/data/citoid.py
  pywikibot/exceptions.py
  pywikibot/families/wikipedia_family.py
  tests/citoid_tests.py
Due: Framework, Tests

Announcement:Show a warning if Pywikibot is running with Python 3.8
  ROADMAP.rst
  docs/index.rst
  pywikibot/__init__.py
  tests/utils.py
Due: Framework, Tests

[IMPR] add union_generators function to tools.itertools
  pywikibot/tools/itertools.py
Due: Framework

tests: meta login is required for superset test
  .github/workflows/oauth_tests-ci.yml
Due: none

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
