Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

coverage: Exclude alllinks method from coverage
  pywikibot/site/_generators.py
Due: Framework

[Bugfix] restart generator in TestPagePreloading.test_titles()
  tests/site_generators_tests.py
Due: Tests

Tests: Solve unexpected success for TestScriptGenerator.test_misspelling
  tests/script_tests.py
Due: Tests

Tests: run pre-commit on Python 3.15 with experimental flag
  .github/workflows/pre-commit.yml
Due: none

Revert Tests: temporary exclude testwiki from some rc tests
  tests/site_generators_tests.py
Due: Tests

Test: Extract error message for T408721
  pywikibot/login.py
Due: Framework

Revert "Test: Extract error message for T408721"
  pywikibot/login.py
Due: Framework

IMPR: Improvement for pagefromfile.NoTitleError
  scripts/pagefromfile.py
Due: Scripts

tests: temporary let beta-tests fail on github
  .github/workflows/oauth_tests-ci.yml
Due: none

L10N: Add support for pcmwikiquote and minwikisource to Pywikibot
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
Due: Framework

Move Python deprecation warning from pywikibot library to pwb wrapper
  pwb.py
  pywikibot/__init__.py
  tests/utils.py
Due: Framework, Tests

[10.7] publish Pywikibot 10.7
  ROADMAP.rst
  pywikibot/__metadata__.py
Due: Framework

[11] Prepare next release 11
  .pre-commit-config.yaml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
  scripts/pyproject.toml
Due: Framework, Scripts

tests: no longer run CI tests with Python 3.9
  tox.ini
Due: none

Cleanup: remove predefined yu-tld fix in fixes.py
  docs/conf.py
  pywikibot/bot.py
  pywikibot/fixes.py
Due: Framework

Cleanup: Drop support for Python 3.9
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
  dev-requirements.txt
  pwb.py
  pyproject.toml
  requirements.txt
  scripts/pyproject.toml
  setup.py
  tests/utils.py
Due: Tests, Scripts

cleanup: remove create_isbn_edition.py from scripts package
  .codecov.yml
  docs/scripts/archive.rst
  docs/scripts/wikibase.rst
  docs/scripts_ref/scripts.rst
  scripts/create_isbn_edition.py
  scripts/pyproject.toml
  setup.py
  tests/script_tests.py
Due: Tests, Scripts

cleanup: remove removeprefix and removesuffix from packports
  pywikibot/__init__.py
  pywikibot/backports.py
  pywikibot/config.py
  pywikibot/data/api/_requests.py
  pywikibot/data/sparql.py
  pywikibot/family.py
  pywikibot/i18n.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/site/_apisite.py
  pywikibot/site_detect.py
  pywikibot/userinterfaces/terminal_interface_base.py
  scripts/claimit.py
  scripts/delinker.py
  scripts/patrol.py
  scripts/reflinks.py
  scripts/weblinkchecker.py
  tests/__init__.py
  tests/aspects.py
Due: Framework, Tests, Scripts

cleanup: replace backports.cache with functools.cache
  pywikibot/__init__.py
  pywikibot/backports.py
  pywikibot/i18n.py
  pywikibot/version.py
Due: Framework

cleanup: replace Dict, List, Set from backports with bare types
  pywikibot/backports.py
  pywikibot/bot.py
  pywikibot/comms/eventstreams.py
  pywikibot/data/api/_optionset.py
  pywikibot/data/api/_paraminfo.py
  pywikibot/data/sparql.py
  pywikibot/site/_siteinfo.py
Due: Framework

cleanup: replace Pattern, Match from backports with re.Pattern, re.Match
  pywikibot/backports.py
  pywikibot/cosmetic_changes.py
  pywikibot/data/api/_requests.py
  pywikibot/date.py
  pywikibot/i18n.py
  pywikibot/pagegenerators/_filters.py
  pywikibot/site/_apisite.py
  pywikibot/site/_basesite.py
  pywikibot/textlib.py
  scripts/archivebot.py
  scripts/replace.py
Due: Framework, Scripts

cleanup: replace collections from backports collections classes
  pywikibot/backports.py
  pywikibot/config.py
  pywikibot/family.py
  pywikibot/site/_apisite.py
  pywikibot/textlib.py
  pywikibot/throttle.py
  scripts/delete.py
Due: Framework, Scripts

cleanup: remove unused imports in the backports
  pywikibot/backports.py
  tox.ini
Due: Framework

[bugfix] import cast to prevent NameError in WbTime
  pywikibot/_wbtypes.py
Due: Framework

cleanup: drop support for Python 3.8
  HISTORY.rst
  ROADMAP.rst
  docs/compatibility.rst
  docs/index.rst
  pywikibot/README.rst
  pywikibot/tools/collections.py
  scripts/CHANGELOG.rst
  scripts/archivebot.py
Due: Framework, Scripts

cleabup: Remove deprecated code parts and update ROADMAP.rst
  ROADMAP.rst
  pywikibot/_wbtypes.py
  pywikibot/data/api/__init__.py
  pywikibot/data/api/_paraminfo.py
  pywikibot/exceptions.py
  pywikibot/family.py
  pywikibot/login.py
Due: Framework

doc: fix ROADMAP.rst
  ROADMAP.rst
Due: none

tests: update file_tests.TestFilePageLatestFileInfo
  pywikibot/page/_filepage.py
  tests/file_tests.py
Due: Framework, Tests

tox: update CI jobs
  tox.ini
Due: none

cleanup: remove deprecated code parts and update ROADMAP.rst
  ROADMAP.rst
  docs/api_ref/tools/tools.itertools.rst
  pywikibot/time.py
  pywikibot/tools/itertools.py
Due: Framework

cleanup: remove deprecated code parts and update ROADMAP.rst
  ROADMAP.rst
  pywikibot/data/api/_generators.py
  pywikibot/page/_basepage.py
  pywikibot/site/_apisite.py
  pywikibot/site/_basesite.py
  pywikibot/site/_tokenwallet.py
  tests/page_tests.py
Due: Framework, Tests

Tests: update tests after dropping deprecated code parts
  tests/site_tests.py
  tests/token_tests.py
Due: Tests

addwikis: Add wikis to one or more families in a single run
  scripts/maintenance/addwikis.py
Due: Scripts

tests: increase wait time for watchlist test
  tests/page_tests.py
Due: Tests

Update Pillow requirements
  requirements.txt
  setup.py
Due: none

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
