Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

---
codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: true
    patch:
      default:
        enabled: true
    changes:
      default:
        enabled: true
  ignore:
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - scripts/create_isbn_edition.py
    - scripts/userscripts/
    - tests/pwb/
  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:
  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

site: Avoid building namespace overlap sets
  pywikibot/site/_generators.py
Due: Framework

textlib: Join template parameter fragments
  pywikibot/textlib.py
Due: Framework

[site] Raise ServerError for invalid userinfo API responses
  pywikibot/site/_apisite.py
Due: Framework

page: Join revision history table fragments
  pywikibot/page/_basepage.py
Due: Framework

archivebot: Join discussion page fragments
  scripts/archivebot.py
Due: Scripts

diff: Join hunk and context fragments
  pywikibot/diff.py
Due: Framework

tests: (Temporary) skip test_console_scripts_entry_point for Windows
  tests/pwb_tests.py
Due: Tests

Revert "tests: (Temporary) skip test_console_scripts_entry_point for Windows"
  tests/pwb_tests.py
Due: Tests

Revert "tests: (Temporary) skip test_console_scripts_entry_point for GraalPy"
  tests/pwb_tests.py
Due: Tests

Revert "tests: verify pwb site-package console entry point"
  pywikibot/scripts/wrapper.py
  tests/pwb_tests.py
Due: Framework, Tests

tests: Mark test_Coordinate_edit as expectedFailure
  tests/wikibase_edit_tests.py
Due: Tests

tests: expect failures with unconnected pages on betawikipedia
  tests/pagegenerators_tests.py
  tests/site_generators_tests.py
Due: Tests

tests: Run TestSiteObject.test_constructors only for WikimediaFamily
  tests/site_tests.py
Due: Tests

release: Publish Pywikibot 11.8
  AUTHORS.rst
  ROADMAP.rst
  pwb.py
  pywikibot/__metadata__.py
  pywikibot/site/_apisite.py
  tests/utils.py
Due: Framework, Tests

release: Prepare next release 11.9.0
  .github/workflows/doctest.yml
  .github/workflows/graalpy_tests.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
  .pre-commit-config.yaml
  HISTORY.rst
  ROADMAP.rst
  dev-requirements.txt
  pywikibot/__metadata__.py
  scripts/__init__.py
  scripts/commonscat.py
  scripts/pyproject.toml
Due: Framework, Scripts

diff: Join colored line fragments
  pywikibot/diff.py
Due: Framework

checkimages: Reuse formatted template titles
  scripts/checkimages.py
Due: Scripts

textlib: Retain only the last timestamp match
  pywikibot/textlib.py
Due: Framework

tests: Use distinct labels for new property creation
  tests/wikibase_edit_tests.py
Due: Tests

tests: Use a Wikidata globe item in coordinate edit test
  tests/wikibase_edit_tests.py
Due: Tests

weblinkchecker: Join dead-link history report lines
  scripts/weblinkchecker.py
Due: Scripts

tests: Don't run dry tests with deeptests-py314
  tox.ini
Due: none

textlib: Support legacy encoded section titles
  pywikibot/textlib.py
  tests/textlib_tests.py
Due: Framework, Tests

checkimages: Use a set to track loaded settings
  scripts/checkimages.py
Due: Scripts

category: Join list output fragments
  scripts/category.py
Due: Scripts

category: Extract bot construction
  scripts/category.py
  tests/category_bot_tests.py
Due: Tests, Scripts

fix spacing
  scripts/clean_sandbox.py
Due: Scripts

pwb: Suggest installing all requirements for missing dependencies
  pywikibot/scripts/wrapper.py
Due: Framework

tests: Pin PyPy 3.11 to pypy3.11-v7.x (3.11.15)
  .github/workflows/pywikibot-ci.yml
  pywikibot/userinterfaces/gui.py
Due: Framework

doc: Sort CONTENT.rst without considering case
  CONTENT.rst
Due: none

doc: Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

[bugfix] Support custom Timestamp ISO separators
  pywikibot/time.py
  tests/time_tests.py
Due: Framework, Tests

docs: update changelog link to the rendered docs instead of HISTORY.rst
  README.rst
Due: none

user: Rename force parameter to refresh
  ROADMAP.rst
  pywikibot/page/_user.py
  tests/user_tests.py
Due: Framework, Tests

tests: Test framework with Python 3.16-dev
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

tests: Keep new property label and description distinct
  tests/wikibase_edit_tests.py
Due: Tests

Use built-in methods for exact prefix and suffix removal
  pywikibot/textlib.py
  scripts/archivebot.py
  scripts/clean_sandbox.py
  scripts/download_dump.py
  scripts/interwikidata.py
  scripts/misspelling.py
  scripts/movepages.py
  scripts/newitem.py
  scripts/nowcommons.py
  scripts/parser_function_count.py
  scripts/protect.py
  scripts/revertbot.py
Due: Framework, Scripts

time: Simplify ISO 8601 timezone parsing with strptime
  pywikibot/time.py
Due: Framework
