Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

---
codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: true
    patch:
      default:
        enabled: true
    changes:
      default:
        enabled: true
  ignore:
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - scripts/create_isbn_edition.py
    - scripts/userscripts/
    - tests/pwb/
  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:
  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

Remove trailing colon in EXC_KEYS dict of replace.py
  scripts/replace.py
Due: Scripts

tests: Ignore write tests with deeptest-py314
  tox.ini
Due: none

[proofreadpage] Cache page quality and existence in _get_page_mappings
  pywikibot/proofreadpage.py
Due: Framework

TokenWallet: Reload a single token if missing in the dict
  pywikibot/site/_tokenwallet.py
Due: Framework

Fix spelling mistake in proofreadpage
  pywikibot/proofreadpage.py
Due: Framework

doc: Update ROADMAP.rst
  ROADMAP.rst
Due: none

doc: Fix spelling mistake in ROADMAP.rst
  ROADMAP.rst
Due: none

tests: re-enable pypy-tests
  tox.ini
Due: none

tests: Fix TestFactoryGeneratorWikibase.test_searchitem test
  tests/pagegenerators_tests.py
Due: Tests

Introduce SevenZipFile class for open_archive()
  pywikibot/config.py
  pywikibot/tools/__init__.py
  tests/tools_tests.py
Due: Framework, Tests

Fix spelling mistake in tools_tests
  tests/tools_tests.py
Due: Tests

Fix spelling mistakes in tools_tests
  tests/tools_tests.py
Due: Tests

Fix spelling mistakes.
  pywikibot/__init__.py
  pywikibot/logging.py
Due: Framework

Add support for new wiki
  pywikibot/families/wikipedia_family.py
  pywikibot/family.py
Due: Framework

Fix tests.tools_tests.OpenArchiveTestCase.test_7_zip_file
  tests/tools_tests.py
Due: Tests

IMPR: Add support for temporary accounts
  pywikibot/page/_user.py
  pywikibot/site/_generators.py
  tests/user_tests.py
Due: Framework, Tests

doc: Update ROADMAP.rst, remove snyk badge
  README.rst
  ROADMAP.rst
Due: none

fix test_constructors: use meta if current site is from beta cluster
  tests/site_tests.py
Due: Tests

tests: simplify DefaultUserAgentTestCase
  tests/http_tests.py
Due: Tests

tests: Mark TestSiteGeneratorsUsers.test_allusers as expected failure
  tests/site_generators_tests.py
Due: Tests

release: Publish Pywikibot 11.4
  pywikibot/__metadata__.py
Due: Framework

[11.5] Prepare next release
  .github/workflows/doctest.yml
  .github/workflows/graalpy_tests.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
  .pre-commit-config.yaml
  HISTORY.rst
  ROADMAP.rst
  dev-requirements.txt
  pywikibot/__metadata__.py
  scripts/__init__.py
  scripts/pyproject.toml
Due: Framework, Scripts

Remove special namespaces -1 and -2 if not: directive is used with ns
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_factory.py
  tests/pagegenerators_tests.py
Due: Framework, Tests

Fix spelling mistake in pagegenerators_tests
  tests/pagegenerators_tests.py
Due: Tests

tests: Improvements for tools_tests.py
  tests/tools_tests.py
Due: Tests

coverage: Remove "if SPHINX_RUNNING:" lines from coverage
  pyproject.toml
Due: none

tests: Fix TestIsIpAddress when testing IPv4
  tests/tools_tests.py
Due: Tests

Fix documentation mistakes in tools_tests
  tests/tools_tests.py
Due: Tests

[bugfix] Ensure GeneratorFactory.gens is not empty if a generator is specified
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_factory.py
  tests/pagegenerators_tests.py
Due: Framework, Tests

release: Publish Pywikibot 11.4.1
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/echo.py
  pywikibot/page/_user.py
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/site/_generators.py
Due: Framework

release: Prepare next release
  .pre-commit-config.yaml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
Due: Framework

tests: Fix http_tests
  tests/aspects.py
  tests/http_tests.py
Due: Tests

expect failure for test_server_not_found method
  tests/http_tests.py
Due: Tests

[bugfix] Remove obsolete WMF_CACERT legacy check
  pywikibot/scripts/version.py
Due: Framework
