Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

---
codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: true
    patch:
      default:
        enabled: true
    changes:
      default:
        enabled: true
  ignore:
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - scripts/create_isbn_edition.py
    - scripts/userscripts/
    - tests/pwb/
  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:
  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

IMPR: Add a new collection class DataRecord an derive Revision from it
  docs/conf.py
  pywikibot/page/_revision.py
  pywikibot/tools/collections.py
Due: Framework

[feature] Enable all prop informations with usercontribs and User.contribs
  pywikibot/exceptions.py
  pywikibot/page/__init__.py
  pywikibot/page/_user.py
  pywikibot/pagegenerators/_generators.py
  pywikibot/site/_generators.py
Due: Framework

Add support for new wiki
  pywikibot/families/wikipedia_family.py
  pywikibot/family.py
Due: Framework

release: publish Pywikibot 11.6.0
  ROADMAP.rst
  pywikibot/__metadata__.py
Due: Framework

release: Prepare next release 11.7.0
  .pre-commit-config.yaml
  HISTORY.rst
  ROADMAP.rst
  dev-requirements.txt
  pywikibot/__metadata__.py
  scripts/__init__.py
  scripts/pyproject.toml
Due: Framework, Scripts

tests: improvements for HttpbinTestCase
  tests/aspects.py
  tests/http_tests.py
Due: Tests

[bugfix] do not use sys._getframemodulename with GraalPy
  pywikibot/backports.py
  pywikibot/tools/_deprecate.py
Due: Framework

tests: Recover TestScriptSimulate and TestScriptGenerator
  tests/script_tests.py
Due: Tests

tests: Update coverage for comms module
  pywikibot/comms/eventstreams.py
  pywikibot/comms/http.py
Due: Framework

tests: increase timeout for graalpy test
  .github/workflows/graalpy_tests.yml
Due: none

IMPR: use new User.contribs with revertbot.py
  scripts/revertbot.py
Due: Scripts

docs: improve tests package documentation
  docs/tests_ref/aspects.rst
  docs/tests_ref/basepage.rst
  docs/tests_ref/index.rst
  docs/tests_ref/precommit.rst
  docs/tests_ref/pytest.rst
  docs/tests_ref/tests.rst
  docs/tests_ref/utils.rst
  tests/README.rst
  tests/__init__.py
Due: Tests

tests: skip test_http_504 and test_follow_redirects on ServerError
  tests/http_tests.py
Due: Tests

IMPR(GeneratorsMixin.usercontribs): Add all `ucshow` parameters
  pywikibot/page/_user.py
  pywikibot/site/_generators.py
  tests/site_generators_tests.py
Due: Framework, Tests

MWSite: raise the Exception if self.private_wiki value cannot be set
  pywikibot/site_detect.py
Due: Framework

doc: Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  pyproject.toml
  scripts/CHANGELOG.rst
Due: Scripts

mypy: Fix mypy errors in sparql and editor modules
  .pre-commit-config.yaml
  conftest.py
  pywikibot/data/sparql.py
  pywikibot/editor.py
Due: Framework

IMPR: Improvements for Site.assert_valid_iter_params
  pywikibot/site/_apisite.py
  tests/site_generators_tests.py
Due: Framework, Tests

Use extension role in site._extension
  pywikibot/site/_extensions.py
Due: Framework

tests: Replace assertRaises in eventstreams tests
  AUTHORS.rst
  tests/eventstreams_tests.py
Due: Tests

Add PYWIKIBOT_TEST_DEFAULT_ONLY environment variable
  tests/README.rst
  tests/aspects.py
Due: Tests

tests: use PYWIKIBOT_TEST_DEFAULT_ONLY with wikisource:zh
  .github/workflows/pywikibot-ci.yml
Due: none

tests: update GitHub action timeouts
  .github/workflows/doctest.yml
  .github/workflows/graalpy_tests.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
Due: none

[bugfix] Fix site_generators_tests
  tests/site_generators_tests.py
Due: Tests

Increase Timeout for GraalPy Tests
  .github/workflows/graalpy_tests.yml
Due: none

tests: Fix FutureWarnings for assert_valid_iter_params is_ts parameter
  tests/site_generators_tests.py
Due: Tests

exceptions: replace tree markers with Unicode box-drawing characters
  pywikibot/exceptions.py
Due: Framework

citoid: raise CitoidError on error response
  pywikibot/data/citoid.py
  pywikibot/exceptions.py
Due: Framework

i18n.altlang: Improve fallback language lookup
  pywikibot/i18n.py
  tests/i18n_tests.py
Due: Framework, Tests

Update redirected links
  README.rst
Due: none

tests: increase timeout for TestScriptGenerator in script_tests
  tests/script_tests.py
Due: Tests

tests: Show duration together with the test result
  tests/aspects.py
Due: Tests

[bugfix] Match multiline HTML comments
  pywikibot/textlib.py
Due: Framework

tests: increase coverage of tests
  tests/make_dist_tests.py
  tests/site_decorators_tests.py
  tests/tools_deprecate_tests.py
Due: Tests

tests: add editor_tests.py to pywikibot.tests
  tests/editor_tests.py
Due: Tests

tests: add editor_tests to collector
  tests/__init__.py
Due: Tests

tests: Add assertHasItems helper for non-empty iterables
  tests/aspects.py
Due: Tests

tests: Add unlinkbot_tests.py
  pywikibot/specialbots/__init__.py
  tests/__init__.py
  tests/unlinkbot_tests.py
Due: Framework, Tests
