Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

doc: Update ROADMAP.rst
  ROADMAP.rst
  docs/index.rst
Due: none

tests: temporary let beta-tests fail on github
  .github/workflows/login_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

release: Publish Pywikibot 11.2
  pywikibot/__metadata__.py
Due: Framework

[11.3] Prepare next release
  .pre-commit-config.yaml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/families/abstract_family.py
  scripts/__init__.py
  scripts/pyproject.toml
Due: Framework, Scripts

tests: Update Hello World result after page was moved
  tests/site_tests.py
Due: Tests

doc: Update deprecation warnings in ROADMAP.rst
  ROADMAP.rst
Due: none

pagegenerators: use quiet mode for preloading by default
  pywikibot/pagegenerators/_factory.py
Due: Framework

[bugfix] Ignote UnicodeDecodeError in cosmetic_changes.cleanUpLinks
  pywikibot/cosmetic_changes.py
Due: Framework

Fix noreferences.py skipping references header without trailing newline
  scripts/noreferences.py
Due: Scripts

tests: Several updates
  .pre-commit-config.yaml
  dev-requirements.txt
  tox.ini
Due: none

IMPR: load allpages with content flag
  scripts/parser_function_count.py
Due: Scripts

tests: replace assertRaises with assertRaisesRegex in api_tests.py
  tests/api_tests.py
Due: Tests

Fix: Add Devanagari numerals to NON_ASCII_DIGITS
  pywikibot/textlib.py
  pywikibot/userinterfaces/transliteration.py
  tests/archivebot_tests.py
Due: Framework, Tests

Update TestTitleTranslate.test_translate
  tests/titletranslate_tests.py
Due: Tests

[bugfix] Remove tracking parameters in FileInfo.url
  pywikibot/page/_filepage.py
Due: Framework

Update and fix documentation
  ROADMAP.rst
  pywikibot/cosmetic_changes.py
  pywikibot/pagegenerators/_factory.py
  scripts/CHANGELOG.rst
  scripts/noreferences.py
  scripts/parser_function_count.py
Due: Framework, Scripts

[bugfix] Enable cc method commonsfiledesc for FILE namespace on commons
  pywikibot/cosmetic_changes.py
Due: Framework

doc: Fix spelling mistakes
  pywikibot/cosmetic_changes.py
  pywikibot/page/_filepage.py
  scripts/parser_function_count.py
Due: Framework, Scripts

[11.4] Prepare next release
  HISTORY.rst
  ROADMAP.rst
  dev-requirements.txt
  pywikibot/__metadata__.py
  scripts/__init__.py
  scripts/pyproject.toml
Due: Framework, Scripts

doc: Fix spelling mistakes
  pywikibot/site/_generators.py
Due: Framework

typing: fix imports for type checking in GeneratorsMixin
  pywikibot/site/_generators.py
Due: Framework

doc: remove unneeded rtype in pages_with_property() method
  pywikibot/site/_generators.py
Due: Framework

doc: Update docstring of redirect script
  scripts/redirect.py
Due: Scripts

redirect: simplify get_redirect_pages_via_api method by using until parameter
  scripts/redirect.py
Due: Scripts

doc: Rewording of warning hint with -fullscan option
  scripts/redirect.py
Due: Scripts

doc: fix spelling mistake
  pywikibot/pagegenerators/_generators.py
Due: Framework

[bugfix] Fix unbalanced bracket in linksInRef of reflinks script
  scripts/reflinks.py
Due: Scripts

doc: add Pywikibot version to version-changed directive
  pywikibot/pagegenerators/_generators.py
  pywikibot/site/_extensions.py
Due: Framework

doc: Fix spelling mistake in site._extensions
  pywikibot/site/_extensions.py
Due: Framework

[bugfix] Get default None from source instead raising StopIteration
  scripts/redirect.py
Due: Scripts

Revert "Temporary logger in SocketIO tests"
  tests/pagegenerators_tests.py
Due: Tests

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
