Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - Users
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/preload_sites.py
    - pywikibot/scripts/version.py
    - scripts/dataextend.py
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/userscripts/
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:

  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

IMPR: add access_token.setter to OauthLoginManager
  pywikibot/login.py
  tests/oauth_tests.py
Due: Framework, Tests

cleanup: remove MediaWiki dependency in archivebot
  scripts/archivebot.py
Due: Scripts

cleanup: remove MediaWiki dependencies in wbtypes_tests and wikibase_edit_tests
  tests/wbtypes_tests.py
  tests/wikibase_edit_tests.py
Due: Tests

tests: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

tests: install fake_useragent != 2.0 for Python 3.8
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
Due: none

tests: use coverage < 7.6.2 with pypy 3.10
  .github/workflows/pywikibot-ci.yml
Due: none

IMPR: simplify site_detect.py
  pywikibot/site_detect.py
Due: Framework

Revert "tests: increase test timeout for oauth_tests-ci.yml"
  .github/workflows/oauth_tests-ci.yml
Due: none

tests: install fake_useragent != 2.0 for Python 3.8
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
  setup.py
Due: none

tests: install fake_useragent != 2.0 for Python 3.8" for github action
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
Due: none

tests: don't use pytest-skiptest 0.14.0 with Python 3.9 and 3.10
  dev-requirements.txt
  tox.ini
Due: none

tests: set check-added-large-files argument to 200 kb
  .pre-commit-config.yaml
Due: none

IMPR: Fix spelling mistakes in blockpageschecker
  scripts/blockpageschecker.py
Due: Scripts

IMPR: *precision* value 'millenia' is deprecated due to spelling mistake
  pywikibot/_wbtypes.py
  tests/wbtypes_tests.py
Due: Framework, Tests

doc: Fix spelling mistakes
  HISTORY.rst
  docs/conf.py
  docs/scripts/archive.rst
  docs/scripts/outdated.rst
  pywikibot/data/sparql.py
  pywikibot/family.py
  pywikibot/page/_filepage.py
  pywikibot/page/_toolforge.py
  pywikibot/pagegenerators/_generators.py
  pywikibot/scripts/generate_family_file.py
  pywikibot/site/_upload.py
  pywikibot/tools/_deprecate.py
  scripts/CHANGELOG.rst
  scripts/category_graph.py
  scripts/checkimages.py
  scripts/maintenance/unidata.py
  scripts/transwikiimport.py
  tests/dry_api_tests.py
  tests/pagegenerators_tests.py
  tests/proofreadpage_tests.py
  tests/redirect_bot_tests.py
  tests/site_login_logout_tests.py
Due: Framework, Tests, Scripts

IMPR: fix spelling mistakes
  scripts/checkimages.py
  scripts/transwikiimport.py
  tests/data/xml/article-pear.xml
Due: Tests, Scripts

cleanup: remove deprecated textlib code
  ROADMAP.rst
  pywikibot/textlib.py
Due: Framework

doc: update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

cleanup: remove APISite.article_path in favour of articlepath
  ROADMAP.rst
  pywikibot/site/_apisite.py
Due: Framework

cleanup: pywikibot.page cleanups
  ROADMAP.rst
  pywikibot/page/_basepage.py
  pywikibot/page/_filepage.py
Due: Framework

cleanup: remove positional arguments for logging functions
  ROADMAP.rst
  pywikibot/logging.py
Due: Framework

cleanup: Remove Family.linktrail()
  ROADMAP.rst
  pywikibot/family.py
Due: Framework

cleanup: remove outdated code
  ROADMAP.rst
  docs/api_ref/pywikibot.site.rst
  pywikibot/page/_basepage.py
  pywikibot/site/_datasite.py
Due: Framework

Fix use of importlib.metadata.entry_points in python 3.9
  pywikibot/scripts/wrapper.py
Due: Framework

requirements: require requests >= 2.31.0 due to security issues
  pywikibot/data/sparql.py
  pywikibot/site_detect.py
  setup.py
Due: Framework

requirements: Update sphinx requirements
  docs/conf.py
  docs/requirements.txt
Due: none

tests: remove hacking rules settings
  tox.ini
Due: none

requirements: require requests >= 2.31.0 due to security issues
  requirements.txt
Due: none

IMPR: use str() buildin instead of soecial function call __str__
  pywikibot/exceptions.py
  pywikibot/site/_basesite.py
Due: Framework

tests: remove per-file-ignores hacking rules
  tox.ini
Due: none

tests: use flake8-comprehensions and flake8-raise with ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: none

tests: don't use pytest-skiptest 0.14.0
  dev-requirements.txt
  tox.ini
Due: none

tests: install fake_useragent != 2.0.0
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
  dev-requirements.txt
  setup.py
Due: none

doc: Update ROADMAP.rst
  ROADMAP.rst
Due: none

IMPR: simplify diff.Hunk.create_diff
  pywikibot/diff.py
Due: Framework
