Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

tests: Mock APISite.login in deletionbot_tests.py
  tests/deletionbot_tests.py
Due: Tests

tests: Remove login attribute from RequireLoginMixin
  tests/aspects.py
Due: Tests

Doc: Add a table of login methods
  docs/api_ref/login.rst
Due: none

IMPR: replace codecs.open with open in category script
  scripts/category.py
Due: Scripts

IMPR: replace codecs.open with open or pathlib methods in solve_disambiguation
  scripts/solve_disambiguation.py
Due: Scripts

IMPR: replace codecs.open with open or Path.read_text method in upload.py
  scripts/upload.py
Due: Scripts

IMPR: replace codecs.open with open in welcome.py
  scripts/welcome.py
Due: Scripts

IMPR: replace codecs.open with open in weblinkchecker.py
  scripts/weblinkchecker.py
Due: Scripts

Tests: replace codecs.open with pathlib methods in textlib_tests.py
  tests/pages/enwiki_help_editing.meta
  tests/textlib_tests.py
Due: Tests

doc: Update ROADMAP.rst, CHANGELOG.rst and AUTHORS.rst
  AUTHORS.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

trsts: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Style: Don't use "else" after "raise" statement
  tests/gui_tests.py
Due: Tests

tests: Validate that Timestamp.replace() returns a Timestamp
  tests/time_tests.py
Due: Tests

[FEAT] exturlusage: search for http and https by default
  pywikibot/site/_generators.py
  tests/site_generators_tests.py
Due: Framework, Tests

[Bugfix] Fix i18n.translate calls
  pywikibot/cosmetic_changes.py
  scripts/category.py
  scripts/commonscat.py
  scripts/imagetransfer.py
  scripts/interwiki.py
  scripts/solve_disambiguation.py
Due: Framework, Scripts

pre-commit: Update pre-commit dependency
  dev-requirements.txt
  tox.ini
Due: none

[BUG] exturlusage: protocol can't be a list
  pywikibot/site/_generators.py
  tests/site_generators_tests.py
Due: Framework, Tests

IMPR: Use wikidata items for archive header templates
  scripts/archivebot.py
Due: Scripts

IMPR: Use wikidata items broken redirect templates
  scripts/redirect.py
  tests/redirect_bot_tests.py
Due: Tests, Scripts

login.py: Recognise * in config.usernames
  pywikibot/scripts/login.py
Due: Framework

IMPR: Add additional informations to Site.login error message
  pywikibot/site/_apisite.py
Due: Framework

IMPR: remove del statements from local scope
  scripts/category.py
  scripts/interwiki.py
  scripts/welcome.py
  tests/page_tests.py
Due: Tests, Scripts

IMPR: Don't appending to dictionary immediately following its definition
  pywikibot/userinterfaces/gui.py
Due: Framework

IMPR: use keyword only args in some private methods
  pywikibot/cosmetic_changes.py
  pywikibot/data/api/_optionset.py
  tests/api_tests.py
Due: Framework, Tests

tests: implicit string concat
  tests/dry_api_tests.py
Due: Tests

IMPR: Use stacklevel=2 with warnings.warn
  pywikibot/bot.py
  pywikibot/comms/http.py
  pywikibot/config.py
  pywikibot/data/api/_requests.py
  pywikibot/login.py
  pywikibot/page/_basepage.py
  pywikibot/page/_toolforge.py
  pywikibot/scripts/wrapper.py
  pywikibot/site/_apisite.py
  pywikibot/site/_basesite.py
  pywikibot/tools/__init__.py
  pywikibot/version.py
Due: Framework

typing: Fix typing annotations
  pywikibot/logentries.py
  pywikibot/throttle.py
  pywikibot/tools/__init__.py
  tests/utils.py
Due: Framework, Tests

tests: Remove l10n_tests
  tests/__init__.py
  tests/l10n_tests.py
  tox.ini
Due: Tests

Tests: Try and remove old resource warning catch in utils.py
  tests/utils.py
Due: Tests

Revert "typing: Fix typing annotations"
  pywikibot/logentries.py
  pywikibot/throttle.py
  pywikibot/tools/__init__.py
  tests/utils.py
Due: Framework, Tests

IMPR: Changing sections order for references and some cosmetic changes
  scripts/noreferences.py
Due: Scripts

tests: add pbab tasks hints to expectedFailure decorators
  tests/cosmetic_changes_tests.py
  tests/file_tests.py
  tests/pagegenerators_tests.py
  tests/textlib_tests.py
  tests/time_tests.py
  tests/wikibase_tests.py
Due: Tests

tests: fix LinksearchPageGenerator tests
  tests/pagegenerators_tests.py
Due: Tests

Update cpython bug tracker
  pywikibot/data/api/__init__.py
Due: Framework

IMPR: Simplify CTEBinaryBytesGenerator
  pywikibot/data/api/__init__.py
Due: Framework

docsig: Remove statement documented for return None
  pyproject.toml
  pywikibot/page/_user.py
Due: Framework

tests: fix ruff legacy alias
  .pre-commit-config.yaml
Due: none

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
