Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

[tests] Use list instead of set in test_randomredirect_generator_default
  tests/pagegenerators_tests.py
Due: Tests

[IMPR] Provide an entry point to connect foreign scripts with pwb wapper
  .rstcheck.cfg
  docs/conf.py
  docs/entrypoint.rst
  docs/index.rst
  docs/requirements.txt
  make_dist.py
  pywikibot/scripts/wrapper.py
  scripts/MANIFEST.in
  scripts/README.rst
  scripts/__init__.py
  scripts/pyproject.toml
  tests/make_dist_tests.py
Due: Framework, Tests, Scripts

[IMPR] ignore ValueError durig upcast of FilePage due to invalid file extension
  HISTORY.rst
  ROADMAP.rst
  pywikibot/pagegenerators/_generators.py
Due: Framework

[IMPR] code improvements
  pywikibot/comms/eventstreams.py
  pywikibot/cosmetic_changes.py
  pywikibot/family.py
  pywikibot/page/_collections.py
  pywikibot/page/_wikibase.py
  pywikibot/pagegenerators/_generators.py
  pywikibot/textlib.py
  pywikibot/tools/_deprecate.py
  scripts/archivebot.py
  scripts/harvest_template.py
  scripts/unusedfiles.py
  tests/aspects.py
Due: Framework, Tests, Scripts

[9.4.0] Publish Pywikibot 9.4.0
  ROADMAP.rst
  pywikibot/__metadata__.py
Due: Framework

[9.5] Prepare next release 9.5.0
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: Framework, Scripts

remove pywikibot_scripts.egg-info with -clear option
  make_dist.py
Due: none

[IMPR] move code parts from SandboxBot.run() to SandboxBot.tread()
  scripts/clean_sandbox.py
Due: Scripts

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

[IMPR] Show strong messages in case of missing error code in Page.authorship()
  pywikibot/page/_toolforge.py
Due: Framework

[bugfix] import scripts from pywikibot-scripts if site-package is installed
  scripts/CHANGELOG.rst
  scripts/__init__.py
  scripts/checkimages.py
  scripts/image.py
  scripts/maintenance/make_i18n_dict.py
  scripts/misspelling.py
  scripts/nowcommons.py
  scripts/pyproject.toml
  scripts/reflinks.py
  scripts/template.py
  scripts/watchlist.py
Due: Scripts

Update versions after pywikibot-scripts 9.4.1 and fix make_dist.py
  make_dist.py
  pywikibot/__metadata__.py
  scripts/__init__.py
  scripts/pyproject.toml
  tests/make_dist_tests.py
Due: Framework, Tests, Scripts

[tests} install tksinter on ubuntu for gui tests
  .github/workflows/pywikibot-ci.yml
Due: none

[tests] Python 3.13.0 final release was published, update gh actions
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
Due: none

[doc] Update sphinx requirements
  docs/conf.py
  docs/requirements.txt
Due: none

[tests] try to run gui_tests on github after tkinter is installed
  .github/workflows/pywikibot-ci.yml
Due: none

[test] run gui_tests with pytest and pytest-xvfb
  .github/workflows/pywikibot-ci.yml
  dev-requirements.txt
  tests/README.rst
  tests/gui_tests.py
Due: Tests

[tests] remove `PYWIKIBOT_TEST_WRITE_FAIL` from documentation
  tests/README.rst
Due: Tests

[tests] run TestTkinter on en-wiki only
  tests/gui_tests.py
Due: Tests

Add support for new wikis
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikisource_family.py
Due: Framework

[9.4.1] Publish Pywikibot 9.4.1
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: Framework, Scripts

Prepare next release after pwb 9.4.1
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
Due: Framework, Scripts

[tests] run tests with Python 3.7 on ubuntu-22.04
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
Due: none

[tests] run doctests with Python 3.7 on ubuntu-22.04
  .github/workflows/doctest.yml
Due: none

[tests] Python 3.14.0-alpha is available with actions/python-versions
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/windows_tests.yml
Due: none

Revert "[tests] Python 3.14.0-alpha is available with actions/python-versions"
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/windows_tests.yml
Due: none

Fix typos
  docs/api_ref/pywikibot.pagegenerators.rst
  pywikibot/date.py
Due: Framework

[tests] update coverage
  tests/__init__.py
  tests/aspects.py
Due: Tests

[fix] no longer raise UnsupportedPageError within PageGenerator.result()
  pywikibot/data/api/_generators.py
  tests/page_tests.py
Due: Framework, Tests

[doc] fix docstring in /data/superset.py
  pywikibot/data/superset.py
Due: Framework

[tests] test utils.expected_failure_if decorator
  tests/tests_tests.py
Due: Tests

[doc] update ROADMAP.rst
  ROADMAP.rst
Due: none

[doc] use options list with login script
  pywikibot/scripts/login.py
Due: Framework

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
