Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

---
codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: true
    patch:
      default:
        enabled: true
    changes:
      default:
        enabled: true
  ignore:
    - Users
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/preload_sites.py
    - pywikibot/scripts/version.py
    - scripts/create_isbn_edition.py
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/userscripts/
    - tests/pwb/
  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:
  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

Suppress ResourceWarning for PyPy in TestTerminalInput
  .github/workflows/login_tests-ci.yml
  tests/ui_tests.py
Due: Tests

Add support for tlwikisource
  pywikibot/families/wikisource_family.py
Due: Framework

Tests: update login_tests-ci.yml to skip wait cycle for itself
  .github/workflows/login_tests-ci.yml
Due: none

[10.3.1] Publish Pywikibot 10.3.1 stable release
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/families/wikisource_family.py
Due: Framework

[10.4.0] Update version after stable 10.3.1 is published
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/CHANGELOG.rst
Due: Framework, Scripts

Tests: Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add get_value_at_timestamp API to ItemPage
  pywikibot/family.py
  pywikibot/page/_wikibase.py
  tests/wikibase_tests.py
Due: Framework, Tests

[bugfix] Pass site to WbTime initializer in get_value_at_timestamp
  pywikibot/page/_wikibase.py
  tests/wikibase_tests.py
Due: Framework, Tests

IMRP: Add type annotation to _Precision.__getitem__
  pywikibot/_wbtypes.py
Due: Framework

[IMPR] Improvements for deprecate_positionals decorator
  pywikibot/tools/_deprecate.py
Due: Framework

tests: some more tests for titletranslate
  tests/titletranslate_tests.py
Due: Tests

Tests: some more tests for maintenance.cache
  tests/cache_tests.py
Due: Tests

Add support for new wikis
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: Framework

IMPR: Add help options for addwikis script
  scripts/maintenance/addwikis.py
Due: Scripts

[10.3.2] Publish Pywikibot 10.3.2 stable release
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wiktionary_family.py
Due: Framework

[10.4.0] Update version after stable 10.3.2 was published
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
Due: Framework

Tests: use Python 3.13 for some CI tests
  tox.ini
Due: none

[tests] Make TestDeletionBot.test_dry dry
  tests/deletionbot_tests.py
Due: Tests

[login_tests-ci] set continue-on-error: true
  .github/workflows/login_tests-ci.yml
Due: none

[IMPR] Add `strict` parameter to unconnected_pages()
  HISTORY.rst
  pywikibot/pagegenerators/_generators.py
  pywikibot/site/_extensions.py
  tests/pagegenerators_tests.py
  tests/site_generators_tests.py
Due: Framework, Tests

[IMPR] Make Coordinate.__init__ parameters keyword-only
  pywikibot/_wbtypes.py
Due: Framework

Tests: use str.replace instead of re.sub for plain string replacement
  tests/link_tests.py
Due: Tests
