Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

[families] Add abstract_family.py
  docs/api_ref/pywikibot.families.rst
  pywikibot/families/abstract_family.py
  pywikibot/families/wikifunctions_family.py
  pywikibot/family.py
Due: Framework

Implement deletetalk option for older MediaWiki versions
  pywikibot/site/_apisite.py
Due: Framework

Tests: Fix TestProofreadPageValidSite.test_url_image
  tests/proofreadpage_tests.py
Due: Tests

tests: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

tests: Use Python 3.13 for CI tests
  .github/workflows/doctest.yml
  tox.ini
Due: none

pre-commit: clean unused cached repos
  tox.ini
Due: none

Revert "Tests: Move pre-commit py313 lint test from Jenkins to GitHub"
  .github/workflows/pre-commit.yml
  tox.ini
Due: none

tests: run deeptest with Python 3.14
  tox.ini
Due: none

Revert "Move ubuntu doctests for pypy 3.9 and Python 3.10-3.12 to Jenkins CI"
  .github/workflows/doctest.yml
  tox.ini
Due: none

tests: Fix doctest in APISite.page_from_repository()
  pywikibot/site/_apisite.py
Due: Framework

tests: Update GitHub action functions and pre-commit hooks
  .github/workflows/doctest.yml
  .github/workflows/graalpy_tests.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
  .pre-commit-config.yaml
Due: none

tests: Increase maxlag parameter for doctest
  tox.ini
Due: none

refactor APISite.delete's deletetalk for MW < 1.38
  pywikibot/site/_apisite.py
Due: Framework

doc: Update ROADMAP.rst and docstrings of delete methods
  ROADMAP.rst
  pywikibot/page/_basepage.py
  pywikibot/site/_apisite.py
Due: Framework

Revert "tests: Increase maxlag parameter for doctest"
  tox.ini
Due: none

tests: suppress WARN_SITE_CODE in TestSiteGenerators.test_pagelanglinks
  tests/site_generators_tests.py
Due: Tests

Site(): redirect explicit abstract wikipedia to abstract family
  pywikibot/__init__.py
Due: Framework

[bugfix] enable total parameter if '_langlinks' cache is given
  pywikibot/page/_basepage.py
Due: Framework

fix: remove UTM tracking parameters from ProofreadPage.url_image
  pywikibot/proofreadpage.py
Due: Framework

Move all copyright comments on top of all files
  pywikibot/data/citoid.py
  pywikibot/families/commons_family.py
  pywikibot/families/foundation_family.py
  pywikibot/families/lingualibre_family.py
  pywikibot/families/wikifunctions_family.py
  pywikibot/families/wikihow_family.py
  pywikibot/families/wikimania_family.py
  pywikibot/families/wikispore_family.py
  pywikibot/families/wiktionary_family.py
  pywikibot/families/wowwiki_family.py
  pywikibot/userinterfaces/buffer_interface.py
  scripts/tracking_param_remover.py
Due: Framework, Scripts

Add myself to AUTHORS.rst
  AUTHORS.rst
Due: none

pytest: set pytest minversion to 9.0.3
  .github/workflows/doctest.yml
  .github/workflows/graalpy_tests.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  dev-requirements.txt
  docs/tests_ref/pytest.rst
  tests/README.rst
  tox.ini
Due: Tests

cleanup: remove pytest-subtests dependency
  dev-requirements.txt
  tox.ini
Due: none

gui: use Pillow 12.2.0 or above
  pywikibot/userinterfaces/gui.py
  requirements.txt
  setup.py
Due: Framework

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
