Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

Simplify username and PetScan query merges
  pywikibot/__init__.py
  pywikibot/pagegenerators/_generators.py
Due: Framework

Allow -user to override OAuth authentication
  pywikibot/bot.py
  pywikibot/comms/http.py
  pywikibot/site/_apisite.py
  tests/bot_tests.py
  tests/http_tests.py
  tests/site_tests.py
Due: Framework, Tests

Build strings from joined fragments
  pywikibot/bot_choice.py
  pywikibot/date.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/textlib.py
Due: Framework

replicate_wiki: Isolate replacements per destination
  scripts/replicate_wiki.py
  tests/__init__.py
  tests/replicate_wiki_tests.py
Due: Tests, Scripts

time: add timespec to Timestamp.isoformat() method
  docs/api_ref/date_time.rst
  pywikibot/_wbtypes.py
  pywikibot/data/api/_requests.py
  pywikibot/time.py
  tests/time_tests.py
Due: Framework, Tests

solve_disambiguation: Handle replacement sections
  scripts/solve_disambiguation.py
  tests/solve_disambiguation_tests.py
Due: Tests, Scripts

Avoid reading streamed HTTP responses to detect encoding
  pywikibot/comms/http.py
  tests/http_tests.py
Due: Framework, Tests

MediaInfo: map claims for wbeditentity
  pywikibot/page/_wikibase.py
  tests/wikibase_tests.py
Due: Framework, Tests

docs: use Markdown for GitHub community standards
  CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.rst
  CONTENT.rst
  MANIFEST.in
  README.rst
  SECURITY.md
  docs/SECURITY.rst
  docs/codeofconduct.rst
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
  tests/setup_tests.py
Due: Tests

[api] Make API cache writes atomic and failure-safe
  pywikibot/data/api/_requests.py
  scripts/maintenance/cache.py
Due: Framework, Scripts

tests: Add Markdown pre-commit validator and update fixed .md file
  .pre-commit-config.yaml
  SECURITY.md
Due: none

classproperty: Prevent setting properties on instances
  pywikibot/tools/__init__.py
Due: Framework

doc: add security.rst to include SECURITY.md to Sphinx documentation
  docs/security.rst
Due: none

doc: Update ROADMAP.rst, HISTORY.rst and CHANGELOG.rst
  HISTORY.rst
  ROADMAP.rst
  pywikibot/page/_wikibase.py
  scripts/CHANGELOG.rst
Due: Framework, Scripts

family: Cache obsolete codes and interwiki removals
  pywikibot/family.py
  tests/family_tests.py
Due: Framework, Tests

tools: Parse separated MediaWiki prerelease versions
  pywikibot/tools/__init__.py
  tests/mediawikiversion_tests.py
Due: Framework, Tests

pagegenerators: Format deprecated redirect parameter values
  pywikibot/pagegenerators/_generators.py
Due: Framework

upload: Verify zero-byte stashes against the empty hash
  pywikibot/site/_upload.py
  pywikibot/tools/__init__.py
  tests/tools_tests.py
  tests/upload_tests.py
Due: Framework, Tests

pagegenerators: Normalize usernames in user edit filter
  pywikibot/pagegenerators/_filters.py
  tests/pagegenerators_tests.py
Due: Framework, Tests

link: Validate title length in UTF-8 bytes
  pywikibot/page/_links.py
  tests/link_tests.py
Due: Framework, Tests

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
