Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

[tests] use native coverage for GraalPy tests
  .github/requirements/graalpy_tests.txt
  .github/workflows/graalpy_tests.yml
Due: none

page: Avoid single-result generator lists
  pywikibot/page/_basepage.py
  pywikibot/page/_filepage.py
  pywikibot/page/_wikibase.py
Due: Framework

blockpageschecker: Use search for template checks
  scripts/blockpageschecker.py
Due: Scripts

tests: Skip several proofreadpage_tests for GraalPy 23.1
  tests/proofreadpage_tests.py
Due: Tests

family: Add new WikimediaSubdomainFamily
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikimania_family.py
  pywikibot/families/wikimediachapter_family.py
  pywikibot/families/wikinews_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wikiversity_family.py
  pywikibot/families/wikivoyage_family.py
  pywikibot/families/wiktionary_family.py
  pywikibot/family.py
Due: Framework

Use append for individual list items
  pywikibot/bot_choice.py
  pywikibot/diff.py
  pywikibot/scripts/generate_user_files.py
  pywikibot/site/_generators.py
  scripts/interwiki.py
  scripts/solve_disambiguation.py
Due: Framework, Scripts

archivebot: Fix locale and timezone options
  scripts/archivebot.py
  tests/archivebot_tests.py
Due: Tests, Scripts

generate_user_files: Remove unused encoding probe
  pywikibot/scripts/generate_user_files.py
Due: Framework

editor: Avoid text slices for caret positions
  pywikibot/editor.py
  pywikibot/userinterfaces/gui.py
Due: Framework

site: Convert page IDs once
  pywikibot/site/_generators.py
Due: Framework

xmlreader: Iterate revisions lazily
  pywikibot/xmlreader.py
Due: Framework

textlib: Retain only last category match
  pywikibot/textlib.py
Due: Framework

site: Fetch only missing MediaWiki messages
  pywikibot/site/_apisite.py
  tests/dry_site_tests.py
Due: Framework, Tests

solve_disambiguation: Reuse summary page title
  scripts/solve_disambiguation.py
Due: Scripts

checkimages: Batch license set updates
  scripts/checkimages.py
Due: Scripts

pagegenerators: Traverse categories once
  pywikibot/pagegenerators/_filters.py
  tests/pagegenerators_tests.py
Due: Framework, Tests

Use namespace name index in resolve
  pywikibot/site/_namespace.py
  tests/namespace_tests.py
Due: Framework, Tests

revertbot: Batch revision content requests
  scripts/revertbot.py
  tests/__init__.py
  tests/revertbot_tests.py
Due: Tests, Scripts

version: Count Git revisions directly
  pywikibot/version.py
Due: Framework

[tests] enable deep tests for GraalPy
  .github/requirements/graalpy_tests.txt
  .github/workflows/graalpy_tests.yml
Due: none

[doc] Add Gkm563 to AUTHORS.rst
  AUTHORS.rst
Due: none

welcome: Reuse lowercased username
  scripts/welcome.py
Due: Scripts

api: Cache query module keys
  pywikibot/data/api/_generators.py
Due: Framework

interwiki: Reuse namespace values
  scripts/interwiki.py
Due: Scripts

upload: Add orchestration regression tests
  tests/upload_tests.py
Due: Tests

api: Keep encoded parameter values distinct
  pywikibot/data/api/_requests.py
Due: Framework

pagegenerators: Reuse page title in ignore filter
  pywikibot/pagegenerators/_filters.py
Due: Framework

doc: update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

docs: Correct examples and script descriptions
  README.rst
  docs/recipes.rst
  scripts/README.rst
Due: Scripts

checkimages: Use search for boolean regex checks
  scripts/checkimages.py
Due: Scripts

page: Do not validate sections in BasePage.get
  ROADMAP.rst
  pywikibot/page/_basepage.py
  pywikibot/page/_page.py
  pywikibot/page/_wikibase.py
  pywikibot/site/_apisite.py
  tests/page_tests.py
Due: Framework, Tests

wikibase: Reuse claim target during formatting
  pywikibot/page/_wikibase.py
Due: Framework

nowcommons: Reuse file titles
  scripts/nowcommons.py
Due: Scripts

Fix docstring for Wikipedia Family class
  pywikibot/families/wikipedia_family.py
Due: Framework

download_dump: Prompt for empty store path
  scripts/download_dump.py
  tests/download_dump_tests.py
Due: Tests, Scripts

clean_sandbox: Fix textfile error reporting
  scripts/clean_sandbox.py
Due: Scripts

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
