Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

families: Add support for isvwiki
  pywikibot/families/wikipedia_family.py
  pywikibot/family.py
Due: Framework

Revert "expect failure for test_server_not_found method"
  tests/http_tests.py
Due: Tests

release: Publish Pywikibot 11.4.2
  ROADMAP.rst
  pywikibot/__metadata__.py
Due: Framework

release: Prepare next release
  .pre-commit-config.yaml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
Due: Framework

[bugfix] Ensure -summary option overrides default summary setting
  scripts/protect.py
Due: Scripts

[documentation] Add Zaidusyy to AUTHORS.rst
  AUTHORS.rst
Due: none

interwiki: respect usernames wildcards
  scripts/interwiki.py
Due: Scripts

interwiki: Fix spelling mistakes
  scripts/interwiki.py
Due: Scripts

interwiki: extend docstring of is_not_redirect function
  scripts/interwiki.py
Due: Scripts

tests: run GraalPy with older version of urllib3
  .github/workflows/graalpy_tests.yml
Due: none

GraalPy: add workaround for known GraalPy compatibility issues
  .github/workflows/graalpy_tests.yml
  requirements.txt
Due: none

doc: remove experimental feature warning for cosmetic_changes setting
  pywikibot/config.py
Due: Framework

config: fix spelling mistake in config.py
  pywikibot/config.py
Due: Framework

tests: setuptool has to be installed for graalpy-25.0
  .github/workflows/graalpy_tests.yml
Due: none

doc: update compatibility table
  docs/compatibility.rst
Due: none

tests: ignore NotOpenSSLWarning for GraalPy
  .github/workflows/graalpy_tests.yml
Due: none

tests: use WMCS SOCKS tunnel for windows tests
  .github/workflows/windows_tests.yml
Due: none

tests: install requests[socks] for socks support with windows tests
  .github/workflows/windows_tests.yml
Due: none

[doc] Update redirected link
  pywikibot/pagegenerators/_generators.py
Due: Framework

Update redirected link
  pywikibot/pagegenerators/_generators.py
Due: Framework

interwiki: catch OSError while writing a dump
  scripts/interwiki.py
Due: Scripts

tests: temporary skip TestProductionAndTestSite and TestMediaInfoEditing
  tests/file_tests.py
  tests/site_tests.py
Due: Tests

make_dist: use pyclean to cleanup the repository
  make_dist.py
  tests/make_dist_tests.py
Due: Tests

interwiki: implement -onlylink whitelist and unify link preservation logic
  scripts/interwiki.py
Due: Scripts

[bugfix] Re-enable -ignorefile option with interwiki.py script
  scripts/interwiki.py
  tests/__init__.py
  tests/interwikibot_tests.py
Due: Tests, Scripts

interwiki: Use pywikibot.link_regex pattern for hintfile
  scripts/interwiki.py
  tests/interwikibot_tests.py
Due: Tests, Scripts

interwiki: fix pattern for getting dump files
  scripts/interwiki.py
Due: Scripts

config: Drop textfile_encoding variable and use 'utf-8' directly instead
  pywikibot/config.py
  pywikibot/pagegenerators/_generators.py
  scripts/add_text.py
  scripts/interwiki.py
  scripts/listpages.py
  scripts/pagefromfile.py
  scripts/upload.py
Due: Framework, Scripts

doc: update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

[bugfix] Fix error logging funktion name in upload.py script
  scripts/upload.py
Due: Scripts

[bugfix] Fix missing 'f' prefix or NoTitleError message
  scripts/pagefromfile.py
Due: Scripts

tests: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

[bugfix] description variable cannot be None in upload.py script
  scripts/upload.py
Due: Scripts

tests: update wikidata query service hostname
  tests/README.rst
Due: Tests

doc: add missing return type annotations to several functions
  pywikibot/data/api/_generators.py
  pywikibot/scripts/generate_family_file.py
  tests/citoid_tests.py
  tests/interwikibot_tests.py
  tests/site_tests.py
  tests/tools_deprecate_tests.py
Due: Framework, Tests

Fix for unnecessary dictionary unpacking in echo.py
  pywikibot/echo.py
Due: Framework

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
