Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

---
codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: true
    patch:
      default:
        enabled: true
    changes:
      default:
        enabled: true
  ignore:
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - scripts/create_isbn_edition.py
    - scripts/userscripts/
    - tests/pwb/
  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:
  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

ProofreadPage: Never use None as key in WeakKeyDictionary
  pywikibot/proofreadpage.py
Due: Framework

Use get-throttle for windows_tests
  .github/workflows/windows_tests.yml
Due: none

Add WikiWho API support to pywikibot
  pywikibot/page/_toolforge.py
  tests/wikiblame_tests.py
Due: Framework, Tests

Add support for kajwiki
  pywikibot/families/wikipedia_family.py
Due: Framework

[10.7.5] Publish Pywikibot 10.7.5
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/families/wikipedia_family.py
Due: Framework

Update ROADMAP.rst, CHANGELOG.rst, HISTORY.rst and AUTHORS.rst
  AUTHORS.rst
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/CHANGELOG.rst
Due: Framework, Scripts

tests: Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Revert "IMPR: Use singledispatchmethod with SiteLinkCollection.normalizeData"
  pywikibot/page/_collections.py
Due: Framework

sphinx: Use Sphinx 8.2.3 for documentation
  docs/requirements.txt
Due: none

archivebot: make TimeStripper more resilient for itwiki
  pywikibot/textlib.py
Due: Framework

tests: windows-tests need more than 60 minutes after get_throttle
  .github/workflows/windows_tests.yml
Due: none

tests: still more time required for windows tests after get throttle
  .github/workflows/windows_tests.yml
Due: none

Revert "archivebot: make TimeStripper more resilient for itwiki"
  pywikibot/textlib.py
Due: Framework

L10N: add support for pplwiki
  pywikibot/families/wikipedia_family.py
Due: Framework

[10.7.6] Publish Pywikibot 10.7.6
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/families/wikipedia_family.py
Due: Framework

doc: update HISTORY.rst and ROADMAP.rst
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
Due: Framework

Optimize pickle file storage with subdirectory structure
  pywikibot/page/_page.py
  pywikibot/page/_toolforge.py
  tests/wikiblame_tests.py
  tests/wikiwho_tests.py
Due: Framework, Tests

IMPR: use explicit utf-8 encoding with GraphSavingThread.graph.write
  pywikibot/interwiki_graph.py
Due: Framework

Implement site generator for AbuseLog and User.last_activity method
  pywikibot/page/_user.py
  pywikibot/site/_generators.py
Due: Framework

Tests: Improvements or workarounds for tests
  .github/workflows/windows_tests.yml
  pywikibot/config.py
  tests/script_tests.py
Due: Framework, Tests

throttle: Enhance waittime() and update throttle docstrings
  pywikibot/config.py
  pywikibot/throttle.py
Due: Framework

tests: update test collector
  tests/__init__.py
Due: Tests

tests: deactivate TestScriptSimulate and TestScriptGenerator
  tests/script_tests.py
Due: Tests

Test: add minthrottle to pywikibot-ci
  .github/workflows/pywikibot-ci.yml
Due: none

tests: Add wait cycles between doc tests
  .github/workflows/doctest.yml
  conftest.py
Due: none

tests: deactivate TestScriptSimulate and TestScriptGenerator for pytest
  tests/script_tests.py
Due: Tests

Refactor: Decouple interwiki.py from global config.interwiki_graph
  scripts/interwiki.py
Due: Scripts

tests: exclude doctests already made on Jenkins to improve test time
  .github/workflows/doctest.yml
Due: none

Docs: Add Anotida Expected to AUTHORS.rst
  AUTHORS.rst
Due: none

docs: Add -graph documentation
  scripts/interwiki.py
Due: Scripts

tests: Fix exclusion in doctest
  .github/workflows/doctest.yml
Due: none

docs: Add Stitipragyan Barik to AUTHORS.rst
  AUTHORS.rst
Due: none

isort: Fix import sorting order for several scripts
  scripts/add_text.py
  scripts/harvest_template.py
  scripts/pagefromfile.py
  scripts/revertbot.py
Due: Scripts

isort: allow skipping add future annotation imports per file
  .pre-commit-config.yaml
  pwb.py
  pyproject.toml
  pywikibot/config.py
Due: Framework
