Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

Fix wikibase_tests
  docs/api_ref/pywikibot.page.rst
  tests/wikibase_tests.py
Due: Tests

tests: update tests running with Python 3.13
  .github/workflows/pre-commit.yml
  tox.ini
Due: none

Update pre-commit-hooks
  .pre-commit-config.yaml
Due: none

IMPR: Improvements for textlib.Content class
  pywikibot/cosmetic_changes.py
  pywikibot/page/_basepage.py
  pywikibot/textlib.py
  tests/textlib_tests.py
Due: Framework, Tests

don't require 18n module when a manual summary is provided
  scripts/replace.py
Due: Scripts

Suppress ResourceWarning for PyPy in TestTerminalInput.test_input_yn
  tests/ui_tests.py
Due: Tests

[IMPR] Refactor WbTime
  pywikibot/_wbtypes.py
  tests/wbtypes_tests.py
Due: Framework, Tests

fix: improve WbRepresentation __hash__, __repr__ and remove __ne__
  pywikibot/_wbtypes.py
  tests/wbtypes_tests.py
Due: Framework, Tests

Fix: Omit deprecation warning in _wptypes
  pywikibot/_wbtypes.py
Due: Framework

tests: Run doctest with Python 3.8 and 3.13
  tox.ini
Due: none

Fix: update itemlist in TestPropertyNames.test_get_property_names
  tests/site_tests.py
Due: Tests

Coverage: Update coverage for aspects
  tests/aspects.py
Due: Tests

CI: Adjust tox minversion
  tox.ini
Due: none

Tests: Enable coverage for script_tests
  .github/workflows/pywikibot-ci.yml
  tests/utils.py
Due: Tests

Tests: Add coverage combine to workflows
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
Due: none

Tests: No longer import script within script_tests
  pyproject.toml
  tests/script_tests.py
Due: Tests

Test: Fix coverage settings
  pyproject.toml
Due: none

Tests: Test Python 3.14 on Windows environment
  .github/workflows/windows_tests.yml
Due: none

Tests: use temporary file for coverage with githun actions only
  tests/utils.py
Due: Tests

coverage: update coverage settings
  .codecov.yml
  pywikibot/scripts/generate_family_file.py
  pywikibot/scripts/generate_user_files.py
  pywikibot/scripts/shell.py
  pywikibot/scripts/wrapper.py
Due: Framework

[fixes] Improve parameter_help formatting and _load_file readability
  pywikibot/fixes.py
Due: Framework

page._collections: Improve repr string for BaseDataDict and ClaimCollection
  pywikibot/page/_collections.py
  tests/wikibase_tests.py
Due: Framework, Tests

i18n: Make doctests for known_languages() more robust
  pywikibot/i18n.py
Due: Framework

Update plural forms from unicode.org
  pywikibot/plural.py
Due: Framework

[tests] Speedup script_tests
  tests/script_tests.py
Due: Tests

tests: refactor script test loading and filtering
  tests/script_tests.py
Due: Tests

tests: do not exclude failed dependencies for TestScriptHelp
  tests/script_tests.py
Due: Tests

Tests: recover unittest.skip in ScriptTestMeta
  tests/script_tests.py
Due: Tests

tests: enable global options in script_tests
  pywikibot/bot.py
  tests/script_tests.py
Due: Framework, Tests

Tests: Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
