Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

IMPR: Follow-up for Citoid Query interface implementation
  .pre-commit-config.yaml
  conftest.py
  docs/api_ref/pywikibot.data.rst
  pywikibot/CONTENT.rst
  pywikibot/data/citoid.py
  pywikibot/site/_upload.py
  tests/citoid_tests.py
Due: Framework, Tests

doc: Update ROADMAP.rst
  ROADMAP.rst
Due: none

tests: expected failure in TestSupersetWithAuth.test_login_and_oauth_permission
  tests/superset_tests.py
Due: Tests

[bugfix] Fix initializer for bot_choice.UnhandledAnswer
  pywikibot/bot_choice.py
Due: Framework

IMPR: get regex from textlib in CosmeticChangesToolkit
  pywikibot/cosmetic_changes.py
Due: Framework

Cleanup: Deprecate isPublic method of Family class
  pywikibot/family.py
Due: Framework

Tests: Fix MockSite in dry_api_tests
  tests/dry_api_tests.py
Due: Tests

coverage: hide unrelated code from coverage
  tests/eventstreams_tests.py
  tests/gui_tests.py
  tests/interwikidata_tests.py
Due: Tests

Tests: Fix skip message in CheckHostnameMixin
  tests/aspects.py
Due: Tests

Tests: Update Pillow requirements and add pypy3.11 tests
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  requirements.txt
  setup.py
Due: none

IMPR: Show the related site with NoUsernameError during LoginManager.login()
  pywikibot/login.py
Due: Framework

coverage: Remove fallback codes from coverage
  tests/oauth_tests.py
  tests/page_tests.py
  tests/pagegenerators_tests.py
  tests/proofreadpage_tests.py
Due: Tests

Tests: fix TestIndexPageMappings.test_get_page_and_number tests
  tests/proofreadpage_tests.py
Due: Tests

Wikibase: Fix get_value_at_timestamp
  pywikibot/page/_wikibase.py
Due: Framework

Tests: Update Pillow requirements
  requirements.txt
  setup.py
Due: none

Tests: Fix Pillow requirements
  requirements.txt
  setup.py
Due: none

[10.6] Publish Pywikibot 10.6
  ROADMAP.rst
  pywikibot/__init__.py
  pywikibot/__metadata__.py
  pywikibot/page/_wikibase.py
  tests/utils.py
Due: Framework, Tests

[10.6] Publish 10.6; ignore BugBear B042 for now
  tox.ini
Due: none

[10.7] Prepare next release
  .pre-commit-config.yaml
  HISTORY.rst
  ROADMAP.rst
  dev-requirements.txt
  docs/requirements.txt
  pywikibot/__init__.py
  pywikibot/__metadata__.py
  scripts/__init__.py
  scripts/pyproject.toml
  tests/utils.py
Due: Framework, Tests, Scripts

[bugfix] fix fake-useragent requirement
  dev-requirements.txt
Due: none

tests: Update actions/checkout and actions/setup-python
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
Due: none

coverage: Exclude unintentional fails from coverage in tests_tests.py
  tests/tests_tests.py
Due: Tests

[Bugfix] Replace timetravel.mementoweb.org with web.archive.org
  docs/api_ref/pywikibot.data.rst
  pyproject.toml
  pywikibot/data/memento.py
  scripts/weblinkchecker.py
  tests/memento_tests.py
Due: Framework, Tests, Scripts

cleanup: deprecate old (type, value, traceback) signature in throw
  pywikibot/tools/collections.py
Due: Framework

IMPR: Refactor replace_magicword in CosmeticChangesToolkit
  pywikibot/cosmetic_changes.py
  pywikibot/textlib.py
  tests/cosmetic_changes_tests.py
  tests/textlib_tests.py
Due: Framework, Tests

cleanup: deprecate dysfunctional Site.alllinks method
  pywikibot/site/_generators.py
  tests/api_tests.py
  tests/site_generators_tests.py
Due: Framework, Tests

Tests: temporary exclude testwiki from some rc tests
  tests/site_generators_tests.py
Due: Tests

Tests: show username if user cannot be logged in with RequireLoginMixin class
  tests/aspects.py
Due: Tests

Fixed the watchlist.py counting issue
  scripts/watchlist.py
Due: Scripts

misspelling.py: Add -page option for single misspelling
  scripts/misspelling.py
Due: Scripts

doc: update ROADMAP.rst, CHANGELOG.rst and AUTHORS.rst
  AUTHORS.rst
  ROADMAP.rst
  pywikibot/data/memento.py
  scripts/CHANGELOG.rst
Due: Framework, Scripts

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
