Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

[bugfix] use googlesearch-python for GoogleSearchPageGenerator
  pywikibot/pagegenerators/_generators.py
  requirements.txt
  setup.py
Due: Framework

[FEAT] Support 'page' in GeneratorsMixin.recentchanges
  pywikibot/site/_generators.py
Due: Framework

doc: Update ROADMAP.rst
  ROADMAP.rst
  pywikibot/site/_generators.py
Due: Framework

tests: Update pre-commit hooks
  .pre-commit-config.yaml
  pywikibot/family.py
  scripts/data_ingestion.py
  scripts/protect.py
  tests/family_tests.py
  tests/logentries_tests.py
  tests/wbtypes_tests.py
Due: Framework, Tests, Scripts

tests: use ruff for flake8-quotes
  .pre-commit-config.yaml
  pyproject.toml
Due: none

[IMPR] Code improvements
  pywikibot/tools/threading.py
  scripts/create_isbn_edition.py
Due: Framework, Scripts

[IMPR] Adjust counter in DisambiguationRobot
  scripts/solve_disambiguation.py
Due: Scripts

[IMPR] Improve cleanUpLinks/handleOneLink
  pywikibot/cosmetic_changes.py
Due: Framework

[bugfix] no longer follow redirects when the browser is opened
  pywikibot/bot.py
  scripts/blockpageschecker.py
Due: Framework, Scripts

tests: update pre-commit hooks
  .pre-commit-config.yaml
  tox.ini
Due: none

[IMPR] After the browser call, the script affects the possibly changed text
  scripts/replace.py
Due: Scripts

Update closed_wikis
  pywikibot/families/wikipedia_family.py
Due: Framework

tests: pass expected failure with FilePage.get_file_url()
  tests/file_tests.py
Due: Tests

tests: update precommit hooks
  .pre-commit-config.yaml
Due: none

tests: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add support for new wiki
  pywikibot/families/wikipedia_family.py
Due: Framework

tests: Skip authorship() tests
  pywikibot/page/_toolforge.py
  tests/wikiblame_tests.py
Due: Framework, Tests

tests: Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

[bugfix] skip removeEmptySections() if section length is too less
  pywikibot/cosmetic_changes.py
Due: Framework

[bugfix] Retieve charset from accept-charset header entry
  pywikibot/comms/http.py
Due: Framework

L10N: Update WELCOME dict
  scripts/welcome.py
Due: Scripts

[doc] Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

tests: update pre-comit-config and ignore pep8_naming 0.15.0
  .pre-commit-config.yaml
Due: none

tests: Update precommit hooks, use pep8-naming>=0.15.1
  .pre-commit-config.yaml
Due: none

correct EventSource kwarg name from last_event_id to latest_event_id
  pywikibot/comms/eventstreams.py
Due: Framework

[bugfix] Fix for site_tests.TestPropertyNames
  tests/site_tests.py
Due: Tests

[bugfix] Skip further test in test_allpages() if a page title is invalid
  tests/site_generators_tests.py
Due: Tests

[fix] use WikiHistory instead of XTools to implement authorship()
  pywikibot/page/_toolforge.py
  tests/wikiblame_tests.py
Due: Framework, Tests

doc: update ROADMAP.rst
  ROADMAP.rst
Due: none

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
