Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

Cleanup: remove Flow tests parts
  tests/basepage.py
Due: Tests

typing: Remove typing_extension; Literal is published with Python 3.8
  pywikibot/bot_choice.py
  pywikibot/page/_basepage.py
  pywikibot/pagegenerators/_factory.py
Due: Framework

doc: update deprecation lists
  ROADMAP.rst
  pywikibot/data/api/_generators.py
Due: Framework

Add script for removing tracking URL parameters
  scripts/tracking_param_remover.py
Due: Scripts

Tests: Enforce setup_page() in BasePageTestBase and improve test structure
  tests/basepage.py
  tests/proofreadpage_tests.py
  tests/site_tests.py
  tests/wikibase_tests.py
Due: Tests

Doc: add new tracking_param_remover.py script to documentation
  docs/scripts/general.rst
  docs/scripts_ref/scripts.rst
  scripts/CHANGELOG.rst
Due: Scripts

[tests] Make deletionbot dry-run test site-independent by using actual mainpage
  tests/deletionbot_tests.py
Due: Tests

tests: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

tests: Print public IP of runner on failure
  .github/workflows/pywikibot-ci.yml
Due: none

Tests: create_isbn_edition is not collected for script tests
  tests/script_tests.py
Due: Tests

Tests: skip test if IP is blocked
  pywikibot/data/api/_requests.py
Due: Framework

Revert: Proceed Login CI tests wit all other actions are completed
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

[10.3] Publish Pywikibot 10.3
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/CHANGELOG.rst
  scripts/pyproject.toml
Due: Framework, Scripts

[10.4] Prepare next release
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
  scripts/pyproject.toml
Due: Framework, Scripts

IMPR: Add `expiry` parameter to Page.watch() and Site.watch()
  pywikibot/page/_basepage.py
  pywikibot/site/_apisite.py
  tests/page_tests.py
Due: Framework, Tests

IMPR: Clarify -localonly option behavior and help text
  scripts/interwiki.py
Due: Scripts

Proceed Login CI tests when all other actions are completed"
  .github/workflows/login_tests-ci.yml
Due: none

get_best_claim: Move implementation to ItemPage
  pywikibot/page/_page.py
  pywikibot/page/_wikibase.py
  tests/wikibase_tests.py
Due: Framework, Tests

Doc: Update documentation for get_best_claim methods
  ROADMAP.rst
  pywikibot/page/_page.py
  pywikibot/page/_wikibase.py
Due: Framework

pyproject: add Python versions for pypi/github badge
  pyproject.toml
Due: none

Cleanup: Update setup.py
  setup.py
Due: none

Enable coverage UI
  .github/workflows/pywikibot-ci.yml
Due: none

Revert "Enable coverage UI"
  .github/workflows/pywikibot-ci.yml
Due: none

Tests: Fix watch() to return False if page missing and no expiry set
  pywikibot/site/_apisite.py
  tests/page_tests.py
Due: Framework, Tests

Tests: Enable coverage measurement in subprocesses started by execute_pwb()
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
  tests/utils.py
Due: Tests

cleanup: preload_sites script was removed
  .codecov.yml
  pywikibot/scripts/__init__.py
  scripts/CHANGELOG.rst
Due: Framework, Scripts

Improve execute_pwb to activate coverage only for non-override runs
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
  tests/utils.py
Due: Tests

Tests: cover wrapper.run_python_file function which invokes scripts
  .github/workflows/pywikibot-ci.yml
  pywikibot/scripts/wrapper.py
Due: Framework

Revert "Tests: cover wrapper.run_python_file function which invokes scripts"
  .github/workflows/pywikibot-ci.yml
  pywikibot/scripts/wrapper.py
Due: Framework

Revert "Improve execute_pwb to activate coverage only for non-override runs"
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
  tests/utils.py
Due: Tests

Revert "Tests: Enable coverage measurement in subprocesses started by execute_pwb()"
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
  tests/utils.py
Due: Tests

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
