Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - Users
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/preload_sites.py
    - pywikibot/scripts/version.py
    - scripts/dataextend.py
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/userscripts/
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:

  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

[9.6.2] Publish Pywikibot 9.6.2
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/families/wikipedia_family.py
  pywikibot/page/_wikibase.py
Due: Framework

[10.0.0.dev2] Update ROADMAP and HISTORY after 9.6.2
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/page/_wikibase.py
  scripts/CHANGELOG.rst
Due: Framework, Scripts

trsts: Update pre-commit hooks
  .pre-commit-config.yaml
  pywikibot/userinterfaces/gui.py
  pywikibot/version.py
Due: Framework

tests: Update github action invocations
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
Due: none

tests: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

cleanup: Remove flow_tests.py
  tests/__init__.py
  tests/flow_tests.py
Due: Tests

Don't check for deprecated jsonconfig_getdata property
  tests/site_tests.py
Due: Tests

tests: Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Update welcome.py
  scripts/welcome.py
Due: Scripts

Add support for satwiktionary
  pywikibot/families/wiktionary_family.py
Due: Framework

L10N: update welcome.py
  AUTHORS.rst
  scripts/welcome.py
Due: Scripts

[bugfix] Enable url without api, requests or script path in Site constuctor
  pywikibot/__init__.py
  pywikibot/family.py
  tests/basesite_tests.py
  tests/family_tests.py
Due: Framework, Tests

Cleanup: Remove Structured Discussions/Flow support
  docs/api_ref/flow.rst
  docs/mwapi.rst
  pywikibot/CONTENT.rst
  pywikibot/data/api/_generators.py
  pywikibot/flow.py
  pywikibot/page/_basepage.py
  pywikibot/site/_apisite.py
  pywikibot/site/_extensions.py
  tests/api_tests.py
Due: Framework, Tests

sse: use requests_sse instead of unsupported sseclient for EventStreams
  .github/workflows/doctest.yml
  pywikibot/comms/eventstreams.py
  requirements.txt
  setup.py
  tests/eventstreams_tests.py
  tests/pagegenerators_tests.py
Due: Framework, Tests

[9.6.3] Publish Pywikibot 9.6.3
  .pre-commit-config.yaml
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/families/wiktionary_family.py
  pywikibot/version.py
  tests/site_tests.py
Due: Framework, Tests

[10.0.0.dev3] Update HISTORY after 9.6.3
  HISTORY.rst
  pywikibot/__metadata__.py
Due: Framework

[IMPR] Add sort parameter to SearchPageGenerator and site.search()
  pywikibot/pagegenerators/_generators.py
  pywikibot/site/_generators.py
Due: Framework

[bugfix] ensure that -from and -to arguments are not equal
  scripts/category.py
Due: Scripts

Add support for new wiki
  pywikibot/families/wikipedia_family.py
Due: Framework

[IMPR] no longer pass continue= as with api query in QueryGenerator
  pywikibot/data/api/_generators.py
  pywikibot/data/api/_requests.py
  tests/site_generators_tests.py
Due: Framework, Tests

Update requirements
  .pre-commit-config.yaml
  dev-requirements.txt
  docs/conf.py
  docs/requirements.txt
  requirements.txt
  setup.py
Due: none

Doc: Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

Update precommit-requirements
  dev-requirements.txt
Due: none

[10] Publish Pywikibot 10
  pywikibot/__metadata__.py
Due: Framework

[10.1] Prepare next release
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
  scripts/pyproject.toml
Due: Framework, Scripts

Add compatibility informations to documentation
  docs/compatibility.rst
  docs/index.rst
Due: none

Cleanup: backport module is private, no deprecations here
  ROADMAP.rst
Due: none

[tests] Update pre-commit hooks
  .pre-commit-config.yaml
  pywikibot/pagegenerators/_generators.py
Due: Framework
