Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

[tests] restore pypy lint tests
  tox.ini
Due: none

Add tags to the wikibase functions in Pywikibot
  pywikibot/site/_datasite.py
Due: Framework

[IMPR] Add hints if an account is member of bot group but has no bot right
  pywikibot/page/_basepage.py
  pywikibot/site/_apisite.py
  tests/deletionbot_tests.py
  tests/page_tests.py
Due: Framework, Tests

[sphinx] remove source_suffix specification
  docs/conf.py
Due: none

Add title function to MediaInfo.
  pywikibot/page/_wikibase.py
  tests/file_tests.py
Due: Framework, Tests

pre-commit for linting and code formatting
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  dev-requirements.txt
  pywikibot/diff.py
  pywikibot/scripts/i18n/pywikibot/en.json
  setup.py
  tests/flow_tests.py
  tests/i18n/test/de.json
  tox.ini
Due: Framework, Tests

oauth-tests: experimental run on wpbeta:zh
  .github/workflows/oauth_tests-ci.yml
Due: none

Remove lint_tests workflow
  .github/workflows/lint_tests.yml
Due: none

[doc] update ROADMAP.rst and datasite documentation
  ROADMAP.rst
  pywikibot/site/_datasite.py
Due: Framework

fix pre-commit workflow file
  .github/workflows/pre-commit.yml
Due: none

migrate isort and mypy configs to pyproject.toml
  mypy.ini
  pyproject.toml
  tox.ini
Due: none

pre-commit: add commit-message-validator
  .pre-commit-config.yaml
Due: none

[tests] Fix CI tests
  pywikibot/page/_toolforge.py
  tests/pagegenerators_tests.py
Due: Framework, Tests

[IMPR] add LogEntry.params as a public property
  pywikibot/logentries.py
Due: Framework

[IMPR] add User.renamed_target() method
  pywikibot/exceptions.py
  pywikibot/page/_basepage.py
  pywikibot/page/_user.py
Due: Framework

Revert "oauth-tests: experimental run on wpbeta:zh"
  .github/workflows/oauth_tests-ci.yml
Due: none

[IMPR] Check whether Claim exists within Claim.fromJSON() method
  pywikibot/page/_wikibase.py
Due: Framework

[tests] run editfailure tests with Pywikibot-oauth
  .github/workflows/oauth_tests-ci.yml
  tests/edit_failure_tests.py
Due: Tests

Revert "[tests] install wikitextparser instead of mwpfh for Python 3.13"
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  requirements.txt
  setup.py
Due: none

[IMPR] Show a warning message for a deleted or unknown claim type
  pywikibot/_wbtypes.py
  pywikibot/page/_wikibase.py
  tests/wikibase_tests.py
Due: Framework, Tests

[tests] enable TestThankRevision.test_thank_revision
  tests/thanks_tests.py
Due: Tests

[doc] update ROADMAP.rst and documentation
  ROADMAP.rst
  pywikibot/page/_wikibase.py
Due: Framework

pywikibot.scripts: Remove preload_sites.py
  docs/faq.rst
  docs/utilities/scripts.rst
  docs/utilities/scripts_ref.rst
  pywikibot/CONTENT.rst
  pywikibot/scripts/__init__.py
  pywikibot/scripts/preload_sites.py
Due: Framework

Add support for new wikis
  pywikibot/families/wikinews_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wiktionary_family.py
Due: Framework

[doc] Ipdate ROADMAP.rst
  ROADMAP.rst
Due: none

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
