Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

doc: redurce Furo version
  docs/requirements.txt
  pywikibot/__metadata__.py
Due: Framework

Add partial block detection for User and Site
  README.rst
  pywikibot/page/_user.py
  pywikibot/site/_apisite.py
  tests/user_tests.py
Due: Framework, Tests

doc: Update documentation in several files like ROADMAP.rst and AUTHORS.rst
  AUTHORS.rst
  README.rst
  ROADMAP.rst
  docs/compatibility.rst
  pywikibot/page/_user.py
  pywikibot/site/_apisite.py
  scripts/CHANGELOG.rst
Due: Framework, Scripts

Tests: Add a separate graalpy_tests action
  .github/workflows/graalpy_tests.yml
  .github/workflows/pywikibot-ci.yml
Due: none

cleanup: remove mock dependency for fasttest
  tox.ini
Due: none

tests: fix name of GraalPy tests
  .github/workflows/graalpy_tests.yml
Due: none

tests: Update dependencies for GraalPy tests
  .github/workflows/graalpy_tests.yml
Due: none

IMPR: Return the fully composed welcome text with get_welcome_text
  scripts/checkimages.py
  scripts/welcome.py
Due: Scripts

[tests] only use fast test without net access for GraalPy to decrease runtime
  .github/workflows/graalpy_tests.yml
Due: none

Tests: Update SET_NAMESPACE_TYPE_MSG for GraalPy
  tests/api_tests.py
Due: Tests

Tests: Skip script_tests for GraalPy
  .github/workflows/graalpy_tests.yml
Due: none

Tests: Do not test date_tests.TestDate with GraalPy
  .github/workflows/graalpy_tests.yml
Due: none

Tests: Make TestFamily.test_obsolete_readonly more robust
  tests/family_tests.py
Due: Tests

docs: add Getting Started for Contributors guide
  docs/getting_started_contributors.rst
  docs/index.rst
Due: none

IMPR: use RLock instead of Queue to signal async_manager activity
  ROADMAP.rst
  pywikibot/__init__.py
Due: Framework

IMPR: support Queue.shutdown() in Python 3.13+ with fallback for 3.9–3.12
  pywikibot/__init__.py
Due: Framework

doc: Update tests documentation
  pywikibot/login.py
  tests/README.rst
  tests/script_tests.py
Due: Framework, Tests

tests: update precommit-hooks
  .pre-commit-config.yaml
  pyproject.toml
  pywikibot/comms/http.py
  pywikibot/site/_datasite.py
  pywikibot/tools/_deprecate.py
Due: Framework

tests: Activate docsig SIG404 (param is not equal to arg)
  pyproject.toml
Due: none

doc: Update type hints for some http functions
  pywikibot/comms/http.py
Due: Framework

tests: Update action/checkout
  .github/workflows/doctest.yml
  .github/workflows/graalpy_tests.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
Due: none

IMPR: Update requirements.txt, dev-requirements.txt and setup.py
  ROADMAP.rst
  dev-requirements.txt
  requirements.txt
  setup.py
Due: none

tests: Remove commonscat from TestScriptGenerator._expected_failures
  tests/script_tests.py
Due: Tests

[CI] Exclude coverage for GraalPy 25 on Ubuntu
  .github/workflows/graalpy_tests.yml
Due: none

Tests: Fix pytest command line in graalpy_tests.yml
  .github/workflows/graalpy_tests.yml
Due: none

use bash with windows
  .github/workflows/graalpy_tests.yml
Due: none

tests: Simplify TestSiteObject.test_constructors test_list
  tests/site_tests.py
Due: Tests

IMPR: Add source links for properties
  docs/conf.py
Due: none

[doc] Retry using Sphinx 9
  docs/conf.py
  docs/requirements.txt
  pywikibot/__metadata__.py
Due: Framework

Tests: Do not run GraalPy tests with coverage on Windows
  .github/workflows/graalpy_tests.yml
Due: none

Tests: Do not run GraalPy tests on Windows
  .github/workflows/graalpy_tests.yml
  docs/compatibility.rst
  pyproject.toml
Due: none

doc: use autodoc legacy to prevent missing files
  docs/conf.py
Due: none

doc: temporary deactivate sphinx patches
  docs/conf.py
Due: none

Revert "doc: temporary deactivate sphinx patches"
  docs/conf.py
Due: none

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
