Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

[doc] Update ROADMAP.rst and CHANGELOG.rst
  HISTORY.rst
  ROADMAP.rst
  docs/api_ref/pywikibot.site.rst
  scripts/CHANGELOG.rst
Due: Scripts

Deprecate dataextend.py script
  docs/scripts/archive.rst
  scripts/CHANGELOG.rst
  scripts/dataextend.py
Due: Scripts

[fix] retry SparqlQuery.query on internal server error (500)
  pywikibot/data/sparql.py
Due: Framework

[test] fix message of TestReplacementsMain.test_pairs_file for pypy3.7
  tests/replacebot_tests.py
Due: Tests

[doc] update ROADMAP.rst and fix spelling mistake
  ROADMAP.rst
Due: none

[doc] Update HISTORY.rst
  HISTORY.rst
Due: none

[tests] Split wikibase_tests (step1)
  tests/_wikibase_tests.py
Due: Tests

[tests] Split wikibase_tests (step2)
  tests/wbtypes_tests.py
  tests/wikibase_tests.py
Due: Tests

[tests] Split wikibase_tests (step3)
  tests/wbtypes_tests.py
  tests/wikibase_tests.py
  tox.ini
Due: Tests

[doc] Fix doc strings about todo collection
  scripts/interwiki.py
Due: Scripts

[tests] add 'wbtypes' to library_test_modules set
  tests/__init__.py
Due: Tests

Announce support of MediaWiki < 1.23 is to be dropped
  pywikibot/site/_apisite.py
Due: Framework

[IMPR] Show a warning if Pywikibot is running with Python 3.7
  ROADMAP.rst
  docs/index.rst
  pywikibot/__init__.py
  tests/pwb_tests.py
  tests/utils.py
Due: Framework, Tests

[tests: Allow some scripts to fail
  tests/script_tests.py
Due: Tests

tests: timeout is not required for T379227
  tests/pwb_tests.py
Due: Tests

[tests] Ignore quotes in user name
  pywikibot/comms/eventstreams.py
Due: Framework

[tests] replace daglint2 tests with docsig
  .pre-commit-config.yaml
  pywikibot/data/api/_requests.py
  pywikibot/login.py
  pywikibot/page/_links.py
  pywikibot/page/_wikibase.py
  pywikibot/pagegenerators/_generators.py
  pywikibot/textlib.py
  tox.ini
Due: Framework

tests: autoupdate pre-commit - update ruff-pre-commit
  .pre-commit-config.yaml
Due: none

doc: update CONTENT.rst file
  CONTENT.rst
Due: none

tests: fix TestItemLoad tests after the label was changed
  tests/wikibase_tests.py
Due: Tests

tests: update pre-commit docsig
  .pre-commit-config.yaml
  pyproject.toml
Due: none

doc: update documentation for create_isbn_edition.py
  scripts/create_isbn_edition.py
Due: Scripts

Implement param with_sort_key in Page.categories()
  pywikibot/page/_basepage.py
  pywikibot/site/_generators.py
Due: Framework

doc: Update ROADMAP.rst and documentation of other files
  ROADMAP.rst
  pywikibot/page/_basepage.py
  pywikibot/site/_generators.py
Due: Framework

[tests] Add tests for BasePage.categories(with_sort_key=True)
  pywikibot/page/_basepage.py
  pywikibot/site/_generators.py
  tests/page_tests.py
Due: Framework, Tests

[IMPR] update create_isbn_edition.py
  scripts/create_isbn_edition.py
Due: Scripts

Enhance searching the item number from the ISBN number
  scripts/create_isbn_edition.py
Due: Scripts

call handle_args first to provide help message
  scripts/create_isbn_edition.py
Due: Scripts

[bugfix] Upcast to FilePage in PageGenerator.result()
  pywikibot/data/api/_generators.py
Due: Framework

[IMPR] Show a warning if ignore_extension was set and the extension is invalid.
  pywikibot/page/_filepage.py
Due: Framework

tests: ignore PyJWT version 2.10.0 with mwoauth
  .github/workflows/oauth_tests-ci.yml
Due: none

Update requirements
  .github/workflows/oauth_tests-ci.yml
  requirements.txt
  setup.py
Due: none

[IMPR] decrease nested flow statements in create_isbn_edition.py
  scripts/create_isbn_edition.py
Due: Scripts

[IMPR] use search_entities method in get_item_list function
  scripts/create_isbn_edition.py
Due: Scripts

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
