Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

[doc] Use Python 3.12 to create documentation
  docs/conf.py
  docs/requirements.txt
  tox.ini
Due: none

[tests] run lint tests with pypy
  tox.ini
Due: none

[CI] Add missing command for deeptest-py312
  tox.ini
Due: none

[tests] fix hacking tests
  tox.ini
Due: none

[tests] remove lint tests for Python 3.10-3.12; they are done by CI now
  .github/workflows/lint_tests.yml
Due: none

[CI] run fasttest with pypy
  tests/gui_tests.py
  tox.ini
Due: Tests

[tests] Add command for pypy3 hacking tests (py39)
  tox.ini
Due: none

[tests] remove pypy3 base python which is no longer needed
  tox.ini
Due: none

[fix] check whether tile exists first
  scripts/delinker.py
Due: Scripts

[IMPR] Add a hint to import missing module in wrapper.py
  pywikibot/scripts/wrapper.py
Due: Framework

[bugfix] initialize super classes of EditReplacementError
  pywikibot/specialbots/_unlink.py
Due: Framework

[scripts] restore unlink.py script
  scripts/_unlink.py
Due: Scripts

[scripts] rename unlink.py to preserve git history
  scripts/unlink.py
Due: Scripts

[IMPR] Recover unlink.py
  docs/scripts/archive.rst
  docs/scripts/unsorted.rst
  docs/scripts_ref/scripts.rst
  pywikibot/i18n.py
  scripts/CHANGELOG.rst
  scripts/README.rst
  scripts/unlink.py
Due: Framework, Scripts

[IMPR] add -category option to delinker.py
  scripts/delinker.py
Due: Scripts

[IMRP] Look for the lastest file deletion first.
  scripts/delinker.py
Due: Scripts

restore py39: python3.9
  tox.ini
Due: none

restore ability to generate docs with python < 3.11
  docs/conf.py
  docs/requirements.txt
Due: none

[doc] add role to enwiki to exlink dict
  docs/conf.py
Due: none

delinker: use difflib to find the closest image match
  scripts/delinker.py
Due: Scripts

diff: Add get_close_matches_ratio() function
  docs/licenses.rst
  pywikibot/diff.py
Due: Framework

[doc] use :wiki: role for documentation
  docs/glossary.rst
  docs/scripts/archive.rst
  pywikibot/family.py
  pywikibot/logging.py
  scripts/category.py
  scripts/create_isbn_edition.py
  tox.ini
Due: Framework, Scripts

unusedfiles: remove Flow support
  scripts/unusedfiles.py
Due: Scripts

[flow] deprecate flow extension support
  pywikibot/flow.py
  pywikibot/site/_extensions.py
  tests/flow_tests.py
Due: Framework, Tests

Updates for Moroccan Arabic (ary)
  scripts/unusedfiles.py
Due: Scripts

[doc] add missing language to code-block directive
  pywikibot/_wbtypes.py
  pywikibot/site/_datasite.py
  pywikibot/site/_extensions.py
Due: Framework

[doc] update documentation
  docs/introduction.rst
  docs/mwapi.rst
  pywikibot/scripts/__init__.py
  pywikibot/scripts/preload_sites.py
  pywikibot/scripts/shell.py
Due: Framework

[doc] update ROADMAP.rst and CHANGELOG.rst
  .rstcheck.cfg
  ROADMAP.rst
  scripts/CHANGELOG.rst
  tox.ini
Due: Scripts

[tests] install wikitextparser instead of mwparserfromhell for Python 3.13
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  requirements.txt
Due: none

[tests] install wikitextparser instead of mwparserfromhell for Python 3.13
  setup.py
Due: none

Fix spelling mistake
  pywikibot/diff.py
Due: Framework

Revert "[tests] remove pypy3 base python which is no longer needed"
  tox.ini
Due: none

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
