Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

---
codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: true
    patch:
      default:
        enabled: true
    changes:
      default:
        enabled: true
  ignore:
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - scripts/create_isbn_edition.py
    - scripts/userscripts/
    - tests/pwb/
  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:
  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

tests: Reuse links in preload tests
  tests/site_generators_tests.py
Due: Tests

tests: Reuse purge result in page test
  tests/page_tests.py
Due: Tests

imagetransfer: Parse chunk size as integer
  scripts/imagetransfer.py
  tests/imagetransfer_tests.py
Due: Tests, Scripts

families: Add support for all existing Beta Cluster wikis
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  docs/api_ref/families/1_family.rst
  docs/api_ref/families/2_overview.rst
  docs/api_ref/families/3_wikimedia_families.rst
  docs/api_ref/families/4_betawiki_families.rst
  docs/api_ref/families/5_other_families.rst
  docs/api_ref/index.rst
  pywikibot/__init__.py
  pywikibot/families/__init__.py
  pywikibot/families/betawikibooks_family.py
  pywikibot/families/betawikipedia_family.py
  pywikibot/families/betawikiquotes_family.py
  pywikibot/families/betawikisource_family.py
  pywikibot/families/betawikiversity_family.py
  pywikibot/families/betawikivoyage_family.py
  pywikibot/families/betawiktionary_family.py
  pywikibot/families/foundation_family.py
  pywikibot/families/incubator_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/family.py
  tests/family_tests.py
  tests/pagegenerators_tests.py
  tests/site_generators_tests.py
  tests/site_tests.py
Due: Framework, Tests

[docs] Remove sphinx.ext.napoleon due to RemovedInSphinx11Warning
  CODE_OF_CONDUCT.rst
  docs/conf.py
  pywikibot/time.py
  scripts/add_text.py
  scripts/category_graph.py
  scripts/delete.py
  scripts/harvest_template.py
  scripts/image.py
  scripts/maintenance/cache.py
  scripts/nowcommons.py
  scripts/protect.py
  scripts/replace.py
  scripts/template.py
  scripts/templatecount.py
  scripts/transferbot.py
  scripts/transwikiimport.py
  scripts/unlink.py
  scripts/weblinkchecker.py
  scripts/welcome.py
Due: Framework, Scripts

i18n: Remove unused plural parameter adapter
  pywikibot/i18n.py
Due: Framework

weblinkchecker: Remove unused URL exception
  scripts/weblinkchecker.py
Due: Scripts

tests: Remove unused error message constants
  tests/basesite_tests.py
  tests/bot_tests.py
  tests/http_tests.py
Due: Tests

tests: Remove unused namespace dictionaries
  tests/namespace_tests.py
Due: Tests

Replace legacy I/O exception aliases with OSError
  pywikibot/page/_filepage.py
  pywikibot/throttle.py
  pywikibot/tools/__init__.py
  scripts/category.py
  scripts/solve_disambiguation.py
  tests/djvu_tests.py
Due: Framework, Tests, Scripts

api: Avoid temporary sets when checking MIME parameter keys
  pywikibot/data/api/_requests.py
Due: Framework

Fix docstring in superset
  pywikibot/data/superset.py
Due: Framework

tests: Remove unused reflinks constructor argument capture
  tests/reflinks_tests.py
Due: Tests

interwiki: Remove unused configuration flags
  scripts/interwiki.py
Due: Scripts

Use removeprefix() and partition() instead of prefix slicing
  pywikibot/data/api/_optionset.py
  pywikibot/page/_user.py
  pywikibot/textlib.py
  pywikibot/tools/__init__.py
  scripts/fixing_redirects.py
  scripts/maintenance/cache.py
  scripts/template.py
  scripts/templatecount.py
  scripts/weblinkchecker.py
Due: Framework, Scripts

api: Standardize page-action summary parameters
  ROADMAP.rst
  pywikibot/page/_basepage.py
  pywikibot/page/_filepage.py
  pywikibot/site/_apisite.py
  pywikibot/site/_upload.py
  pywikibot/specialbots/_upload.py
  scripts/category.py
  scripts/delete.py
  scripts/imagetransfer.py
  scripts/movepages.py
  scripts/nowcommons.py
  scripts/protect.py
  scripts/redirect.py
  scripts/speedy_delete.py
  tests/deletionbot_tests.py
  tests/flaggedrevs_tests.py
  tests/page_tests.py
  tests/site_tests.py
  tests/upload_tests.py
Due: Framework, Tests, Scripts

tests: Fix upload offset mismatch test
  tests/upload_tests.py
Due: Tests

threading: Reject invalid ThreadList limits
  pywikibot/tools/threading.py
Due: Framework

tests: Fix oversized upload offset test
  tests/upload_tests.py
Due: Tests

category: Honor zero article limits before traversal
  pywikibot/page/_category.py
Due: Framework

tools: Replace strtobool value checks with constant mapping
  pywikibot/tools/__init__.py
Due: Framework

http: Avoid copying extra headers before merging
  pywikibot/comms/http.py
Due: Framework

tests: Fix repeatable non-chunked upload test
  tests/upload_tests.py
Due: Tests

tests: Correct file revision visibility assertions
  tests/site_tests.py
Due: Tests

site: Simplify patrol identifier guard
  pywikibot/site/_generators.py
Due: Framework

site: Cache supported CAPTCHA types
  pywikibot/site/_apisite.py
Due: Framework

tools: Avoid duplicate key evaluation in filter_unique
  pywikibot/tools/itertools.py
Due: Framework

superset: Validate schema before discovering the database
  pywikibot/data/superset.py
  tests/superset_tests.py
Due: Framework, Tests

threading: Release bounded capacity when submission fails
  pywikibot/tools/threading.py
  tests/tools_threading_tests.py
Due: Framework, Tests

threading: Propagate producer errors to generator consumers
  pywikibot/tools/threading.py
  tests/tools_threading_tests.py
Due: Framework, Tests

cache: Stream cache directory entries with os.scandir()
  scripts/maintenance/cache.py
  tests/cache_tests.py
Due: Tests, Scripts

wikistats: Isolate cached tables by server URL
  pywikibot/data/wikistats.py
Due: Framework

touch: Avoid recalculating cached purge rate limits
  scripts/touch.py
Due: Scripts

site: Stop pre-encoding API titles
  pywikibot/proofreadpage.py
  pywikibot/site/_apisite.py
  pywikibot/site/_extensions.py
  pywikibot/site/_generators.py
Due: Framework

filepage: Avoid duplicate revision updates
  pywikibot/page/_filepage.py
Due: Framework

tests: Replace assertRaises with assertRaisesRegex
  AUTHORS.rst
  tests/setup_tests.py
  tests/tools_threading_tests.py
Due: Tests

filepage: Avoid constructing cached file revisions again
  pywikibot/page/_filepage.py
Due: Framework

nowcommons: Reuse file usage results
  scripts/nowcommons.py
Due: Scripts

version: Avoid redundant package name splitting
  pywikibot/version.py
Due: Framework

tests: Replace assertRaises with assertRaisesRegex
  tests/editor_tests.py
  tests/uploadbot_tests.py
Due: Tests
