Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

---
codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: true
    patch:
      default:
        enabled: true
    changes:
      default:
        enabled: true
  ignore:
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - scripts/create_isbn_edition.py
    - scripts/userscripts/
    - tests/pwb/
  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:
  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

doc: update ROADMAP.rst
  ROADMAP.rst
  pywikibot/tools/__init__.py
Due: Framework

tests: Skip ApiTimeoutError for logentries tests on lobbypedia
  pywikibot/data/__init__.py
  pywikibot/data/api/_requests.py
  pywikibot/data/sparql.py
  pywikibot/exceptions.py
  pywikibot/page/_toolforge.py
  tests/logentries_tests.py
Due: Framework, Tests

[bugfix] Change test regex for full qualified link
  tests/flaggedrevs_tests.py
Due: Tests

tests: Use HTTPS for wpbeta family file generation in GitHub actions
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

filepage: Close streamed download responses
  pywikibot/page/_filepage.py
Due: Framework

tests: Add GraalPy 23.1 (Python 3.10) to the test matrix
  .github/workflows/graalpy_tests.yml
Due: none

tests: Skip patrol_tests if error.code is protectednamespace-interface
  tests/token_tests.py
Due: Tests

site: Yield non-strict unconnected pages
  pywikibot/site/_extensions.py
  tests/site_generators_tests.py
Due: Framework, Tests

[bugfix] Hash photo content as bytes in data_ingestion
  scripts/data_ingestion.py
Due: Scripts

wikibase: Reuse repository and page properties
  pywikibot/page/_wikibase.py
Due: Framework

api: Forward request context while waiting
  pywikibot/data/api/_requests.py
  tests/api_tests.py
Due: Framework, Tests

download_dump: Harden streamed downloads
  scripts/download_dump.py
  tests/__init__.py
  tests/download_dump_tests.py
Due: Tests, Scripts

wikibase: Reuse decoded reference claim IDs
  pywikibot/page/_wikibase.py
Due: Framework

newitem: Reuse server time snapshot
  scripts/newitem.py
Due: Scripts

pagegenerators: Reuse namespace during conversion
  pywikibot/pagegenerators/__init__.py
Due: Framework

datasite: Reuse qualifier snak type
  pywikibot/site/_datasite.py
Due: Framework

interwikidata: Avoid temporary singleton lists
  scripts/interwikidata.py
Due: Scripts

api: Reuse current user during userinfo checks
  pywikibot/data/api/_requests.py
Due: Framework

category_redirect: Reuse formatted category links
  scripts/category_redirect.py
Due: Scripts

pagegenerators: Preserve source page in quality filter
  pywikibot/pagegenerators/_filters.py
Due: Framework

datasite: Reuse entity identifiers
  pywikibot/site/_datasite.py
Due: Framework

upload: Close temporary download descriptor
  pywikibot/specialbots/_upload.py
Due: Framework

memento: Close created sessions on request errors
  pywikibot/data/memento.py
  tests/memento_tests.py
Due: Framework, Tests

editor: Close temporary descriptor before launch
  pywikibot/editor.py
  tests/editor_tests.py
Due: Framework, Tests

doc: Update ROADMAP.rst
  ROADMAP.rst
Due: none

solve_disambiguation: Filter first links linearly
  scripts/solve_disambiguation.py
Due: Scripts

[fix] raise ConnectionError for lost SOCKS connection
  pywikibot/comms/http.py
Due: Framework

release: publish Pywikibot 11.7.0
  pywikibot/__metadata__.py
Due: Framework

release: Prepare next release 11.8.0
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .pre-commit-config.yaml
  HISTORY.rst
  ROADMAP.rst
  dev-requirements.txt
  docs/requirements.txt
  pywikibot/__metadata__.py
  scripts/__init__.py
  scripts/pyproject.toml
Due: Framework, Scripts

checkimages: Reuse URL-formatted image title
  scripts/checkimages.py
Due: Scripts

[tests] cache GraalPy test dependencies
  .github/requirements/graalpy_tests.txt
  .github/workflows/graalpy_tests.yml
Due: none

Fix BasePage.exists documentation
  pywikibot/page/_basepage.py
Due: Framework

interwiki: Reuse disambiguation states
  scripts/interwiki.py
Due: Scripts

wikibase: Reuse collection key views
  pywikibot/page/_collections.py
Due: Framework

category_redirect: Reuse linked category title
  scripts/category_redirect.py
Due: Scripts

wikibase: Reuse qualifier identifier
  pywikibot/page/_wikibase.py
Due: Framework

weblinkchecker: Use deque for report queue
  scripts/weblinkchecker.py
Due: Scripts

checkimages: Reuse lowercased description
  scripts/checkimages.py
Due: Scripts
