Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - Users
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/preload_sites.py
    - pywikibot/scripts/version.py
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/userscripts/
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:

  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

doc: update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

IMPR: Remove unnecessary assignment before return statement
  pywikibot/_wbtypes.py
  pywikibot/comms/http.py
  pywikibot/cosmetic_changes.py
  pywikibot/diff.py
  pywikibot/page/_links.py
  pywikibot/pagegenerators/_generators.py
  pywikibot/proofreadpage.py
  pywikibot/site/_datasite.py
  pywikibot/site/_generators.py
  pywikibot/textlib.py
  pywikibot/time.py
  pywikibot/xmlreader.py
  scripts/category_graph.py
  scripts/create_isbn_edition.py
  scripts/noreferences.py
  scripts/nowcommons.py
  scripts/transwikiimport.py
  tests/link_tests.py
  tests/logentries_tests.py
  tests/memento_tests.py
  tests/script_tests.py
Due: Framework, Tests, Scripts

fix: fix yaml format using yamlfix
  .codecov.yml
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
  .pre-commit-config.yaml
Due: none

fix: adjust comment in yml files
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
Due: none

IMPR: use items() to iterate over bib_source dictionary
  scripts/create_isbn_edition.py
Due: Scripts

Test: set threshold for cyclomatic complexity to 50
  scripts/replace.py
  tox.ini
Due: Scripts

[IMPR] Fix import location
  pywikibot/cosmetic_changes.py
  pywikibot/date.py
Due: Framework

add option to append text at the bottom during replace runs
  scripts/replace.py
Due: Scripts

Add LPDB generator
  pywikibot/pagegenerators/__init__.py
  pywikibot/pagegenerators/_factory.py
  pywikibot/pagegenerators/_generators.py
Due: Framework

add option to append text at the bottom during replace runs (#2)
  scripts/replace.py
Due: Scripts

[tests] enable SiteRandomTestCase for beta sites
  tests/site_generators_tests.py
Due: Tests

tests: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

cleanup: remove ParamInfo._prefixes and ParamInfo._with_limits
  pywikibot/data/api/_paraminfo.py
Due: Framework

doc: add annotation fixes in link_tests
  tests/link_tests.py
Due: Tests

[IMPR] rename NON_LATIN_DIGITS to NON_ASCII_DIGITS
  HISTORY.rst
  pywikibot/cosmetic_changes.py
  pywikibot/date.py
  pywikibot/textlib.py
  pywikibot/userinterfaces/transliteration.py
  scripts/archivebot.py
  tests/textlib_tests.py
  tests/ui_tests.py
Due: Framework, Tests, Scripts

Tests: Fix git commands for copyright_fixer.py
  .pre-commit-config.yaml
  tests/hooks/copyright_fixer.py
Due: Tests

Add LP family file (#1)
  pywikibot/families/liquipedia_family.py
Due: Framework

[tests] make mypy tests mandatory for some files
  .pre-commit-config.yaml
  CONTENT.rst
  conftest.py
  pyproject.toml
  tox.ini
Due: none

IMPR: Use an IntEnum for standard file descriptors instead of integers
  pywikibot/daemonize.py
Due: Framework

[doc] update ROADMAP.rst and other document files
  ROADMAP.rst
  conftest.py
  docs/tests_ref/index.rst
  docs/tests_ref/precommit.rst
  docs/tests_ref/pytest.rst
  tests/hooks/__init__.py
  tests/hooks/copyright_fixer.py
Due: Tests

tests: Skip copyright test on github action pre-commit
  .github/workflows/pre-commit.yml
Due: none

IMPR: remove duplicate logic in add_claims
  scripts/create_isbn_edition.py
Due: Scripts

tests: Proceed Login CI tests wit all other actions are completed
  .github/workflows/login_tests-ci.yml
Due: none

tests: Update timeout for Login CI wait cycles
  .github/workflows/login_tests-ci.yml
Due: none

tests: use kachick/wait-other-jobs for the wait cycle
  .github/workflows/login_tests-ci.yml
Due: none

Add option to nuke all redirects into user space (#5)
  scripts/redirect.py
Due: Scripts

update beta.wmflabs.org to beta.wmcloud.org
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  pywikibot/families/commons_family.py
  pywikibot/families/wikidata_family.py
  pywikibot/families/wikisource_family.py
  tests/file_tests.py
  tests/http_tests.py
  tests/site_tests.py
  tests/utils.py
Due: Framework, Tests

doc: Expand thottle module description
  pywikibot/throttle.py
Due: Framework

update .wmflabs.org to .wmcloud.org
  tests/http_tests.py
Due: Tests

Tests: Increase timeout-minutes for oauth_tests-ci
  .github/workflows/oauth_tests-ci.yml
Due: none

tests: Ignore code parts from coverage
  conftest.py
  make_dist.py
  pyproject.toml
  pywikibot/scripts/__init__.py
  pywikibot/scripts/generate_family_file.py
  pywikibot/scripts/generate_user_files.py
  pywikibot/scripts/shell.py
Due: Framework

Tests: Update mypy patterns to make i18n_family tests mandatory
  .pre-commit-config.yaml
  conftest.py
Due: none

Tests: Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

[bugfix] use self.event_id instead of self.id for mark_as_read
  .pre-commit-config.yaml
  conftest.py
  pywikibot/echo.py
  pywikibot/site/_extensions.py
Due: Framework
