Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

---
codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: true
    patch:
      default:
        enabled: true
    changes:
      default:
        enabled: true
  ignore:
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - scripts/create_isbn_edition.py
    - scripts/userscripts/
    - tests/pwb/
  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:
  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

login: Reuse retry time snapshot
  pywikibot/login.py
  tests/login_tests.py
Due: Framework, Tests

wbtypes: Reuse data page title
  pywikibot/_wbtypes.py
  tests/wbtypes_tests.py
Due: Framework, Tests

itertools: Process union groups lazily
  pywikibot/tools/itertools.py
  tests/tools_tests.py
Due: Framework, Tests

page: Reuse title section
  pywikibot/page/_basepage.py
  tests/page_tests.py
Due: Framework, Tests

diff: Reuse similarity ratio
  pywikibot/diff.py
  tests/diff_tests.py
Due: Framework, Tests

pagegenerators: Reuse Wikidata dbname
  pywikibot/pagegenerators/_generators.py
  tests/pagegenerators_tests.py
Due: Framework, Tests

archivebot: Reuse ISO calendar date
  scripts/archivebot.py
  tests/archivebot_tests.py
Due: Tests, Scripts

welcome: Reuse user edit count
  scripts/welcome.py
  tests/welcome_tests.py
Due: Tests, Scripts

nowcommons: Avoid repeated filename stripping
  scripts/nowcommons.py
Due: Scripts

speedy_delete: Reuse subject page
  scripts/speedy_delete.py
  tests/__init__.py
  tests/speedy_delete_tests.py
Due: Tests, Scripts

commonscat: Reuse normalized page titles
  scripts/commonscat.py
  tests/__init__.py
  tests/commonscat_tests.py
Due: Tests, Scripts

wrapper: Remove unused loop variables
  pywikibot/scripts/wrapper.py
Due: Framework

site: Reuse current user in TokenWallet
  pywikibot/site/_tokenwallet.py
  tests/token_tests.py
Due: Framework, Tests

replace: Reduce complexity of main
  scripts/replace.py
  tests/replacebot_tests.py
Due: Tests, Scripts

tests: reduce code complexity threshold
  tox.ini
Due: none

tests: Use retained recentchanges data for time ranges
  tests/site_generators_tests.py
Due: Tests

welcome: Fix bad-account queue handling
  scripts/welcome.py
  tests/__init__.py
  tests/welcome_tests.py
Due: Tests, Scripts

reflinks: Pass PDF bytes directly to pdfinfo
  scripts/reflinks.py
  tests/reflinks_tests.py
Due: Tests, Scripts

Update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

uploadbot: Count successful uploads once
  pywikibot/specialbots/_upload.py
  tests/uploadbot_tests.py
Due: Framework, Tests

maxlag: Remove minimum retry limit from wait cycle
  pywikibot/data/api/_requests.py
Due: Framework

tools: Honor modes for uncompressed archives
  pywikibot/tools/__init__.py
  tests/tools_tests.py
Due: Framework, Tests

upload: Reuse warning response data
  pywikibot/site/_upload.py
Due: Framework

site: Read redirect page data directly
  pywikibot/site/_apisite.py
Due: Framework

interwiki: Safely filter foreign-family links
  scripts/interwiki.py
  tests/interwikibot_tests.py
Due: Tests, Scripts

api: Avoid copying request keys for slot checks
  pywikibot/data/api/_generators.py
Due: Framework

wikibase: Reuse sitelink badge sets
  pywikibot/page/_collections.py
Due: Framework

data_ingestion: Hash cached photo buffer
  scripts/data_ingestion.py
Due: Scripts

filepage: Write download chunks directly
  pywikibot/page/_filepage.py
Due: Framework

generate_family_file: Short-circuit local wiki lookup
  pywikibot/scripts/generate_family_file.py
Due: Framework

tests: Test pwb alternate selection directly
  tests/pwb_tests.py
Due: Tests

imports: reorder imports in try/except statement
  pywikibot/xmlreader.py
Due: Framework

tests: Synchronize bounded executor test
  tests/tools_threading_tests.py
Due: Tests

throttle: Centralize control file serialization
  pywikibot/throttle.py
  tests/__init__.py
  tests/throttle_tests.py
Due: Framework, Tests

tools: Reduce merge_unique_dicts allocations
  pywikibot/tools/__init__.py
Due: Framework

tests: Synchronize page locking test
  tests/site_tests.py
Due: Tests

archivebot: Avoid retaining preloaded pages
  scripts/archivebot.py
Due: Scripts

site_detect: Parse legacy versions lazily
  pywikibot/site_detect.py
Due: Framework
