Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

---
codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: true
    patch:
      default:
        enabled: true
    changes:
      default:
        enabled: true
  ignore:
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - scripts/create_isbn_edition.py
    - scripts/userscripts/
    - tests/pwb/
  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:
  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

mypy: fix mypy issues in page/_user.py
  .pre-commit-config.yaml
  conftest.py
  pywikibot/page/_user.py
Due: Framework

cleanup: remove deprecated code parts and update ROADMAP.rst
  ROADMAP.rst
  pywikibot/exceptions.py
  pywikibot/site/_apisite.py
  pywikibot/textlib.py
  pywikibot/throttle.py
Due: Framework

Fix(superset): Prevent login loop with unsupported auth methods
  pywikibot/data/superset.py
Due: Framework

mypy: fix mypy issues in tools/itertools.py
  .pre-commit-config.yaml
  conftest.py
  pywikibot/tools/itertools.py
Due: Framework

tests: avoid Pytest 9.0.0
  .github/workflows/doctest.yml
  dev-requirements.txt
  tests/README.rst
  tox.ini
Due: Tests

pre-commit: remove markdown-linebreak-ext=rst option
  .pre-commit-config.yaml
Due: none

superset: add attention admonition for account requirements
  AUTHORS.rst
  pywikibot/data/superset.py
Due: Framework

tests: update pre-commit hooks
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  tox.ini
Due: none

tests: remove experimental run for pre-commit with Python 3.15
  .github/workflows/pre-commit.yml
Due: none

[IMPR] Update Dockerfile to Python 3.12
  Dockerfile
  Dockerfile-dev
Due: none

tests: always use actions/setup-python to install Python releases
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
Due: none

unicodedata: Update tools/_unidata.py to unicode version 17.0.0
  pywikibot/tools/_unidata.py
Due: Framework

IMPR: show friendly install message when mandatory packages are missing
  pywikibot/scripts/wrapper.py
Due: Framework

[IMPR] remove complex binary expressions in interwiki.Subject
  scripts/interwiki.py
Due: Scripts

Tests: allow Python pre-releases in version.py package path check
  pywikibot/version.py
Due: Framework

[IMPR] respect the ``-namespace`` option with ``-page`` option
  scripts/archivebot.py
Due: Scripts

Fix pywikibot.exceptions.ServerError: 502
  ROADMAP.rst
  pywikibot/data/api/_requests.py
Due: Framework

doc: update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  scripts/CHANGELOG.rst
Due: Scripts

cleanup: remove Python 3.7 issue
  pywikibot/time.py
Due: Framework

tests: update pytest dependency
  dev-requirements.txt
  tox.ini
Due: none

Add kywiki and kaawikt to welcome.py
  scripts/welcome.py
Due: Scripts

tox: update comment string
  tox.ini
Due: none

doc: update AUTHORS.rst
  AUTHORS.rst
Due: none

tests: update coverage settings
  pywikibot/scripts/generate_family_file.py
  tests/logentries_tests.py
  tests/script_tests.py
  tests/site_detect_tests.py
Due: Framework, Tests

SEC: parse password lines as literals & update default PASS_BASENAME
  pywikibot/login.py
  pywikibot/scripts/generate_user_files.py
  tests/generate_user_files_tests.py
  tests/login_tests.py
Due: Framework, Tests

scripts: Add 'uk' locales to noreferences.py and reflinks.py
  scripts/noreferences.py
  scripts/reflinks.py
Due: Scripts

[10.7.1] Publish 10.7.1 stable release
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/_wbtypes.py
Due: Framework

doc: Update documentation after stable 10.7.1 release
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
Due: Framework

Add support for tokwiki
  pywikibot/families/wikipedia_family.py
Due: Framework

[10.7.2] Add support for tokwiki and publish 10.7.2 release
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  pywikibot/families/wikipedia_family.py
Due: Framework

doc: Update documentation after stable 10.7.2 release
  HISTORY.rst
  pywikibot/__metadata__.py
Due: Framework
