Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - Users
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/preload_sites.py
    - pywikibot/scripts/version.py
    - scripts/dataextend.py
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/userscripts/
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:

  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

[tests] require coverage >= 7.6.10 with Python 3.9+
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  dev-requirements.txt
Due: none

tests: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

tests: enable multiline exclusions with coverage (7.6.0+)
  pyproject.toml
Due: none

IMPR: save the talk page in asynchronous mode if ``-async`` option was given
  scripts/archivebot.py
Due: Scripts

cleanup: remove unintentional *args in ThreadList
  pywikibot/tools/threading.py
Due: Framework

backports: remove deprecation and declare not public API
  pywikibot/backports.py
Due: Framework

tests: update precommit hooks
  .pre-commit-config.yaml
Due: none

fix: Fix mangling screen messages in -async mode
  pywikibot/bot.py
  scripts/archivebot.py
Due: Framework, Scripts

[IMPR] use default timeout uf 30 s in MementoClient.request_head
  pywikibot/data/memento.py
  tests/memento_tests.py
Due: Framework, Tests

coverage: update coverage in deletionbot_tests.py
  tests/deletionbot_tests.py
Due: Tests

tests: update memento_tests.py
  tests/memento_tests.py
Due: Tests

[IMPR] Improvements for require_version decorator
  tests/aspects.py
  tests/tests_tests.py
Due: Tests

[bugfix] Fix an f-string
  pywikibot/page/_wikibase.py
Due: Framework

tests: memento is not deterministic, therefore the result cannot be tested
  tests/memento_tests.py
Due: Tests

cleanup: remove old deprecation variables
  pywikibot/config.py
Due: Framework

tests: Update coverage
  tests/aspects.py
Due: Tests

tests: Remove test for 'text/x-collabkit' in paraminfo_tests
  tests/paraminfo_tests.py
Due: Tests

doc: update ROADMAP.rst and CHANGELOG.rst
  ROADMAP.rst
  pywikibot/backports.py
  pywikibot/bot.py
  scripts/CHANGELOG.rst
Due: Framework, Scripts

tests: Re-enable RC-tests on wikidata
  tests/site_generators_tests.py
Due: Tests

tests: re-enable generate_family_file_tests for wsbeta
  tests/generate_family_file_tests.py
Due: Tests

tests: ignore empty message warning in eventstreams.py
  pywikibot/comms/eventstreams.py
Due: Framework

[FIX] Fix <<default>> color tag
  pywikibot/__init__.py
  pywikibot/userinterfaces/terminal_interface_base.py
  tests/ui_tests.py
Due: Framework, Tests

[IMPR] Simplify colorTagR
  pywikibot/userinterfaces/terminal_interface_base.py
Due: Framework

[IMPR] updating templates used in ru.wiki
  scripts/clean_sandbox.py
Due: Scripts

Update to match the text used on wiki
  scripts/clean_sandbox.py
Due: Scripts

tests: update doctest for LexemePage
  pywikibot/page/_wikibase.py
Due: Framework

[doc] Update LICENSE
  LICENSE
Due: none

L10n: update cross_allowed lists
  pywikibot/families/wikibooks_family.py
  pywikibot/families/wikinews_family.py
  pywikibot/families/wikipedia_family.py
  pywikibot/families/wikiquote_family.py
  pywikibot/families/wikisource_family.py
  pywikibot/families/wikiversity_family.py
  pywikibot/families/wikivoyage_family.py
  pywikibot/families/wiktionary_family.py
Due: Framework

rm extra point
  scripts/clean_sandbox.py
Due: Scripts

Add support for kncwiki
  pywikibot/families/wikipedia_family.py
Due: Framework
