Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: yes
    patch:
      default:
        enabled: yes
    changes:
      default:
        enabled: yes

  ignore:
    - Users
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - pywikibot/scripts/preload_sites.py
    - pywikibot/scripts/version.py
    - scripts/maintenance/colors.py
    - scripts/maintenance/make_i18n_dict.py
    - scripts/userscripts/
    - tests/pwb/

  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:

  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

[10.1] Publish Pywikibot 10.1
  pywikibot/__metadata__.py
Due: Framework

[10.2] Prepare next release
  HISTORY.rst
  ROADMAP.rst
  pywikibot/__metadata__.py
  scripts/__init__.py
  scripts/pyproject.toml
Due: Framework, Scripts

tests: Update deadsnake/action release in doctest.yml
  .github/workflows/doctest.yml
Due: none

IMPR: use the new compression module which introduced with Python 3.14
  pywikibot/tools/__init__.py
Due: Framework

Tests: Drop codeclimate maintainability
  .codeclimate.yml
  README.rst
Due: none

doc: Update documentation
  HISTORY.rst
  pywikibot/page/_user.py
  pywikibot/tools/__init__.py
Due: Framework

tests: test Pywikibot with Python 3.15-dev
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pywikibot-ci.yml
Due: none

tests: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

IMPR: replace codecs.open with pathlib.Path in pywikibot/bot.py
  pywikibot/bot.py
Due: Framework

IMPR: replace codecs.open with stdlib open in pagegenerators/_generators.py
  pywikibot/pagegenerators/_generators.py
Due: Framework

IMPR: replace codecs.open with Path.write_text in generate_family_file
  pywikibot/scripts/generate_family_file.py
Due: Framework

IMPR: use pathlib methods in generate_user_file
  pywikibot/scripts/generate_user_files.py
Due: Framework

[doc] Fix documentation of Page.getDeletedRevision()
  pywikibot/page/_basepage.py
Due: Framework

IMPR: use pathlib methods in version script
  pywikibot/scripts/version.py
Due: Framework

IMPR: replace codecs.open with open in category script
  scripts/category.py
Due: Scripts

IMPR: use pathlib methods in add_text script
  scripts/add_text.py
  tests/add_text_tests.py
Due: Tests, Scripts

IMPR: move tools.threading.RLock to backports module
  docs/api_ref/tools/tools.threading.rst
  pywikibot/backports.py
  pywikibot/tools/threading.py
  pywikibot/userinterfaces/terminal_interface_base.py
Due: Framework

IMPR: Only show the description passed to the if it is to be verified
  pywikibot/specialbots/_upload.py
Due: Framework

IMPR: replace codecs.open() with open() or pathlib methods in interwiki.py
  scripts/interwiki.py
Due: Scripts

IMPR: replace codecs.open() with builtin open() function in data_ingestion.py
  scripts/data_ingestion.py
Due: Scripts

[IMPR] use i18n.translate instead of dictonaries directly.
  pywikibot/cosmetic_changes.py
  scripts/category.py
  scripts/commonscat.py
  scripts/imagetransfer.py
  scripts/interwiki.py
  scripts/solve_disambiguation.py
Due: Framework, Scripts

IMPR: replace codecs.open with pathlib.Path in LoginManager.readPassword
  pywikibot/login.py
  pywikibot/tools/__init__.py
  tests/login_tests.py
Due: Framework, Tests

tests: Temporary let TestSupersetWithAuth.test_login_and_oauth_permission fail
  tests/superset_tests.py
Due: Tests

qlty: Update yml formatting and update oauth_tests for Python 3.15
  .github/workflows/doctest.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
  .pre-commit-config.yaml
Due: none

IMPR: decrease deeply nested flow in _category.py and _wikibase.py
  pywikibot/page/_category.py
  pywikibot/page/_wikibase.py
Due: Framework

tests: update type hints and use a constant for several identical messages
  tests/aspects.py
Due: Tests

[bugfix] Fix is_symlink method call
  pywikibot/login.py
Due: Framework

IMPR: Enable EmailAuth with Pywikibot
  pywikibot/login.py
Due: Framework

IMPR: replace codecs.open() with pathlib methods in pagefromfile.py
  scripts/pagefromfile.py
Due: Scripts

IMPR: replace codecs.open() with pathlib methods in make_i18n_dict.py
  scripts/maintenance/make_i18n_dict.py
Due: Scripts

IMPR: replace codecs.open() with open() in parser_function_count.py
  scripts/parser_function_count.py
Due: Scripts

[bugfix] Fix missing commas in noreferences.py and dry_api_tests.py
  scripts/noreferences.py
  tests/dry_api_tests.py
  tests/wikiblame_tests.py
Due: Tests, Scripts

[tests] remove unused local variable in superset_tests.py
  tests/superset_tests.py
Due: Tests

tests: TestDeletionBotUser.test_delete_mark works again
  tests/deletionbot_tests.py
Due: Tests
