Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

Deprecate BasePage.getOldVersion
  pywikibot/page/_basepage.py
  scripts/revertbot.py
  tests/page_tests.py
Due: Framework, Tests, Scripts

[bugfix] Avoid duplicate page references
  pywikibot/page/_basepage.py
  pywikibot/site/_generators.py
  tests/site_generators_tests.py
Due: Framework, Tests

APISite.blocks: Add show filters
  AUTHORS.rst
  pywikibot/site/_generators.py
  tests/site_generators_tests.py
Due: Framework, Tests

tests: Add TimeoutExpired to utils.execute result
  tests/aspects.py
  tests/pwb_tests.py
  tests/script_tests.py
  tests/utils.py
Due: Tests

doc: update ROADMAP.rst
  ROADMAP.rst
Due: none

tests: skip TestScriptGenerator on TimeoutExpired
  tests/script_tests.py
Due: Tests

tests: Fix TestPwb.test_one_similar_script test
  tests/pwb_tests.py
Due: Tests

tests: update actions/setup-python
  .github/workflows/doctest.yml
  .github/workflows/graalpy_tests.yml
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pywikibot-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
  .github/workflows/windows_tests.yml
Due: none

tests: update re-commit hooks
  .pre-commit-config.yaml
Due: none

Add new function review_revision() to pywikibot/site/ _apisite.py
  pywikibot/data/api/_requests.py
  pywikibot/site/_extensions.py
  tests/flaggedrevs_tests.py
Due: Framework, Tests

tests: remove www.thelemapedia.org from site_detect_tests.py test matrix
  tests/site_detect_tests.py
Due: Tests

FlaggedRevs: Add BasePage.review and BasePage.unreview
  pywikibot/page/_basepage.py
  tests/flaggedrevs_tests.py
Due: Framework, Tests

Remove DefaultDrySiteTest and replace it's usage wir dry = True
  tests/api_tests.py
  tests/aspects.py
  tests/dry_api_tests.py
  tests/dry_site_tests.py
  tests/echo_tests.py
  tests/link_tests.py
  tests/login_tests.py
  tests/page_tests.py
  tests/patrolbot_tests.py
  tests/site_tests.py
  tests/siteinfo_tests.py
  tests/textlib_tests.py
Due: Tests

tests: import unittest directly instead from aspects
  tests/bot_tests.py
  tests/oauth_tests.py
  tests/paraminfo_tests.py
Due: Tests

tests: Rename AlteredDefaultSiteTestCase to SiteConfigTestCase
  tests/aspects.py
  tests/interwiki_link_tests.py
  tests/interwikidata_tests.py
  tests/link_tests.py
  tests/site_tests.py
Due: Tests

upload: Avoid unnecessary Site creation in UploadRobot
  pyproject.toml
  pywikibot/specialbots/_upload.py
  tests/uploadbot_tests.py
Due: Framework, Tests

tests: do not run execute_pwb on GraalPy with coverage enabled
  tests/utils.py
Due: Tests

tests: Fix graalpy test matrix
  .github/workflows/graalpy_tests.yml
Due: none

Update AUTHORS.rst
  AUTHORS.rst
Due: none

tests: Isolate make_dist command-line arguments
  tests/make_dist_tests.py
Due: Tests

[bugfix] interwiki.py: Graph is often not created in -auto mode
  scripts/interwiki.py
Due: Scripts

welcome: Close signature file on read errors
  scripts/welcome.py
  tests/welcome_tests.py
Due: Tests, Scripts

weblinkchecker: Initialize XML start value
  scripts/weblinkchecker.py
  tests/weblinkchecker_tests.py
Due: Tests, Scripts

wbtypes: Remove redundant integer conversion
  pywikibot/_wbtypes.py
Due: Framework

diff: Simplify trailing newline removal
  pywikibot/diff.py
Due: Framework

djvu: Simplify control character cleanup return
  pywikibot/tools/djvu.py
Due: Framework

checkimages: Simplify license exclusion
  scripts/checkimages.py
Due: Scripts

archivebot: Remove redundant global declaration
  scripts/archivebot.py
Due: Scripts

pagefromfile: Simplify summary fallback
  scripts/pagefromfile.py
Due: Scripts

tracking_param_remover: Return URL directly
  scripts/tracking_param_remover.py
Due: Scripts

docs: Fix additional typos
  pywikibot/bot_choice.py
  pywikibot/data/superset.py
  pywikibot/date.py
  pywikibot/family.py
  pywikibot/logentries.py
  pywikibot/page/_basepage.py
  pywikibot/page/_filepage.py
  pywikibot/scripts/wrapper.py
  pywikibot/site/_apisite.py
  pywikibot/site/_generators.py
  pywikibot/site/_siteinfo.py
  pywikibot/tools/formatter.py
  pywikibot/version.py
  scripts/add_text.py
  scripts/checkimages.py
  scripts/commonscat.py
  scripts/interwiki.py
  scripts/transwikiimport.py
  tests/api_tests.py
  tests/file_tests.py
  tests/http_tests.py
  tests/interwikidata_tests.py
  tests/link_tests.py
  tests/proofreadpage_tests.py
  tests/tools_threading_tests.py
Due: Framework, Tests, Scripts

wikiwho: Simplify helper returns
  pywikibot/page/_toolforge.py
Due: Framework

replace: Return MySQL regex directly
  scripts/replace.py
Due: Scripts

unidata: Return exception mapping directly
  scripts/maintenance/unidata.py
Due: Scripts

docs: Fix obvious typos
  pywikibot/__init__.py
  pywikibot/comms/http.py
  pywikibot/data/superset.py
  pywikibot/family.py
  pywikibot/i18n.py
  pywikibot/page/_user.py
  pywikibot/site/_datasite.py
  pywikibot/site/_generators.py
  pywikibot/textlib.py
  pywikibot/throttle.py
  pywikibot/time.py
  pywikibot/userinterfaces/terminal_interface_win32.py
  scripts/noreferences.py
  scripts/solve_disambiguation.py
  tests/pagegenerators_tests.py
Due: Framework, Tests, Scripts

site: Return abuse log generator directly
  pywikibot/site/_generators.py
Due: Framework

cosmetic_changes: Simplify final returns
  pywikibot/cosmetic_changes.py
Due: Framework

site: Reuse watchlist page namespace
  pywikibot/site/_generators.py
  tests/site_generators_tests.py
Due: Framework, Tests

logentries: Reuse block expiry
  pywikibot/logentries.py
Due: Framework

Path conditions:
  Framework: any of: pywikibot/**
  Tests: any of: tests/**
  Scripts: any of: scripts/**
