Repository wikimedia/pywikibot: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Tests, Scripts

.codecov.yml:

---
codecov:
  bot: jayvdb
  max_report_age: 48
  strict_yaml_branch: master

coverage:
  precision: 1
  round: up
  range: 75..95
  status:
    project:
      default:
        enabled: true
    patch:
      default:
        enabled: true
    changes:
      default:
        enabled: true
  ignore:
    - pywikibot/daemonize.py
    - pywikibot/families/__init__.py
    - scripts/create_isbn_edition.py
    - scripts/userscripts/
    - tests/pwb/
  notify:
    irc:
      default:
        server: libera.chat
        channel: pywikibot

component_management:
  individual_components:
    - component_id: Framework
      paths:
        - pywikibot/**
    - component_id: Tests
      paths:
        - tests/**
    - component_id: Scripts
      paths:
        - scripts/**

doc: Fall back to Sphinx 8.2.3 to enable online documentation again
  docs/conf.py
  docs/requirements.txt
Due: none

Fix Docsig's SIG402 issues
  pyproject.toml
  pywikibot/page/_basepage.py
  pywikibot/pagegenerators/_generators.py
  pywikibot/site/_apisite.py
  pywikibot/site/_datasite.py
  pywikibot/site/_generators.py
  pywikibot/tools/__init__.py
Due: Framework

FIX: Handle limit value gracefully if it is an int
  pywikibot/data/api/_requests.py
Due: Framework

FIX: headers retry_after may be int or float
  pywikibot/comms/http.py
Due: Framework

Cleanup: Remove deprecation warning for config.user_agent_format
  pywikibot/config.py
Due: Framework

[IMPR] BaseSite.__getattr__: Use direct __code__ inspection for performance
  docs/api_ref/pywikibot.site.rst
  pywikibot/site/_basesite.py
Due: Framework

tests: Fix GraalPy Error message in BoundedThreadPoolTests
  tests/tools_threading_tests.py
Due: Tests

Tests: Skip resp.apparent_encoding test in CharsetTestCase for GraalPy
  tests/http_tests.py
Due: Tests

Tests: Skip test_one_similar_script and test_similar_scripts for GraalPy
  tests/pwb_tests.py
Due: Tests

doc: Add typing information and improve docstring for Request._http_request
  pywikibot/data/api/_requests.py
Due: Framework

IMPR: Add user-agent to message if Non-JSON response received from server
  pywikibot/data/api/_requests.py
Due: Framework

Tests: Skip CharsetTestCase.test_invalid_charset test for GraalPy
  tests/http_tests.py
Due: Tests

tests: Fix flaky test_watch by using polling instead of fixed sleep
  AUTHORS.rst
  tests/page_tests.py
Due: Tests

Tests: Skip TestPwb.test_script_not_found fro GraalPy
  tests/pwb_tests.py
Due: Tests

Tests: Fix BoundedThreadPoolTests.test_exceptions regex to match line break
  tests/tools_threading_tests.py
Due: Tests

[doc] Update LICENSE
  LICENSE
Due: none

families: Add support for meta.wikimedia.beta.wmcloud.org
  pywikibot/families/meta_family.py
Due: Framework

doc: Update ROADMAP.rst and AUTHORS.rst
  AUTHORS.rst
  ROADMAP.rst
Due: none

Fix: Do not raise UnknownExtensionError on non-Wikibase sites
  pywikibot/site/_apisite.py
  scripts/archivebot.py
  tests/wikibase_tests.py
Due: Framework, Tests, Scripts

Fix docstrings
  pywikibot/__init__.py
  pywikibot/_wbtypes.py
  pywikibot/bot.py
  pywikibot/comms/eventstreams.py
  pywikibot/date.py
  pywikibot/diff.py
  pywikibot/logentries.py
  pywikibot/login.py
  pywikibot/page/_basepage.py
  pywikibot/page/_collections.py
  pywikibot/page/_filepage.py
  pywikibot/page/_links.py
  pywikibot/page/_user.py
  pywikibot/page/_wikibase.py
  pywikibot/pagegenerators/_filters.py
  pywikibot/pagegenerators/_generators.py
  pywikibot/proofreadpage.py
  pywikibot/scripts/generate_user_files.py
  pywikibot/site/_apisite.py
  pywikibot/site/_basesite.py
  pywikibot/site/_extensions.py
  pywikibot/site/_generators.py
  pywikibot/textlib.py
  pywikibot/time.py
  pywikibot/tools/__init__.py
  pywikibot/tools/_deprecate.py
  pywikibot/tools/djvu.py
Due: Framework

tests: Adjust timeout for windows_tests github action
  .github/workflows/windows_tests.yml
Due: none

tests: Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

[IMPR] use global -code instead of -lang to determine a site
  .github/workflows/login_tests-ci.yml
  .github/workflows/oauth_tests-ci.yml
  .github/workflows/pywikibot-ci.yml
  HISTORY.rst
  pywikibot/bot.py
  pywikibot/page/_basepage.py
  pywikibot/scripts/generate_user_files.py
  pywikibot/scripts/login.py
  pywikibot/scripts/wrapper.py
  scripts/coordinate_import.py
  scripts/harvest_template.py
  scripts/replicate_wiki.py
  scripts/transferbot.py
  tests/README.rst
  tox.ini
Due: Framework, Tests, Scripts

decrease wait cycles and increas wait time for test_watch
  tests/page_tests.py
Due: Tests

IMPR: Use environment variables is usernames aren't within config.py
  pywikibot/comms/http.py
Due: Framework

cleanup: SVN support was already dropped. Remove hints from documentations.
  pywikibot/README.rst
  pywikibot/version.py
  tests/http_tests.py
Due: Framework, Tests

tests: Fix ua format string tests for user names
  tests/dry_site_tests.py
  tests/http_tests.py
Due: Tests

tests: Fix ua format string result for in TestDrySite.test_user_agent
  tests/dry_site_tests.py
Due: Tests

Tests: Increas test time for sysop_write_tests-ci.yml
  .github/workflows/sysop_write_tests-ci.yml
Due: none

FIX: Remove invisible chars from Section.heading
  pywikibot/textlib.py
Due: Framework

welcome: Check whether the script is localized within WelcomeBot initializer
  scripts/welcome.py
Due: Scripts

Remove protocol swapping in api.Request
  ROADMAP.rst
  pywikibot/data/api/_requests.py
Due: Framework

doc: Update documentation for api.Request
  pywikibot/data/api/_requests.py
Due: Framework

get_delay: consider retry_after in delay calculation
  pywikibot/throttle.py
Due: Framework

Optimize SubCategoriesPageGenerator (fix error too many requests)
  pywikibot/pagegenerators/_generators.py
Due: Framework

IMPR: Use singledispatchmethod with SiteLinkCollection.normalizeData
  pywikibot/page/_collections.py
Due: Framework

IMPR: Update signature for PatchManager
  pywikibot/diff.py
Due: Framework
